@import './assets/scss/vars';
@import './assets/scss/mixins';

.list {
  display: grid;
  grid-auto-rows: minmax(20px, min-content);
  grid-gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;

  &.depth-1 {
    margin: 10px 10px 10px 30px;

    .list {
      margin-left: 8px;
      padding-left: 8px;
      border-left: 1px solid $color-5;
    }
  }
}

.item {
  &-btn {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-gap: 10px;
    align-items: center;
    width: 100%;

    &:hover {
      .item-content {
        color: $color-green;
      }
    }
  }

  &-image {
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 4px;
    border: 1px solid $color-7;
    flex-shrink: 0;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }

  &-name {
    line-height: 125%;
  }

  &-count {
    margin: 2px 0 0 5px;
    font-size: 14px;
    color: $color-4;
  }

  &-icon {
    opacity: 0;
  }

  &.has-children {
    .item-icon {
      opacity: 1;
    }
  }

  &-children {
    // padding: 20px 0 20px 0;
    // margin-left: 30px;
    // // width: calc(100% - 20px);
    // border-left: 1px solid $color-5;

    // .item-btn {
    //   padding: 0 10px;

    //   :deep(.item-btn) {
    //     .icon-faker  {
    //       display: none;
    //     }
    //   }
    // }
  }
}

.icon-faker {
  width: 16px;
  height: 16px;
}