.deliveries {
  margin-bottom: 30px;
  @include tablet {
    margin-bottom: 50px;
  }
  @include desktop {
    margin-bottom: 75px;
  }
}
.delivery {
  line-height: 165%;
  :deep(p),
  p {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}