@import './assets/scss/vars';
@import './assets/scss/mixins';

.support {
  text-align: center;

  @include _tablet {
    text-align: left;
  }
}

.lottie {
  &-wrapper {
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: -20px;
  }
}

.title {
  margin-bottom: 5px;
  font-weight: 600;
}

.desc {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 145%;
  color: $color-3;
}

.phone {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

.all-contacts {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  font-weight: 600;

  @include _tablet {
    justify-content: flex-start;
  }
}

