@import './assets/scss/vars';
@import './assets/scss/mixins'; 

.slider {
  &-wrapper {
    // display: grid;
    // grid-template-rows: minmax(0, 1fr) min-content;
    // grid-gap: 15px;
    width: 100%;
    height: 100%;
  }
}

.list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 3;

  @include _tablet {
    position: relative;
    top: initial;
    left: initial;
    height: 100%;
    transform: translateY(0);
  }
}

.list-ul {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(min-content, auto);
  grid-auto-rows: 100%;
  max-width: fit-content;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
}

.item {
  position: relative;
  flex-shrink: 0;
  opacity: 1;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.pagination {
  position: relative;
  width: calc(100vw - 30px);
  left: 15px;
  justify-content: center;

  @include _tablet {
    position: relative;
    bottom: initial;
    left: initial;
    width: min-content;
    margin: 40px auto 0 auto;
  }
}