.profile {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 15px;
  align-items: center;
  @include desktop {
    grid-template-columns: 70px 1fr;
  }
  &-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: $radius;
    overflow: hidden;
    @include desktop {
      width: 70px;
      height: 70px;
    }
  }
  &-data {
    display: grid;
    grid-gap: 5px;
    font-size: 14px;
    line-height: 100%;
    @include desktop {
      grid-gap: 7px;
    }
  }
  &-name {
    text-transform: uppercase;
    font-weight: 700;
  }
  &-email {
    height: 16px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: $color-3;
    @include desktop {
      height: 16px;
      font-size: 16px;
    }
  }
}