@import './assets/scss/vars';
@import './assets/scss/mixins';

.input__wrapper {
  position: relative;
  display: block;
  width: 100%;
  line-height: 0;

  &.disabled {
    pointer-events: none;

    .main-textarea {
      pointer-events: none;
    }
  }

  &.error {
    .main-textarea {
      border: 2px solid rgba($color-red, 0.4);
    }
  }
}


.main-textarea {
  width: 100%;
  padding: 14px 15px !important;
  border: 2px solid $color-5;
  background: $color-8;
  resize: none;
  line-height: 135%;
  border-radius: $radiusBtn;
  outline-color: rgba($color-primary, 0.2);

  &::placeholder {
    color: $color-4;
  }
}