.input__wrapper {
  position: relative;
  display: block;
  width: 100%;
  line-height: 0;
  &.disabled {
    pointer-events: none;
    .main-textarea {
      pointer-events: none;
    }
  }
  &.error {
    .main-textarea {
      border: 2px solid rgba($color-red, 0.85);
    }
  }
}
.main-textarea {
  width: 100%;
  padding: 13px 15px !important;
  border: 1px solid $color-4;
  background: $color-8;
  min-height: 50px;
  resize: none;
  line-height: 135%;
  border-radius: $radiusBtn;
  outline-color: rgba($color-green, 0.85);
  &::placeholder {
    color: $color-3;
  }
}