.wallet-details {

  .details-section {
    margin-bottom: 30px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  .section-title {
    padding: 0 0 10px 0;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 0;
    border-bottom: 1px solid $color-border;
  }

  .detail-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    
    &:last-child {
      padding-bottom: 0;
    }
  }

  .label {
    color: $color-3;
    font-weight: 500;
  }

  .value {
    font-weight: 600;
    text-align: right;
    
    &.status-paid {
      color: #28a745;
      font-weight: 600;
    }
    
    &.status-unpaid {
      color: #dc3545;
      font-weight: 600;
    }
  }
}