$line-width: 20px;
$line-color: #e7d5b7;
$highlight-color: #206556;
$radius: 150px;
$radius-mobile: 100px;
$step-circle-size: 320px;

.timeline-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f0e2ca;
  padding: 100px 0;
  overflow: hidden;

  @include mobile {
    padding: 60px 0;
  }

  .container {

    @include desktop {
      max-width: 900px;
    }

    @include ld {
      max-width: 1000px;
    }

    @include xld {
      max-width: 1200px;
    }
  }
}

.header {
  margin: 0 auto;

  &__container {
    position: relative;
    padding: 50px 0;

    &:after {
      content: '';
      position: absolute;
      top: -100px;
      left: 0;
      width: $line-width;
      height: 100px;
      background-color: $line-color;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 68px;
    line-height: 100%;
    margin: 0 0 30px 0;

    @include mobile {
      font-size: 34px;
    }
  }

  &__description {
    width: 100%;
    font-size: 16px;
    line-height: 130%;

    @include desktop {
      font-size: 20px;
      margin: 0 0 30px 0;
    }
  }
}

.timeline-container {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;

  @include desktop {
    padding: 0;
  }
}

.line-segment {
  position: relative;
  border-color: $line-color;
  border-style: solid;
  border-width: 0;
  width: 50%;

  @include desktop {
    height: 480px;
    padding: 0;
  }
}

.segment-top {
  position: relative;
  border-left-width: $line-width;
  border-bottom-width: $line-width;
  border-bottom-left-radius: $radius-mobile;
  padding: 0 0 40px 0;
  
  @include desktop {
    border-bottom-left-radius: $radius;
  }
}

.segment-middle {
  border-right-width: $line-width;
  border-bottom-width: $line-width;
  border-bottom-right-radius: $radius-mobile;
  border-top-right-radius: $radius-mobile;
  margin-top: -$line-width;
  border-top-width: $line-width;
  margin-left: auto;
  padding: 40px 0;
 
  @include desktop {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -$line-width;
    left: 0;
    width: 50%;
    height: $line-width;
    background-color: #f0e3ca;
  }
}

.segment-middle-2 {
  border-left-width: $line-width;
  border-bottom-width: $line-width;
  border-bottom-left-radius: $radius-mobile;
  border-top-left-radius: $radius-mobile;
  margin-top: -$line-width;
  border-top-width: $line-width;
  margin-right: auto;
  padding: 40px 0;
 
  @include desktop {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
  }

  &:after {
    content: '';
    position: absolute;
    top: -$line-width;
    right: 0;
    width: 50%;
    height: $line-width;
    background-color: #f0e3ca;
  }
}

.segment-bottom {
  border-right-width: $line-width;
  border-top-width: $line-width;
  border-top-right-radius: $radius-mobile;
  margin: -$line-width 0 0 auto;
  padding: 40px 0 0 0;

  @include desktop {
    border-top-right-radius: $radius;
  }
}

.step {
  position: relative;
  transform: none;
  width: calc(100vw - 120px);
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  @include desktop {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    z-index: 10;
    width: 800px;
  }

  &-1 {
    left: 30px;
    @include desktop {
      top: 50%;
      left: 100px;
      transform: translateY(-50%);
    }

    .step-badge {
      left: -65px;
      @include desktop {
        right: auto;
        left: -135px;
      }
    }
  }

  &-2 {
    right: calc(100% + 20px);
    @include desktop {
      top: 50%;
      right: 80px;
      transform: translateY(-50%);
    }
  }

  &-3 {
    left: 30px;

    @include desktop {
      top: 50%;
      left: 80px;
      transform: translateY(-50%);
    }

    .step-badge {
      left: -65px;
      @include desktop {
        right: auto;
        left: -135px;
      }
    }
  }

  &-4 {
    right: calc(100% + 20px);
    @include desktop {
      bottom: 50%;
      right: 100px;
      transform: translateY(50%);
    }

    .step-badge {

      @include desktop {
        right: -135px;
        left: auto;
      }
    }
  }


  &-badge {
    position: absolute;
    top: 50%;
    right: -65px;
    transform: none;
    background: $highlight-color;
    color: #fff;
    font-weight: 900;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


    @include desktop {
      right: -115px;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
    }
  }

  .highlight {
    color: $highlight-color;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $step-circle-size;
  height: $step-circle-size;
  border-radius: 15%;
  position: relative;
  flex-shrink: 0;

  img {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    object-fit: contain;
    border-radius: 13%;
  }
}

.text {
  h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: $highlight-color;
  }

  p {
    font-size: 16px;
    color: rgba($color-text, 0.6);
    line-height: 1.45;
  }
}

.props {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 25px 0 0 0;
    border-radius: 30px;
    padding: 20px;
    background-color: $line-color;

    @include desktop {
      padding: 30px;
      gap: 20px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0.8;
  }

  &__svg-icon {
    width: 30px;
    height: auto;
    opacity: 1;

    @include desktop {
      width: 40px;
    }
  }

  &__title {
    line-height: 1.3;
  }

  &__button {
    background: $highlight-color;
    color: $color-8;
    margin-top: 25px;
    cursor: pointer;
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
  text-align: center;

  @include desktop {
    padding: 50px 0;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: $line-width;
    height: 100px;
    background-color: $line-color;
  }

  &__title {
    font-family: "OneSt", "OneSt fallback";
    color: $highlight-color;
    font-size: 16vw;
    font-weight: 900;
    margin: 0;
    line-height: 100%;

    @include desktop {
      font-size: 8vw;
      width: calc(100% - 75px);
    }
  }

  &__desc {
    color: $highlight-color;
    letter-spacing: 0.5em;
    font-size: 0.7rem;
    opacity: 0.6;

    @include desktop {
      font-size: 1rem;
      letter-spacing: 0.8em;
    }
  }
}

.decor {
  display: none;

  @include desktop {
    display: block;
    position: absolute;
    height: auto;
    object-fit: contain;
  }
  
  &-1 {
    right: -100px;
    bottom: -90px;
    width: 500px;
    transform: rotate(-25deg);
  }

  &-2 {
    top: 0;
    width: 500px;
    transform: rotate(133deg) translateX(112px) translateY(-132px);
    opacity: 1;
  }

  &-3 {
    left: -150px;
    top: 0;
    width: 700px;
    transform: rotate(260deg);
    filter: drop-shadow(-40px 10px 30px rgba(0, 0, 0, 0.3));
    z-index: 2;
    opacity: 1;
  }

  &-4 {
    left: -130px;
    bottom: -100px;
    width: 600px;
    transform: rotate(30deg);
    filter: drop-shadow(-40px 10px 30px rgba(0, 0, 0, 0.3));
    z-index: 2;
    opacity: 1;
  }

  &-5 {
    left: 0;
    bottom: 0;
    width: 240px;
    transform: rotate(39deg) translate(63px, -162px);
    z-index: 1;
    opacity: 0.7;
  }

  &-6 {
    right: -64px;
    top: 286px;
    width: 349px;
    transform: rotate(162deg);
    filter: drop-shadow(-40px 10px 30px rgba(0, 0, 0, 0.3));
    z-index: 2;
  }

  &-7 {
    right: 0;
    top: 0;
    width: 432px;
    transform: rotate(255deg);
    filter: drop-shadow(-30px -30px 30px rgba(0, 0, 0, 0.3));
    z-index: 2;
    opacity: 1;
  }

  &__wrapper {
    &-1 {
      position: absolute;
      width: 700px;
      top: 0;
      left: 0;
      transform-origin: left top;
      z-index: 20;

      @include desktop {
        transform: scale(0.5);
      }

      @include ld {
        transform: scale(0.5);
      }

      @include xxld {
        transform: scale(1);
      }
    }

    &-2 {
      position: absolute;
      width: 700px;
      top: 30%;
      right: -2%;
      transform-origin: right top;
      z-index: 20;

      @include desktop {
        transform: scale(0.5);
      }

      @include ld {
        transform: scale(0.5);
      }

      @include xxld {
        transform: scale(1);
      }
    }

    &-3 {
      position: absolute;
      width: 700px;
      bottom: -2%;
      left: 0;
      transform-origin: left bottom;
      z-index: 20;

      @include desktop {
        transform: scale(0.7);
      }

      @include ld {
        transform: scale(0.8);
      }

      @include xxld {
        transform: scale(1);
      }
    }


    &-4 {
      position: absolute;
      width: 700px;
      bottom: -2%;
      right: 0;
      transform-origin: right bottom;
      z-index: 20;

      @include desktop {
        transform: scale(0.8);
      }

      @include ld {
        transform: scale(0.8);
      }

      @include xxld {
        transform: scale(1);
      }
    }
  }
}

.flare-base {
  display: none;

  @include desktop {
    display: block;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: screen;
    z-index: 10;
  }
}

.flare-top-left-wrapper {
  position: absolute;
  top: -13%;
  left: -22%;
  width: 50%;
  height: 50%;
  transform: rotate(312deg) scaleX(0.5) scaleY(2);
  opacity: 0.7;
}

.flare-top-left-core {
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at 30% 30%, rgb(249 218 81 / 90%) 0%, rgba(255, 220, 100, 0.1) 50%, transparent 70%),
    radial-gradient(circle at center, rgb(229 161 0 / 40%) 0%, transparent 80%);
  filter: blur(80px);
}

.flare-top-right-wrapper {
  position: absolute;
  top: 100px;
  right: 0;
  width: 800px;
  height: 400px;
  transform: rotate(325deg) scaleX(2.5) scaleY(1);
  opacity: 0.6;
}

.flare-top-right-core {
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(255, 235, 150, 0.95) 0%, rgba(255, 200, 80, 0.3) 40%, transparent 75%);
  filter: blur(50px);
}

.flare-bottom-right-wrapper {
  position: absolute;
  bottom: -10%;
  left: 50%;
  width: 1000px;
  height: 1000px;
  transform: scale(1.2) translateX(-50%);
  opacity: 0.8;
}

.flare-bottom-right-core {
  width: 100%;
  height: 100%;
  background:
    radial-gradient(circle at 70% 70%, rgba(180, 255, 100, 0.7) 0%, rgba(120, 230, 80, 0.1) 60%, transparent 80%),
    radial-gradient(ellipse at bottom right, rgba(150, 255, 130, 0.4) 0%, transparent 70%);
  filter: blur(120px);
  mix-blend-mode: overlay;
}

@include mobile {
  .timeline-container {
    border: none !important;
    margin: 0;
  }

  .circle {
    width: 220px;
    height: 220px;
  }
}
