@import './assets/scss/vars';
@import './assets/scss/mixins';


.brand {
  &-item {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    grid-gap: 10px;
    line-height: 132%;

    @include _desktop {
      grid-template-columns: 70px 1fr;
      padding: 10px;
      border-radius: $radius;
      border: 1px solid $color-6;
    }
  }

  &-image {
    width: 50px;
    height: 50px;
    border-radius: $radius;

    @include _desktop {
      width: 70px;
      height: 70px;
    }
  }
} 