.region {

  &-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    padding: 0 10px;
    border-radius: 25px;
    background-color: $color-border;
    margin: 0 10px 0 0;

    .icon {
      font-size: 18px;
    }
  }

  &-content {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: $color-0;
    font-size: 12px;

    .label {
      font-weight: 700;
      color:rgba($color-0, 0.6);
      font-size: 10px;
    }
  }

  &-value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:first-child {
      border-right: 1px solid rgba($color-0, 0.2);
      padding: 0 5px 0 0;
    }
  }
}

.country {
  display: block;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  max-width: 70px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lang {
  font-weight: 700;
  text-transform: uppercase;
}