@import './assets/scss/vars';
@import './assets/scss/mixins';

.wrapper {
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: $radius;

  &-wrapper {
    width: 85px;
    height: 85px;
    flex-shrink: 0;


    @include _desktop {
      height: 110px;
    }
  }
}

.body {
  display: grid;
  grid-template-rows: 12px 1fr 20px;
  grid-gap: 5px;
  width: 100%;
  margin-left: 20px;

  @include _desktop {
    grid-template-rows: 17px 1fr 20px;
  }

  .category {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-3;
    font-size: 10px;

    @include _desktop {
      font-size: 14px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .name {
    display: -webkit-box;
    overflow: hidden;
    height: 46px;
    font-size: 12px;
    font-weight: 500;
    line-height: 125%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;


    @include _desktop {
      height: 55px;
      font-size: 14px;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price-block {
      font-size: 14px;
    }
  }
}