.filter {
  &-wrapper {
    width: 100%;
  }
  &-item {
    width: 100%;
    @include desktop {
      width: calc(100% + 30px);
      margin-left: -30px;
    }
    &.active {
      .filter-header-icon {
        transform: rotate(180deg);
      }
      .filter-values {
        opacity: 1;
        height: auto;
        margin: 0 0 20px 0;
        z-index: 1;
      }
    }
  }
  &-header {
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 30px;
    &-icon {
      font-size: 24px;
    }
  }
  &-name {
    color: $color-3;
    text-align: left;
  }
  &-values {
    position: relative;
    opacity: 0;
    height: 0;
    max-height: 250px;
    overflow-y: auto;
    margin: 0;
    z-index: -1;
    transition: opacity $speed, margin $speed;
    @include  scrollbar-secondary
  }
}
.search {
  &-wrapper {
    margin: 10px 0;
    padding: 0 30px;
  }
  &-input {
    height: 44px;
    width: 100%;
    border: 2px solid $color-border;
    border-radius: 20px;
    padding: 0 20px;
    background: none;
    
    &::placeholder {
      font-weight: 400;
      color: $color-3;
    }
    &:focus {
      outline: 1px solid $color-green;
    }
  }
}
.no-results {
  margin: 20px 0 0 0;
  padding: 0 30px;
  color: $color-4;
}