@import './assets/scss/vars';
@import './assets/scss/mixins';

.pagination {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(30px, 40px);
  align-items: center;
  column-gap: 5px;

  &-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(30px, 40px) 1fr minmax(30px, 40px);
    column-gap: 5px;
    max-width: calc(100vw - 30px);

    @include _desktop {
      width: max-content;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  width: 100%;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid $color-5;
  background: $color-8;
  transition: box-shadow $speed, width $speed, background $speed;

  @include _tablet {
    font-size: 16px;
    flex-shrink: 0;
  }

  &.active {
    font-weight: 300;
    background: $color-6;
    color: $color-3 !important;
    border: 1px solid $color-6;
    // box-shadow: 0px 4px 10px 0px rgba(146, 128, 255, 0.15);
  }

  &:hover {
    color: $color-primary;
  }

  &.active {
    cursor: default;
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
    color: $color-3 !important;
    border: 1px solid $color-6;
    background: $color-6;
  }
}