.fav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: $radiusBtn;
  background: $color-bg-2;

  .budge {
    position: absolute;
    top: 9px;
    right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    border-radius: 3px;
    background: $color-blue;
    font-size: 8px;
    font-weight: 700;
    color: $color-8;
  }
}