@use "sass:color";

.brand {
  &-box {
    margin-top: 60px;
  }
  &-group {
    margin-bottom: 60px;
  }
  &-alpha {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-auto-rows: min-content;
    align-items: center;
    grid-gap: 5px;
    margin-bottom: 15px;
    &-icon {
      font-size: 20px;
      color: $color-4;
    }
    &-value {
      font-weight: 500;
      white-space: nowrap;
    }
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    @include desktop {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  &-item {
  }
  &-link {
    color: $color-2;
    &:hover {
      color: $color-green;
    }
  }
}
.search {
  &-input {
    width: 100%;
    margin: 0 0 25px 0;
    @include desktop {
      width: 50%;
    }
  }
  &-btn {
    padding: 15px;
  }
}
.popular {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 25px;
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(5, 1fr);
  }
  &-item {
    display: block;
    width: 100%;
    height: 95px;
    border-radius: $radius;
    border: 2px solid $color-5;
    overflow: hidden;
    transition: border $speed;
    @include desktop {
      height: 142px;
    }
    &:hover {
      border: 2px solid $color-blue;
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: $radius;
  }
}
.alpha {
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
    &:last-child {
      margin: 0;
    }
  }
  &-item {
    margin: 10px 10px 0 0;
  }
  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 40px;
    padding: 0 5px;
    background: color.scale($color-blue, $lightness: 95%);
    border-radius: $radius;
    font-size: 20px;
    color: $color-blue;
    text-transform: uppercase;
    &:hover {
      background: color.scale($color-blue, $lightness: 85%);
    }
  }
}