@import './assets/scss/vars';
@import './assets/scss/mixins';

.faq {
  &-list {
    display: grid;
    grid-gap: 10px;
  }

  &-item {
    padding: 30px 20px;
    background: $color-7;
    border-radius: $radius;

    &.active {
      .faq-content {
        opacity: 1;
        height: auto;
        margin: 30px 0 0 0;
        z-index: 1;
      }

      .faq-icon {
        transform: rotate(180deg);
      }
    }
  }

  &-header {
    display: grid;
    grid-template-columns: 20px 1fr 24px;
    grid-gap: 15px;
    align-items: center;
    width: 100%;

    @include _desktop {
      grid-template-columns: 40px 1fr 24px;
      grid-gap: 20px;
    }
  }

  &-title {
    font-size: 16px;
    line-height: 135%;
    font-weight: 400;
    text-align: left;

    @include _desktop {
      font-size: 20px;
      &:hover {
        color: $color-primary;
      }
    }
  }

  &-count {
    font-size: 20px;
    font-weight: 300;
    color: $color-5;

    @include _desktop {
      font-size: 60px;
    }
  }

  &-icon {
    font-size: 24px;
  }

  &-content {
    position: relative;
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    z-index: -1;
    padding-left: 35px;
    line-height: 165%;
    color: $color-2 !important;
    transition: opacity $speed, margin $speed;

    @include _desktop {
      padding-left: 60px;
    }
  }
}