.checkbox {
  &-list {
  }
  &-item {
    &-btn {
      display: grid;
      grid-template-columns: 16px 1fr;
      grid-gap: 15px;
      align-items: center;
      height: 40px;
      width: 100%;
      padding: 0 30px;
    }
    &:hover {
      .checkbox-name {
        color: $color-orange;
      }
    }
    &.disabled {
      .checkbox-item-btn {
        pointer-events: none;
      }
      .checkbox-name,
      .checkbox-count {
        color: $color-4;
      }
      .checkbox-input {
        opacity: 0.3;
      }
    }
    &.checked {
      .checkbox-input {
        border: 2px solid $color-orange;
      }
      .checkbox-input-icon {
        opacity: 1;
        color: $color-orange;
      }
    }
  }
  &-content {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) min-content;
    grid-gap: 10px;
    align-items: center;
    text-align: left;
  }
  &-name {
    font-size: 16px;
    line-height: 120%;
  }
  &-count {
    display: flex;
    align-items: center;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 100;
    color: $color-3;
    &.plus {
      color: $color-green;
      &:before {
        content: '+';
        font-size: 10px;
      }
    }
  }
  &-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid $color-border;
    border-radius: $radius;
    // background: $color-8;
    &-icon {
      opacity: 0;
      font-size: 14px;
    }
  }
}