@import './assets/scss/vars';
@import './assets/scss/mixins';

.checkbox {
  &-list {

  }

  &-item {
    &-btn {
      display: grid;
      grid-template-columns: 16px 1fr;
      grid-gap: 15px;
      align-items: center;
      height: 40px;
      width: 100%;
      padding: 0 30px;
    }

    &:hover {
      background: $color-7;
    }

    &.disabled {
      .checkbox-item-btn {
        pointer-events: none;
      }

      .checkbox-name,
      .checkbox-count {
        color: $color-4;
      }

      .checkbox-input {
        opacity: 0.3;
      }
    }

    &.checked {
      .checkbox-input {
        border: 1px solid $color-0;
      }

      .checkbox-input-icon {
        opacity: 1;
      }
    }
  }

  &-content {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) min-content;
    grid-gap: 10px;
    align-items: center;
    text-align: left;
  }

  &-name {
    font-size: 16px;
    line-height: 90%;
  }

  &-count {
    display: flex;
    align-items: center;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 100;
    color: $color-3;

    &.plus {
      color: $color-green;

      &:before {
        content: '+';
        font-size: 10px;
      }
    }
  }

  &-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid $color-3;
    border-radius: $radius;
    background: $color-8;

    &-icon {
      opacity: 0;
      font-size: 14px;
    }
  }
}