.cart {
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100% + 20px);
  margin-bottom: -20px;
  background: $color-8;
  @include tablet {
  }
  @include desktop {
    height: calc(100% + 50px);
    margin-bottom: -50px;
  }
}
.product {
  &-card {
    padding: 20px 0;
    border-bottom: 1px solid $color-6;
  }
}
.title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
}
.body {
}
.footer {
  position: sticky;
  bottom: -20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  justify-content: flex-end;
  width: calc(100% + 40px);
  margin: 0 -20px;
  padding: 20px;
  background: $color-7;
  @include tablet {
    grid-template-columns: 1fr min-content;
  }
  @include desktop {
    grid-gap: 40px;
    width: calc(100% + 100px);
    margin: 0 -50px 0 -50px;
    bottom: -50px;
    padding: 20px 50px 20px 50px;
  }
}
.checkout-btn {
  min-width: 220px;
}
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  }
  .label {
    @include desktop {
      margin-bottom: 5px;
    }
  }
  .price {
    font-size: 20px;
    @include desktop {
      font-size: 22px;
    }
  }
}