.cart {
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100% + 20px);
  margin-bottom: -20px;
  @include tablet {
  }
  @include desktop {
    height: calc(100% + 50px);
    margin-bottom: -50px;
  }
}
.product {
  &-card {
    padding: 20px 0;
    border-bottom: 1px solid $color-border;

    &:last-child {
      border-bottom: 0;
    }
  }
}
.title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
}
.body {
}
.footer {
  position: sticky;
  bottom: -50px;
  padding: 30px 0 50px 0;
  // display: grid;
  // grid-template-columns: 1fr;

  display: flex;
  flex-direction: column-reverse;

  gap: 25px;
  justify-content: end;
  background: $color-bg;
  border-top: 1px solid $color-border;

  @include desktop {
    flex-direction: row-reverse;
    align-items: center;
  }
  
}
.free-delivery {
  max-width: 300px;
  :deep(.free-delivery-desc) {
    font-size: 14px;
  }
}
.checkout-btn {
  min-width: 220px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  @include tablet {
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  }

  @include desktop {
    margin-left: auto;
    gap: 0;
  }

  .label {
    @include desktop {
      margin-bottom: 5px;
    }
  }

  .price {
    font-size: 20px;
    @include desktop {
      font-size: 22px;
    }
  }
}