.cart {
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100% + 20px);
  margin-bottom: -20px;
  @include tablet {
  }
  @include desktop {
    height: calc(100% + 50px);
    margin-bottom: -50px;
  }
}
.product {
  &-card {
    padding: 20px 0;
    border-bottom: 1px solid $color-border;

    &:last-child {
      border-bottom: 0;
    }
  }
}
.title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
}
.body {
  &-inner {
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 30px;
    }
  }
  &-lists {
    border-top: 1px solid $color-border;
    margin: 0 -20px;
    padding: 20px 15px;

    @include desktop {
      margin: 0 -50px;
      padding: 20px 50px;
    }

    :deep(.title-secondary) {
      font-weight: 400;
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
}
.footer {
  position: sticky;
  bottom: -50px;
  left: -20px;
  padding: 30px 15px 50px 15px;
  display: flex;
  flex-direction: column-reverse;
  gap: 25px;
  transform: translateX(-20px);
  width: calc(100% + 40px);
  justify-content: end;
  background: $color-bg;
  border-top: 1px solid $color-border;
  z-index: 10;

  @include desktop {
    flex-direction: row-reverse;
    align-items: center;
    transform: translateX(-50px);
    width: calc(100% + 100px);
  }
  
}
.free-delivery {
  max-width: 300px;
  :deep(.free-delivery-desc) {
    font-size: 14px;
  }
}
.checkout-btn {
  min-width: 220px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  @include tablet {
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  }

  @include desktop {
    margin-left: auto;
    gap: 0;
  }

  .label {
    @include desktop {
      margin-bottom: 5px;
    }
  }

  .price {
    font-size: 20px;
    @include desktop {
      font-size: 22px;
    }
  }
}