@import './assets/scss/vars';
@import './assets/scss/mixins';


.search {
  &-wrapper {
    position: relative;
    z-index: 10;

    @include _desktop {
      margin: 0 30px;
    }

    &.active {
      .search {
        position: fixed;
        top: 5px;
        left: 5px;
        width: calc(100vw - 10px); 

        &-inner {
          grid-template-columns: 1fr 50px 50px;;
        }
      }

      .search-close {
        display: flex;
      }

      .search-action {
        display: flex;
      }
    }
  }

  &-modal {
    position: fixed;
    top: 0;
    left: 5px;
    width: calc(100vw - 10px);
    z-index: 1;

    @include _desktop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

    }
  }
}