@import './assets/scss/vars';
@import './assets/scss/mixins';

.brand {
  &-item {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    grid-gap: 10px;
    padding: 0 0 10px 0;
  }

  &-image {

  }
} 

.typing {
  display: grid;
  grid-template-columns: repeat(3, 5px);
  grid-gap: 5px;
  align-items: center;
  
  .dot {
    opacity: 0;

    &:nth-child(1) {
      animation: dot1 1s infinite;
    }
    &:nth-child(2) {
      animation: dot2 1s infinite;
    }
    &:nth-child(3) {
      animation: dot3 1s infinite;
    }
  }
}

@keyframes dot1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
@keyframes dot2 {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes dot3 {
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

.search {
  &-wrapper {
    position: relative;
    z-index: 10;

    @include _desktop {
      margin: 0 30px;
    }

    &.active {
      .search {
        position: fixed;
        top: 5px;
        left: 5px;
        width: calc(100vw - 10px); 

        &-inner {
          grid-template-columns: 1fr 50px 50px;;
        }
      }

      .search-close {
        display: flex;
      }

      .search-action {
        display: flex;
      }
    }
  }
}

.message-box {
  color: $color-4;
  line-height: 135%;
}

.livesearch {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  min-height: 100px;
  padding: 15px;
  border-radius: $radius;
  background: $color-8;
  font-size: 14px;
  z-index: 2;

  @include _desktop {
    padding: 30px 30px 45px 30px;
  }

  .powered-by {
    position: absolute;
    bottom: 10px;
    right: 10px;

    display: flex;
    align-items: center;
    color: $color-4;
    font-size: 14px;

    .algolia {
      display: inline-block;
    }
  }

  &-wrapper {
    position: fixed;
    top: 0;
    left: 5px;
    width: calc(100vw - 10px);
    z-index: 1;

    @include _desktop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

    }

    &:before {
      content: '';
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-0, 50%);
    }
  }

  &-box {
    padding: 10px 0;

    &:first-of-type {
      padding: 0 0 10px 0;
    }

    &:last-of-type{
      padding: 10px 0 0 0;
    }
  }

  &-label {
    font-size: 12px;
    color: $color-3;
  }

  &-list {
    display: grid;
    grid-gap: 10px;
    margin: 10px 0 0 0;
  }

  &-inline {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & > .livesearch-item {
      flex-shrink: 0;
      margin: 10px 15px 0 0;
    }
  }

  &-item {
  }

  &-link {

    &:hover {
      color: $color-green;
    }

  }
}


.item {
  &-image {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: $radius;
    border: 1px solid $color-6;
  }
}

.product {
  &-card {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    grid-gap: 10px;
    padding: 0 0 10px 0;

    &:last-child {
      padding: 0;
    }

    &:hover {
      .product-name {
        color: $color-green;
      }
    }
  }

  &-content {
    width: 100%;
    overflow: hidden;
  }

  &-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 132%;
    color: $color-1;
    transition: color $speed;
  }

  &-price {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-auto-rows: min-content;
    grid-gap: 10px;
    font-weight: 500;

    .base-price {
      color: $color-0;
      font-size: 12px;
    }

    .old-price {
      font-size: 10px;
      color: $color-3;
      text-decoration: line-through;

      + .base-price {
        color: $color-red;
      }
    }
  }
}

.all-results-btn {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  grid-gap: 10px;
  color: $color-green;

  &:hover {
    color: scale-color($color-green, $lightness: 30%);
  }

  .text {
    padding: 5px 0;
    border-bottom: 1px dashed;
    white-space: nowrap;
  }
}