@import './assets/scss/vars';
@import './assets/scss/mixins';

.simple-search {
  position: relative;
  display: grid;
  justify-self: flex-end;
  grid-template-columns: 1fr;
  align-items: center;
  height: 50px;
  width: 100%;
  z-index: 100;

  &-input {
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 15px;
    border-radius: $radius;
    outline: none;

    @include _desktop {
      padding-left: 55px;
    }

  }

  &-icon {
    position: absolute;
    left: 20px;
    top: 14px;
    margin: 0 0 0 auto;
  }
}

.search {
  &-wrapper {
    position: relative;
    z-index: 10;

    @include _desktop {
      margin: 0 30px;
    }

    &.active {
      .search {
        position: fixed;
        top: 5px;
        left: 5px;
        width: calc(100vw - 10px); 

        &-inner {
          grid-template-columns: 1fr 50px 50px;;
        }
      }

      .search-close {
        display: flex;
      }

      .search-action {
        display: flex;
      }
    }
  }

  &-modal {
    position: fixed;
    top: 0;
    left: 5px;
    width: calc(100vw - 10px);
    z-index: 100;

    @include _desktop {
      top: 15px;
      left: 100px;
      width: calc(100% - 200px);
      max-width: 1232px;
    }
  }
}