@use "sass:color";

.search-results-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 250;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.message-box {
  min-height: 16px;
  margin: 10px 0 20px 0;

  @include desktop {
    margin: 10px 0 30px 0;
  }
  .livesearch-label {
    margin: 0;
  }
}

.livesearch {
  position: fixed;
  bottom: 80px;
  width: calc(100% - 30px);
  max-height: var(--search-results-max-height, calc(100vh - 90px));
  overflow-y: auto;
  padding: 15px;
  background: $color-bg;
  font-size: 16px;
  z-index: 2;
  border-radius: 30px;
  max-width: 1800px;

  @include scrollbar;

  @include desktop {
    bottom: initial;
    top: 75px;
    padding: 30px;
    max-height: var(--search-results-max-height-desktop, calc(100vh - 100px));
    width: calc(100% - 40px);
    border-radius: $radius;
  }

  &-bg {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($color-dark, 50%);
  }
  &-box {
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
    @include desktop {
      margin: 0 0 45px 0;
    }
    &:first-of-type {
      margin: 0;
    }
    &:last-child{
      margin: 0;
    }
  }
  &-label {
    margin-bottom: 10px;
    font-size: 14px;
    color: $color-3;
  }
  &-list {
    display: grid;
    grid-gap: 10px;
    margin: 10px 0 0 0;
  }
  &-inline {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    & > .livesearch-item {
      flex-shrink: 0;
      margin: 0 15px 10px 0;
    }
  }
  &-link {
    &:hover {
      color: $color-green;
    }
  }
  &-columns {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    @include desktop {
      grid-gap: 40px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    @include tablet {
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }
    @include desktop {
      grid-template-columns: repeat(6, 1fr);
    }
    @include ld {
      grid-template-columns: repeat(7, 1fr);
    }
    @include xld {
      grid-template-columns: repeat(8, 1fr);
    }

    &-item {
      padding-bottom: 10px;
      border-bottom: 1px solid $color-border;
    }
  }
  &-brands {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    @include desktop {
      grid-gap: 20px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
.item {
  &-image {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: $radius;
    border: 1px solid $color-6;
  }
}
.all-results-btn {
  margin: 20px 0;
  &-link {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    grid-gap: 10px;
    color: $color-green;
    &:hover {
      color: color.scale($color-green, $lightness: 30%);
    }
    .text {
      padding: 5px 0;
      border-bottom: 1px dashed;
      white-space: nowrap;
    }
  }
}

.search-results-bg {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color-dark, 50%);
}
