.tab {
  &-wrapper {
    position: sticky;
    top: 60px;
    margin: 0 -15px;
    width: 100vw;
    @include desktop {
      top: 80px;
      width: calc(100% + 60px);
      margin: 0 -30px;
    }
  }
}
.content {
  margin: 20px 0 0 0;
  @include desktop {
    margin: 50px 0 0 0;
  }
}