.breadcrumbs {
  padding: 15px 0px;
  @include desktop {
    padding: 30px 0px;
  }
  .list {
    display: block;
    font-size: 14px;
    line-height: 14px;
    min-height: 14px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    @include desktop {
      overflow-x: visible;
      overflow-y: visible;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .item {
    display: inline;
    margin-right: 20px;
    position: relative;
    transition: color 0.4s;
    white-space: nowrap;
    hyphens: auto;
    line-height: 145%;
    @include desktop {
      white-space: wrap;
    }
    &:hover {

      @include desktop {
        color: $color-green;
      }
    }
    &::before {
      content: " > ";
      position: absolute;
      right: -12px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child {
      pointer-events: none;
      color: #828282;
    }
    &:last-child::before {
      display: none;
    }
  }
  .breadcrumbs__icon {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    line-height: 1;
    transform: translateY(-2px);
  }
}