@import './assets/scss/vars';
@import './assets/scss/mixins';

.breadcrumbs {
  padding: 20px 0px;

  @include _desktop {
    padding: 30px 0px;
  }

  .list {
    display: flex;
    font-size: 14px;
    line-height: 14px;
    min-height: 14px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0 -20px;
    padding: 0 20px;
    width: calc(100% + 40px);

    @include _desktop {
      overflow-x: visible;
      overflow-y: visible;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .item {
    margin-right: 20px;
    position: relative;
    transition: color 0.4s;
    white-space: nowrap;

    &:hover {
      color: #ACDA53;
    }

    &::before {
      content: " > ";
      position: absolute;
      right: -12px;
      top: 0px;
    }

    &:last-child {
      pointer-events: none;
      color: #828282;
    }

    &:last-child::before {
      display: none;
    }
  }
}