.wrapper {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 15px;
  width: 100%;
  @include desktop {
    grid-template-columns: 165px 1fr;
    grid-gap: 30px;
  }
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: $radius;
  &-wrapper {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    @include desktop {
      width: 165px;
      height: 136px;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}
.remove{
  &-btn {
    display: inline-block;
    padding: 2px 0;
    color: $color-red;
    font-size: 14px;
    border-bottom: 1px dashed $color-red;
    &:hover {
      opacity: 0.8;
    }
  } 
}
.body {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  align-content: center;
  grid-gap: 5px;
  width: 100%;
  @include desktop {
    grid-template-rows: min-content min-content;
  }
  .code {
    margin-bottom: 0;
  }
  .name {
    display: -webkit-box;
    overflow: hidden;
    height: initial;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding-right: 0;
    font-size: 12px;
    line-height: 140%;
    @include desktop {
      height: 44px;
      padding-right: 120px;
      font-size: 16px;
      -webkit-line-clamp: 2;
    }
  }
}
.footer {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  @include desktop {
    grid-column-start: initial;
    grid-column-end: initial;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .price {
    display: grid;
    grid-template-columns: min-content;
    justify-items: flex-end;
    grid-gap: 0;
    @include desktop {
    }
    &-old {
      font-size: 10px;
      color: $color-4;
      text-decoration: line-through;
      @include desktop {
        font-size: 14px;
      }
      &+.price-base {
        color: $color-red;
      }
    }
    &-base {
      font-size: 14px;
      @include desktop {
        font-size: 20px;
      }
    }
  }
}