@import './assets/scss/vars';
@import './assets/scss/mixins';

.wrapper {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 15px;
  width: 100%;

  @include _desktop {
    grid-template-columns: 165px 1fr;
    grid-gap: 30px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: $radius;

  &-wrapper {
    width: 50px;
    height: 80px;
    flex-shrink: 0;

    @include _desktop {
      width: 165px;
      height: 136px;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}

.remove{
  &-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    border-radius: $radiusBtn;
    border: 2px solid $color-6;
    background: $color-8;

    @include _desktop {
      height: min-content;
      width: min-content;
      color: $color-3;
      border: 0;
    }
    
    &-icon {
      font-size: 16px;
      // color: $color-4;
    }

    &-text {
      display: none;

      @include _desktop {
        display: inline-block;
        margin-left: 5px;
        padding: 2px 0;
        font-size: 14px;
        border-bottom: 1px dashed $color-4;
      }
    }
  } 
}
.body {
  position: relative;
  display: grid;
  grid-template-rows: 12px 1fr;
  grid-gap: 5px;
  width: 100%;

  @include _desktop {
    grid-template-rows: min-content min-content;
  }

  .code {
    margin-bottom: 0;
  }

  .name {
    display: -webkit-box;
    overflow: hidden;
    height: 65px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding-right: 46px;
    font-size: 12px;
    line-height: 140%;


    @include _desktop {
      height: 44px;
      padding-right: 120px;
      font-size: 16px;
      -webkit-line-clamp: 2;
    }
  }
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;

  @include _desktop {
    grid-column-start: initial;
    grid-column-end: initial;
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .price {
    display: grid;
    grid-template-columns: min-content;
    justify-items: flex-end;
    grid-gap: 0;

    @include _desktop {
    }

    &-old {
      font-size: 10px;
      color: $color-4;
      text-decoration: line-through;

      @include _desktop {
        font-size: 14px;
      }

      &+.price-base {
        color: $color-red;
      }
    }

    &-base {
      font-size: 14px;

      @include _desktop {
        font-size: 20px;
      }
    }
  }
  
}