# development / production
NODE_ENV: development

SITE_URL: https://abu.ua

DOMAIN: localhost

SERVER_URL: http://localhost:8888

API_SERVER_URL: http://localhost:8888/api

NUXT_PUBLIC_ADULTO_PUBLIC_KEY:
NUXT_PUBLIC_ADULTO_WIDGET_SCRIPT_URL: https://api.js.m2a.cz/api.js

IMAGE_PROVIDER: ipx

IMAGE_DIR: public

GTM:
GTM_GLOBAL:
GTM_ZZ:
GTM_UA:
GTM_CZ:
GTM_DE:
GTM_ES:

GA:

# UPSTASH REDIS (для кеширования на Vercel)
UPSTASH_REDIS_REST_URL: https://your-redis-instance.upstash.io
UPSTASH_REDIS_REST_TOKEN: your-redis-token

# SUPABASE
SUPABASE_URL:

SUPABASE_KEY:

# NOVAPOSHTA
NOVAPOSHTA_KEY:
