// --container-max: 2160px;
// --container-pad: 35px;
// --slide-w: 60%;

.slide {
  /* 4) снапим по центру окна */
  scroll-snap-align: start;

  // padding: clamp(20px, 5vw, 48px);
  padding: 0 150px 0 0;
  display: flex;
  align-items: start;

  @include desktop {
    padding: 0 50px 0 0;
    align-items: center;
  }

  @include ld {
    padding: 0 150px 0 0;
    align-items: center;
  }

  &-inner {
    // width: min(1400px, 100%);
    width: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 220px min-content;
    align-items: center;
    gap: 30px;

    @include desktop {
      grid-template-columns: min-content 1fr;
      grid-template-rows: initial;
      gap: 0;
    }

    @include ld {
      gap: 64px;
    }
  }

  &-media {
    position: relative;
    display: grid;
    place-items: start;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @include desktop {
      width: 360px;
    }

    @include ld {
      width: 500px;
      margin-left: -30px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(0 10px 24px rgba(0, 0, 0, 0.08));

      @include desktop {
        position: relative;
      }
    }
  }

  &-content {
    width: 100vw;
    padding: 0 15px;

    @include desktop {
      width: initial;
      padding: 0;
    }
  }

  &-eyebrow {
    letter-spacing: .5em;
    font-weight: 300;
    font-size: 14px;
    opacity: .55;
    margin: 0 0 .5rem 0;

    @include desktop {
      margin: 0 0 10px 0;
      font-size: 20px;
    }
  }

  &-title {
    font-size: 28px;
    line-height: 1.05;
    color: $color-primary;
    margin: 0 0 15px 0;
    font-weight: 900;
    font-family: var(--font-display);

    @include desktop {
      font-size: 36px;
      margin: 0 0 20px 0;
    }

    @include ld {
      font-size: 58px;
    }
  }

  &-full_desc {
    // display: none;
    font-size: 14px;
    line-height: 1.3;
    margin: 0 0 20px 0;

    @include desktop {
      display: block;
      font-size: 16px;
    }
    @include ld {
      font-size: 18px;
    }

    .strong {
      font-weight: 800;
    }

    &:deep(p) {
      margin: 0 0 10px 0;

      @include desktop {
        margin: 0 0 20px 0;
      }
    }
  }

  &-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    @include ld {
      gap: 12px;
    }
  }

  &-chip {
    display: inline-flex;
    align-items: center;
    height: 32px;
    padding: 0 10px;
    border-radius: 999px;
    background: #fff;
    border: 2px solid $color-bg-2;
    color: $color-green;
    font-weight: 500;
    cursor: pointer;

    @include desktop {
      padding: 0 15px;
      height: 34px;
    }

    @include ld {
      height: 44px;
    }

    &:hover {
      border: 2px solid $color-orange;
      transition: $speed border;
    }

    &.all {
      font-weight: 600;
      .icon {
        margin-left: 8px;
        font-size: 24px;
      }
    }
  }
}