.mod {
  &-label {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    @include desktop {
      margin-bottom: 20px;
    }
  }
  &-wrapper {
    margin-bottom: -5px;
    @include desktop {
      margin-bottom: -15px;
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 20px;
    margin: 0 5px 5px 0;
    border-radius: $radius;
    border: 2px solid $color-dark-2;
    font-weight: 600;
    transition: border .3s;
    @include desktop {
      margin: 0 15px 15px 0;
    }
    &.router-link-active {
      border: 2px solid $color-primary;
      background-color: $color-green;
      color: $color-8;
    }
    &.not-in-stock {
      color: $color-border;
      border: 2px solid $color-border;
      pointer-events: none;
    }
    &:hover {
      border: 2px solid $color-primary;
      // color: $color-primary;
    }
    &-icon {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}