@import './assets/scss/vars';
@import './assets/scss/mixins';

.mod {
  &-label {
    margin-bottom: 10px;
    color: $color-3;
    
    @include _desktop {
      margin-bottom: 20px;
    }
  }

  &-wrapper {
    margin-bottom: -5px;

    @include _desktop {
      margin-bottom: -15px;
    }
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 20px;
    margin: 0 5px 5px 0;
    border-radius: $radius;
    border: 1px solid $color-5;
    transition: border .3s;

    @include _desktop {
      margin: 0 15px 15px 0;
    }

    &.router-link-active {
      border: 1px solid $color-primary;
    }

    &.not-in-stock {
      color: $color-3;
    }

    &:hover {
      border: 1px solid $color-primary;
      // color: $color-primary;
    }

    &-icon {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}