@import './assets/scss/vars';
@import './assets/scss/mixins';

.thx {
  text-align: center;

  @include _tablet {
    text-align: left;
  }
}

.lottie-wrapper {
  width: 140px;
  height: 152px;
  margin-bottom: 25px;
  margin: 0 auto;

  @include _desktop {
    margin: initial;
  }
}

.desc {
  margin-top: 5px;
  font-size: 14px;
  line-height: 145%;
  color: $color-3;
}