.banners{
  &-wrapper {
    height: calc(100vh - 150px);
    border-radius: 50px;
    overflow: hidden;
    margin-top: 20px;

    @include desktop {
      height: 945px;
      margin-top: 30px;
    }
  }
}