@import './assets/scss/vars';
@import './assets/scss/mixins';

.wrapper {
  width: 100%;
}

.item {
  position: relative;
  width: 100%;
  height: 0;
  max-height: 334px;
  padding-bottom: 24%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}