.btn-menu {

  &-label {
    display: none;
    @include desktop {
      display: block;
    }
  }
}

.menu-btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  border-right: 1px solid $color-border;
  
  @include tablet {
    width: 100%;
    margin: 0 auto;
  }
  @include desktop {
    margin: 0 auto 0 0;
    justify-content: initial;
    text-transform: uppercase;
    transition: color 0.3s;

    &:hover {
      color: $color-primary;
    }
  }

  @include desktop {
    border-right: 0;
  }
}