.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  
  @include tablet {
    width: 100%;
    height: 40px;
    margin: 0 auto;
  }
  @include desktop {
    height: 50px;
    margin: 0 auto 0 0;
    justify-content: initial;
  }

  .icon {
    margin-right: 5px;
  }

  &-label {
    display: none;
    @include desktop {
      display: block;
    }
  }
}