@import './assets/scss/vars';
@import './assets/scss/mixins';

.btn-menu {
  color: $color-8;

  @include _tablet {
    background: $color-11;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  @include _desktop {
    width: 50px;
    height: 50px;
    margin: 0 auto 0 0;
  }
}