.account {
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    margin: 0 -15px;
    @include desktop {
      grid-template-columns: 1fr 3fr;
      grid-column-gap: 30px;
      width: 100%;
      margin:0;
    }
  }
  &-page {
  }
  &-container {
    overflow-x: initial;
    @include desktop {
      overflow-x: hidden;
    }
  }
  &-breadcrumbs {
    margin: 0 15px;
    order: 2;
    @include desktop {
      order: 1;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
.content {
  order: 3;
  border-radius: $radius;
  width: calc(100vw - 30px);
  margin: 0 15px;
  // overflow: hidden;
  @include tablet {
    width: 100%;
    padding: 15px;
    margin: 0;
    background: $color-8;
  }
  @include desktop {
    padding: 30px;
    height: min-content;
  }
}
.aside {
  order: 1;
  height: min-content;
  width: 100vw;
  padding: 10px 10px 0 10px;
  overflow: hidden;
  z-index: 100;
  color: $color-0;

  @include desktop {
    position: sticky;
    top: 60px;
    width: 100%;
    padding: 30px 30px 15px 30px;
    border: 3px solid $color-8;
    border-radius: $radius;
    z-index: 1;
    background: $color-8;
  }
}
.profile-wrapper {
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-gap: 15px;
  align-items: center;
  @include desktop {
    grid-template-columns: 1fr;
  }
}
.menu {
  &-wrapper {
    margin: 0 -10px;

    @include desktop {
      margin: 15px 0 0 0;
    }
  }
  &-ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100px;
    overflow-y: auto;
    grid-gap: 5px;
    padding: 15px 10px;
    border-bottom: 1px solid $color-2;
    &:last-child {
      border-bottom: 0;
    }

    @include desktop {
      grid-auto-flow: row;
      grid-auto-columns: initial;
    }
  }
  &-li {
    background-color: $color-8;
    border-radius: $radius;
    aspect-ratio: 1/1;

    @include desktop {
      aspect-ratio: initial;
    }
    &.active {
      .menu-link {
        // background: $color-2;
        color: $color-green;
      }
    }
  }
  &-link {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
    padding: 15px;
    border-radius: $radius;
    transition: background $speed;
    text-align: left;
    @include desktop {
      grid-template-columns: 30px 1fr;
      padding: 10px 0;
    }

    &:hover {
      @include desktop {
        color: $color-green !important;
      }
    }
  }
  &-icon {
    font-size: 30px;
  }
  &-title {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;

    @include desktop {
      font-size: 14px;
      text-transform: none;
    }
  }
}