@use "sass:color";

.tab-wrapper {
  position: sticky;
  top: 60px;
  margin-bottom: 60px;
  z-index: 10;
  @include desktop {
    top: 80px;
  }
}
.grid {
  display: grid;
  grid-auto-columns: 100%;
  grid-gap: 30px;
  @include desktop {
    grid-auto-columns: initial;
    grid-template-columns: 1fr minmax(min-content, 315px);
    grid-gap: 70px;
  }
}
.review {
  &-form {
    display: grid;
    grid-gap: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid $color-5;
    border-radius: $radius;
    &-title {
      width: 100%;
      font-size: 24px;
      line-height: 120%;
      text-transform: uppercase;
    }
  }
}
.info {
  &-wrapper {
    padding: 30px;
    background: color.scale($color-violet, $lightness: 94%);
    border-radius: $radius;
    line-height: 140%;
  }
}