@use "sass:color";

.tab-wrapper {
  position: sticky;
  top: 60px;
  margin-bottom: 60px;
  z-index: 10;
  @include desktop {
    top: 80px;
  }
}
.grid {
  display: grid;
  grid-auto-columns: 100%;
  gap: 30px;
  @include desktop {
    grid-auto-columns: initial;
    grid-template-columns: 1fr minmax(min-content, 415px);
    gap: 70px;
  }
}
.review {
  &-form {
    display: grid;
    grid-gap: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid $color-border;
    border-radius: $radius;
    background: $color-8;
    &-title {
      width: 100%;
      font-size: 24px;
      line-height: 120%;
      font-weight: 600;
      text-transform: uppercase;
    }
    &-reward {
      width: 100%;
    }
  }
}
.info {
  &-wrapper {
    margin-top: 30px;
    padding: 30px;
    // background: color.scale($color-orange, $lightness: 54%);
    background: $color-bg-2;
    border-radius: $radius;
    line-height: 140%;
  }
}