.review {
  &-title {
    margin-bottom: 15px;
    @include desktop {
      margin-bottom: 30px;
    }
  }
  &-header {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-gap: 35px;
    margin-bottom: 30px;
    @include desktop {
      margin-bottom: 50px;
    }
  }
  &-count {
    white-space: nowrap;
  }
  &-item {
    margin-bottom: 30px;
    @include desktop {
      margin-bottom: 50px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}