.review {
  &-title {
    margin-bottom: 15px;
    @include desktop {
      margin-bottom: 30px;
    }
  }
  &-header {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    column-gap: 20px;
    row-gap: 5px;
    margin-bottom: 30px;
    @include desktop {
      grid-template-columns: repeat(2, min-content) 1fr;
      margin-bottom: 50px;
      gap: 35px;
    }
  }
  &-count {
    white-space: nowrap;
  }
  &-item {
    margin-bottom: 30px;
    @include desktop {
      margin-bottom: 50px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .simple-start {
    font-size: 20px;
  }

  .text-link {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self:flex-start;

    @include desktop {
      grid-column-start: initial;
      grid-column-end: initial;
      justify-self:flex-end;
    }
  }
}