.info {
  &-image {
    display: inline-block;
  }
  &-header {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  &-title {
    padding: 5px 0;
    font-weight: 600;
  }
  &-list {
    list-style-type: decimal;
    padding: 0 0 0 20px;
    li {
      margin-bottom: 15px;
    }
  }
}

.text-link {
  color: #000;
}