@import './assets/scss/vars';
@import './assets/scss/mixins';


.info {
  &-title {
    margin-bottom: 20px;
    font-weight: 500;
  }

  &-list {
    list-style-type: decimal;
    padding: 0 0 0 20px;

    li {
      margin-bottom: 15px;
    }
  }
}