@import './assets/scss/vars';
@import './assets/scss/mixins';


.contacts-box {
  padding: 30px;
  border: 2px solid $color-8;
  border-radius: $radius;
  background: #f5f5f5;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 20px;
  width: 100%;

  @include _desktop {
    grid-template-columns: 280px minmax(0, 1fr) 380px;
    margin: 0;
    width: 100%;
  }
}

.lottie-wrapper {
  width: 200px;
  height: 180px;
  margin: -20px auto -40px auto;
}

.section {
  height: fit-content;
  padding: 30px;
  background: $color-8;
  border-radius: $radius;

  &-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 55px;
    padding: 30px;
    text-align: center;

    @include _tablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-row-gap: 30px;
    }

    @include _desktop {
      padding: 40px 60px;
    }
  }

  &-support {
    background: linear-gradient(145.79deg, #FBFBFB 0.57%, #ECFAFF 98.26%);
  }
}

.back-btn {
  display: flex;
  align-items: flex-start;
  grid-gap: 20px;
  line-height: 145%;
  text-align: left;

  .icon {
    flex-shrink: 0;
  }
}

.full-width {
  @include _tablet {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.meta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-gap: 15px;

  @include _tablet {
    margin: 20px 0 10px 0;
  }
}

.status {
  .value {
    color: $color-primary;
  }
}

.total {
  display: flex;
  align-items: baseline;
  margin: 0 auto;

  .price {
    margin-left: 5px;
    font-size: 20px;
  }
}

.payment {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;

  &-title {
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 145%;

    @include _tablet {
      height: 70px;
      margin-bottom: 20px;
    }
  }
}

.button-liqpay {
  max-width: 300px;
  width: 84%;
  margin: auto 0;
  background: #303030;
  transition: background $speed, transform $speed;

  &.loading {
    &:before {
      background: lighten(#303030, 10%);
    }
  }

  .logo {
    max-width: initial;
    width: 75px;
    height: 15px;
    margin: 0 -5px -2px 0;
    object-fit: contain;
  }

  &:hover {
    background: lighten(#303030, 7%);
  }
}

.line {
  display: none;

  @include _tablet {
    display: block;
    width: 70%;
    height: 1px;
    background: $color-6;
    margin: 10px auto 0 auto;
  }
}

.footer {
  font-size: 14px;
  color: $color-3;
}


.liq-form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}