@import './assets/scss/vars';
@import './assets/scss/mixins';

.slider {
  width: 100%;
  padding: 0 14px;

  :deep(*) {
    touch-action: auto !important;
    pointer-events: all !important;
  }

  &-wrapper {}

  &-inner {
    display: flex;
    align-items: center;
    grid-gap: 35px;
  }

  &-input {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background: $color-bg-2;
    padding: 15px 0;
    border-radius: $radiusBtn;
    border: 0;
    outline: 0;
    text-align: center;

    -moz-appearance:textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
  }

}

.inputs-compact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}