@import './assets/scss/vars';
@import './assets/scss/mixins';

.modal-wrapper {
  width: 100%;
}

.parent {
  margin: 0 0 20px 0;

  &-name {
    margin-bottom: 10px;
    font-weight: 500;
  }

  &-text {
    line-height: 135%;
    color: $color-2;
  }
}

.form {
  &-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 25px;
  }

  &-label {
    margin-bottom: 10px;
    font-size: 14px;
  }
}


.send-btn {
  max-width: 100%;
  width: 100%;
}