@import './assets/scss/vars';
@import './assets/scss/mixins';

.label {
  margin-bottom: 5px;
  font-size: 12px;
  text-transform: uppercase;
  color: $color-gray-primary;
  white-space: nowrap;

  @include _tablet {
    font-size: 12px;
  }
}