.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: $color-bg-2;
  border-radius: 50px;
  margin: 0 15px;

  @include desktop {
    margin: 0 35px;
  }

  @include ld {
    margin: 0;
  }

  &-media {
    &-img {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
  }
  &-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap:0px;
    align-items: center;
    height: 100%;
    grid-template-rows: 1fr 1fr;

    @include desktop {
      grid-template-columns: 1fr 1.3fr;
      grid-template-rows: initial;
      gap:80px;
      max-width: 1600px;
    }

    @include ld {
      gap:200px;
    }
  }

  &-content {
    display: grid;
    grid-auto-flow: row;
    align-self: flex-start;
    gap: 20px;
    padding: 0 30px;
    text-align: center;
    transform: translateY(30px);

    @include desktop {
      align-self: initial;
      text-align: left;
      transform: translateY(0);
    }

    @include ld  {
      gap: 50px;
    }
  }

  &-title {
    font-weight: 900;
    color: $color-primary;
    line-height: 100%;

    @include desktop {
      line-height: 110%;
    }

    &-1 {
      // font-size: 60px;
      color: $color-orange;

      @include desktop {
        // font-size: 133px;
      }
    }
    &-2 {
      // font-size: 48px;
      color: $color-primary;

      @include desktop {
        // font-size: 110px;
      }
    }

    &-1,
    &-2 {
      font-size: 0.9em;
      @include desktop {
        font-size: 1.5em;
      }
      @include ld {
        font-size: 2em;
      }
    }
  }

  &-desc {
    font-size: 16px;
    line-height: 130%;

    @include desktop {
      font-size: 28px;
    }
  }

  &-btns {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    gap: 20px;

    @include desktop {
      grid-auto-flow: column;
      grid-auto-columns: min-content;
      gap: 40px;
    }
  }

  &-btn {
    max-width: 300px;
    margin: 0 auto;

    @include desktop {
      max-width: initial;
    }
    &-text {
      justify-self: center;
      height: min-content;
      padding: 4px 0;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      white-space: nowrap;
      border-bottom: 2px solid;
      width: min-content;


      @include desktop {
        justify-self: initial;
        font-size: 16px;
      }
    }
  }
}