@import './assets/scss/vars';
@import './assets/scss/mixins';

.contacts-btn {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 24px min-content;
  grid-gap: 6px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid $color-11;
  color: $color-8;

  .text {
    white-space: nowrap;
  }
}