.loadmore-btn {
  height: 50px;
  border: 2px solid $color-bg-2;
  background: $color-bg-2;
  font-weight: 500;
  color: $color-0;
  text-transform: none;
  transition: color 0;
  &:hover {
    color: $color-primary !important;
    background: $color-8;
  }
}