@import './assets/scss/vars';
@import './assets/scss/mixins';

.loadmore-btn {
  border: 1px solid $color-5;
  background: $color-8;
  font-weight: 500;
  color: $color-0;
  text-transform: none;
  transition: color 0;

  &:hover {
    color: $color-primary !important;
    background: $color-8;
  }
}