.buttons-fixed {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  margin: 0 0 15px 0;
  z-index: 98;
  // background: $color-8;
  // border-radius: $radius;
  // box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius;
  }
}
.sorting {
  &-wrapper {
    position: relative;
  }
  &-btn {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }
  &-select {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 1;
  }
}