@import './assets/scss/vars';
@import './assets/scss/mixins';

.buttons-fixed {
  position: fixed;
  left: 5px;
  bottom: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
  width: calc(100vw - 10px);
  height: 50px;
  padding: 5px;
  z-index: 100;
  background: $color-8;
  border-radius: $radius;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius;
  }
}

.sorting {

  &-wrapper {
    position: relative;
  }

  &-btn {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  &-select {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    z-index: 1;
  }
}