@import './assets/scss/vars';
@import './assets/scss/mixins';

.filters {
  width: calc(100vw - 5px);
  margin: 0 -15px;
  padding-bottom: 80px;


  &.pending {
    opacity: 0.5;
    pointer-events: none;

    :deep(*) {
      pointer-events: none;
    }
  }
}

.selected-wrapper {
  width: calc(100vw - 5px);
  margin: 0 -15px 10px -15px;
  padding: 20px 15px;
  overflow: hidden;
  border-top: 1px solid $color-6;
  border-bottom: 1px solid $color-6;
}

.buttons {
  position: fixed;
  width: calc(100% + 30px);
  bottom: 0;
  left: 0;
  transform: translateX(-15px);
  border-top: 3px solid $color-6;
  padding: 15px 30px;
  z-index: 100;
  background: $color-8;
  overflow: hidden;

  .apply-btn {
    width: 100%;
  }

  .label {
    margin-bottom: 5px;
  }
}