.input__wrapper {
  position: relative;
}

.parts {
  display: grid;
  grid-template-columns: repeat(4, minmax(0,1fr));
  grid-gap: 10px;
  width: 100%;
}

.part-input {
  border: 1px solid $color-border;
  border-radius: $radius;
  height: 50px;
  background: none;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-8;
}