.stars {
  &-large {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 12px) min-content;
    grid-gap: 3px;
    align-items: center;
    @include desktop {
      grid-template-columns: repeat(5, 20px) min-content;
      grid-gap: 5px;
    }
    .star {
      font-size: 12px;
      @include desktop {
        font-size: 20px;
      }
    }
    .amount {
      margin-left: 10px;
      transform: translateX(0);
    } 
  }
  &-medium {
    display: flex;
    align-items: center;
    grid-gap: 3px;
  }
  &-small {
    display: flex;
    align-items: center;
    .star {
      transform: translateY(-1px);
    }
    .amount {
      font-size: 0.9em;
      transform: translateX(3px);
      @include tablet {
        font-size: 14px;
      }
      @include desktop {
        font-size: 16px;
      }
    }
  }
}
.amount {
  color: $color-border;
  font-weight: 600;
  &.active {
    color: $color-orange;
  }
}
.star {
  transform: translateY(-1px);
  color: $color-border;
  &.active {
    color: $color-orange;
  }
}