@import './assets/scss/vars';
@import './assets/scss/mixins';

.stars {
  
  &-large {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 12px) min-content;
    grid-gap: 3px;
    align-items: center;

    @include _desktop {
      grid-template-columns: repeat(5, 20px) min-content;
      grid-gap: 5px;
    }

    .star {
      font-size: 12px;

      @include _desktop {
        font-size: 20px;
      }
    }

    .amount {
      margin-left: 10px;
      transform: translateX(0);
    } 
  }

  &-medium {
    display: flex;
    align-items: center;
    grid-gap: 3px;
  }

  &-small {
    display: flex;
    align-items: center;

    .star {
      transform: translateY(-1px);
    }
    
    .amount {
      font-size: 12px;
      transform: translateX(3px);

      @include _tablet {
        font-size: 14px;
      }

      @include _desktop {
        font-size: 16px;
      }
    }
  }
}

.amount {
  color: $color-5;
  font-weight: 500;

  &.active {
    color: $color-orange;
  }
}

.star {
  color: $color-5;

  &.active {
    color: $color-orange;
  }
}