@use 'sass:color';

.wrapper {
  position: fixed;
  right: 15px;
  top: 15px;
  width: calc(100% - 30px);
  z-index: 210;
  @include tablet {
    top: 85px;
    width: 280px;
  }
}
.noty {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background: $color-8;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
  border-radius: $radius;
  overflow: hidden;
  &.primary {
    .header {
      background: $color-3;
    }
    .title {
      color: $color-3;
    }
  }
  &.error {
    .header {
      background: $color-red;
    }
    .title {
      color: $color-red;
    }
  }
  &.warning {
    .header {
      background: $color-orange;
    }
    .title {
      color: $color-orange;
    }
  }
  &.success {
    .header {
      background: $color-green;
    }

    .title {
      color: $color-green;
    }
  }
}
.title {
  margin: 20px 20px 10px 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.content{
  margin: 10px 20px 0 20px;
  color: $color-2;
  font-size: 14px;
  line-height: 135%;
}
.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  grid-gap: 10px;
  height: 30px;
  width: 100%;
  padding: 10px;
  background-color: $color-bg;
  &-countdown {
    margin: 4px auto 0 10px;
    font-size: 12px;
    color: $color-8;
  }
  &-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: $color-8;
    border-radius: $radiusBtn;
    border: 1px solid $color-border;
    color: $color-2;
    transition: border $speed;
    &:hover {
      border: 1px solid $color-5;
    }
  }
}
