.hemp-section {
  position: relative;
  width: 100%;
  overflow: hidden;

  &:after, &:before {
    @include desktop {
      content:'';
      position: absolute;
      top: 0;
      height: 100%;
      pointer-events: none;
      z-index: 2;

    }
  }

  &:after {
    width: 40%;
    right: 0;
    background: linear-gradient(to right, rgba(255, 247, 236, 0) 0%, #FFF7EC 100%);
  }

  &:before {
    width: 10%;
    left: 0;
    background: linear-gradient(to right, #FFF7EC, transparent);
  }

  --container-max: 2160px;
  --container-pad: 35px;
  --slide-w: 60%;

  // .slides {
  //   display: grid;
  //   grid-auto-flow: column;
  //   grid-auto-columns: var(--slide-w);
  //   overflow-x: auto;
  //   scroll-snap-type: x mandatory;
  //   -webkit-overflow-scrolling: touch;

  //   /* ✅ смещаем старт так, чтобы совпадал с контейнером */
  //   scroll-padding-left: calc((100vw - var(--container-max)) / 2 + var(--container-pad));

  //   /* ✅ чтобы последний слайд красиво останавливался */
  //   scroll-padding-right: calc((100vw - var(--container-max)) / 2 + var(--container-pad));

  //   /* чтобы справа выглядывал следующий */
  //   padding-right: 15vw; // можешь настроить
  // }

  .slides {
    display: grid;
    grid-auto-flow: column;
    --slide-w: 100%;
    grid-auto-columns: var(--slide-w);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-inline: calc((100vw - 2160px + 70px) / 2);
    scroll-padding-inline: calc((100vw - 2160px + 70px) / 2);


    @include desktop {
      --slide-w: 80%;
    }
  }

  // .slides {
  //   // scrollbar-width: thin;
  //   // scrollbar-color: $color-primary transparent;
  // }

  // .slides::-webkit-scrollbar {
  //   height: 12px;
  // }
  // .slides::-webkit-scrollbar-track {
  //   background: transparent;
  // }
  // .slides::-webkit-scrollbar-thumb {
  //   background: $color-primary;
  //   border-radius: 8px;
  //   height: 12px;
  // }
  // .slides::-webkit-scrollbar-thumb:hover {
  //   background: darken($color-primary, 10%);
  // }

  .slide {
    /* 4) снапим по центру окна */
    scroll-snap-align: start;

    // padding: clamp(20px, 5vw, 48px);
    padding: 0 150px 0 0;
    display: flex;
    align-items: start;

    @include desktop {
      align-items: center;
      // min-height: min(760px, 100svh);
    }


    // scroll-snap-align: start;
    // padding: clamp(20px, 5vw, 48px);

    &-inner {
      // width: min(1400px, 100%);
      width: 100%;
      margin-inline: auto;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      gap: 30px;

      @include desktop {
        grid-template-columns: min-content 1fr;
        gap: clamp(24px, 5vw, 64px);
      }
    }

    &-media {
      display: grid;
      place-items: start;
      width: 100vw;

      @include desktop {
        width: 500px;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        filter: drop-shadow(0 10px 24px rgba(0, 0, 0, 0.08));
      }
    }

    &-content {
      padding: 0 15px;

      @include desktop {
        padding: 0;
      }
    }

    &-eyebrow {
      letter-spacing: .5em;
      font-weight: 700;
      opacity: .55;
      margin: 0 0 .5rem 0;
    }

    &-title {
      font-size: clamp(36px, 5vw, 72px);
      line-height: 1.05;
      color: $color-primary;
      margin: 0 0 16px 0;
      font-weight: 800;
    }

    &-full_desc {
      font-size: clamp(16px, 1.4vw, 20px);
      line-height: 1.6;
      margin: 0 0 20px 0;

      .strong {
        font-weight: 800;
      }

      &:deep(p) {
        margin: 0 0 10px 0;
      }
    }

    &-chips {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      @include desktop {
        gap: 12px;
      }
    }

    &-chip {
      display: inline-flex;
      align-items: center;
      height: 38px;
      padding: 0 18px;
      border-radius: 999px;
      background: #fff;
      border: 2px solid $color-primary;
      font-weight: 500;
      cursor: pointer;

      @include desktop {
        height: 44px;
      }
    }
  }

}