.hemp-section {
  position: relative;
  width: 100%;
  overflow: hidden;


}



.about {
  --container-width: 2160px;
  --container-padding: 70px;
  --sidebar-width: 400px;


  :deep(.snap-carousel__viewport) {
    padding-inline: calc((100vw - var(--container-width) + var(--container-padding)) / 2);
    scroll-padding-inline: calc((100vw - var(--container-width) + var(--container-padding)) / 2);
  }

  :deep(.slide) {
    width: calc(100% - var(--sidebar-width));
  }

  &-wrapper {
    position: relative;

    &:after, &:before {
      @include ld {
        content:'';
        position: absolute;
        top: 0;
        height: 100%;
        pointer-events: none;
        z-index: 2;

      }
    }

    &:after {
      width: 40%;
      right: 0;
      background: linear-gradient(to right, rgba(255, 247, 236, 0) 0%, #FFF7EC 80%);
    }

    &:before {
      width: 10%;
      left: 0;
      background: linear-gradient(to right, #FFF7EC, transparent);
    }
  }

  &-carousel {
    width: 100%;
  }
}

