.hemp-section {
  position: relative;
  width: 100%;
  overflow: hidden;


}



.about {
  --container-width: 2160px;
  --container-padding: 70px;
  --sidebar-width: 400px;


  :deep(.snap-carousel__viewport) {
    padding-inline: calc((100vw - var(--container-width) + var(--container-padding)) / 2);
    scroll-padding-inline: calc((100vw - var(--container-width) + var(--container-padding)) / 2);
  }

  :deep(.slide) {
    width: calc(100% - var(--sidebar-width));
  }

  &-wrapper {
    position: relative;

    &:after, &:before {
      @include desktop {
        content:'';
        position: absolute;
        top: 0;
        height: 100%;
        pointer-events: none;
        z-index: 2;

      }
    }

    &:after {
      width: 40%;
      right: 0;
      background: linear-gradient(to right, rgba(255, 247, 236, 0) 0%, #FFF7EC 80%);
    }

    &:before {
      width: 10%;
      left: 0;
      background: linear-gradient(to right, #FFF7EC, transparent);
    }
  }

  &-carousel {
    width: 100%;
  }
}


.sidebar {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  gap: 30px;
  height: 100%;
  border-radius: 50px;
  background: rgba(255, 219, 169, 0.5);
  backdrop-filter: blur(5px);
  z-index: 3;
  padding: 40px;
  margin: 30px 15px;
  line-height: normal;

  @include desktop {
    position: absolute;
    top: 0;
    right: calc((100vw - var(--container-width) + var(--container-padding)) / 2);
    width: var(--sidebar-width);
    margin: 0;
  }

  &-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
  }

  &-content {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
    height: 100%;
    overflow: hidden;
    transform: translateY(-5px);

    &-label {
      color: $color-3;
    }
  }

  &-articles {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    gap: 15px;
    overflow-y: auto;

    @include scrollbar;
  }

  &-btn {
    width: 100%;
  }

}