.content {

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin: -20px;
    max-width: 900px;

    @include desktop {
      grid-template-columns: 1fr 1fr;
      margin: -50px;
    }
  }

  &-right {
    display: grid;
    gap: 30px;
    padding: 30px 20px 20px 20px;

    @include desktop {
      gap: 40px;
      padding: 50px;
    }
  }

  &-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
    color: $color-primary;

    @include desktop {
      font-size: 20px;
    }
  }
} 

.promo {
  position: relative;
  width: 100%;
  height: 20vh;
  background-size: contain;
  padding: 0;
  background-color: $color-bg-2;

  @include desktop {
    height: 100%;
    padding: 30px;
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translateY(15px);

    @include desktop {
      transform: none;
    }
  }


  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.benefits {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    order: 3;

    @include desktop {
    }
    li {
      display: grid;
      grid-template-columns: 40px 1fr;
      gap: 3px;

      @include desktop {
        grid-template-columns: 50px 1fr;
        gap: 5px;
      }
    }

    .icon {
      grid-row-start: 1;
      grid-row-end: 3;
      font-size: 30px;
      align-self: flex-start;

    }
  }

  &-title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
  }

  &-description {
    color: $color-3;
    font-size: 14px;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;
  order: 2;
  .button {
    width: 100%;
  }
}