@use '~/assets/scss/skeleton' as *;

.card {
  position: relative;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10px;
  padding: 0 10px;
  width: 100%;
  background: $color-8;
  @include tablet {
    grid-gap: 15px;
    padding: 0 15px;
  }
  @include desktop {
    grid-gap: 22px;
    padding: 0 20px;
  }
}
@keyframes blick {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.name {
  display: inline-block;
  height: 12px;
  @extend .skeleton-loading;
  &.name-1 {
    width: 100%;
  }
  &.name-2 {
    width: 80%;
  }
  @include desktop {
    height: 16px;
  }
  &-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
    justify-items: center;
  }
}
.image {
  display: block;
  width: 100%;
  height: 50vw;
  border-radius: $radius;
  @extend .skeleton-loading;
  @include desktop {
    height: 260px;
  }
}
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  justify-content: space-between;
  &-rating {
    :deep(.star) {
      color: $color-6;
    }
  }
  &-btn {
    width: 30%;
    height: 12px;
    @extend .skeleton-loading;
  }
}
.line {
  border: 0;
  border-top: 1px solid $color-7;
}
.amount {
  margin: 0 auto;
  width: 50%;
  height: 12px;
  @extend .skeleton-loading;
  @include tablet {
    height: 16px;
  }
}
.sale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  @include desktop {
    flex-direction: row;
  }
  .buy-btn {
    width: 34px;
    height: 34px;
    padding: 0;
    @extend .skeleton-loading;
    @include desktop {
      width: 100px;
    }
  }
  .price {
    @extend .skeleton-loading;
    height: 22px;
    width: 20%;
  }
}