@import './assets/scss/vars';
@import './assets/scss/mixins';

.card {
  position: relative;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10px;
  padding: 0 10px;
  width: 100%;
  background: $color-8;
  animation: blick 1s infinite;

  @include _tablet {
    grid-gap: 15px;
    padding: 0 15px;
  }

  @include _desktop {
    grid-gap: 20px;
    padding: 0 20px;
  }
}

@keyframes blick {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.name {
  display: inline-block;
  height: 12px;
  background: $color-5;

  &.name-1 {
    width: 100%;
  }

  &.name-2 {
    width: 80%;
  }
  
  @include _desktop {
    height: 16px;
  }

  &-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
    justify-items: center;
  }
}

.image {
  display: block;
  width: 100%;
  height: 50vw;
  border-radius: $radius;
  background: $color-5;

  @include _desktop {
    height: 260px;
  }
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  justify-content: space-between;

  &-rating {
    :deep(.star) {
      color: $color-6;
    }
  }

  &-btn {
    width: 30%;
    height: 12px;
    background: $color-7;
  }
}

.line {
  border: 0;
  border-top: 1px solid $color-7;
}

.amount {
  margin: 0 auto;
  width: 50%;
  height: 12px;
  background: $color-7;

  @include _tablet {
    height: 16px;
  }
}


.sale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  @include _desktop {
    flex-direction: row;
  }

  .buy-btn {
    width: 34px;
    height: 34px;
    padding: 0;
    background-color: $color-7;

    @include _desktop {
      width: 100px;
    }
  }

  .price {
    background: $color-7;
    height: 22px;
    width: 20%;
  }
}