@import './assets/scss/vars';
@import './assets/scss/mixins';

.block {
  display: grid;
  grid-gap: 20px;

  @include _desktop {
    grid-gap: 30px;
  }
}

.available {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 5px;
    font-size: 20px;
    color: #2CAE21;
  }

  .text {
    .status {
      color: #2CAE21;
    }

    .comment {
      color: $color-3;
    }
  }
}

.brand {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 5px;
  align-items: center;

  &-label {
    color: $color-3;
  }

  &-value {
    white-space: nowrap;
  }
}

.sale {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;

  @include _desktop {
    grid-template-columns: 1fr repeat(2, min-content);
    grid-gap: 20px;
  }
}

.price-block {
  font-size: 20px;
}

// .price {
//   &-block {
//     display: grid;
//     grid-auto-flow: row;
//     grid-gap: 5px;
//     margin-bottom: 10px;

//     @include _desktop {
//       margin-bottom: 0;
//     }
//   }

//   &-base {
//     order: 1;
//     :deep(.value) {
//       font-size: 24px;
//       font-weight: 500;
//       color: $color-0;

//       @include _desktop {
//         font-size: 30px;
//       }
//     }
//   }

//   &-old {
//     order: 2;
//     :deep(.value) {
//       font-weight: 400;
//       color: $color-3;
//       text-decoration: line-through;
//     }

//     + .price-base {
//       :deep(.value) {
//         color: $color-red;
//       }
//     }
//   }
// }