@use "sass:color";

.filter {
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 10px;
    @include desktop {
      grid-template-columns: min-content 1fr;
      grid-gap: 20px;
      margin: 0;
      overflow: hidden;
    }
  }
  &-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    justify-content: flex-start;
    overflow-x: auto;
    padding: 0 15px;
    width: calc(100vw - 30px);
    margin: 0 -15px;
    @include desktop {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      overflow-y: hidden;
      margin: 0;
      padding: 0;
      width: 100%;
      @include scrollbar;
    }
  }
  &-label {
    color: $color-3;
    white-space: nowrap;
  }
  &-remove-all-btn {
    width: min-content;
    height: 34px;
    padding: 0 15px;
    // background: $color-8;
    color: $color-dark;
    border: 2px solid $color-dark;
    flex-shrink: 0;
  }
  &-remove-btn {
    font-size: 24px;
    transition: color $speed;
    &:hover {
      color: $color-red;
    }
  }
  &-item {
    display: grid;
    grid-template-columns: min-content 24px;
    align-items: center;
    grid-gap: 5px;
    height: 34px;
    padding: 0 5px 0 10px;
    // background: color.scale($color-blue, $lightness: 85%);
    background: $color-bg;
    color: $color-dark;
    border-radius: $radiusBtn;
    white-space: nowrap;
    &:last-child {
      margin-right: 0;
    }
  }
}