@import './assets/scss/vars';
@import './assets/scss/mixins';

.filter {
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 10px;

    @include _desktop {
      // grid-template-columns: min-content 1fr;
      grid-template-columns: 1fr 4fr;
      grid-gap: 0;
      margin: 0;
      overflow: hidden;
    }
  }

  &-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    justify-content: flex-start;
    overflow-x: auto;
    padding: 0 15px;
    width: 100vw;
    margin: 0 -15px;

    @include _desktop {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      overflow-y: hidden;
      margin: 0;
      padding: 0;
      width: 100%;

      @include _scrollbar;
    }
  }

  &-label {
    color: $color-3;
    white-space: nowrap;
  }

  &-remove-all-btn {
    width: min-content;
    height: 34px;
    padding: 0 15px;
    background: $color-8;
    border: 1px solid $color-1;
    flex-shrink: 0;
  }

  &-remove-btn {
    font-size: 24px;
    transition: color $speed;

    &:hover {
      color: $color-red;
    }
  }

  &-item {
    display: grid;
    grid-template-columns: min-content 24px;
    align-items: center;
    grid-gap: 5px;
    height: 34px;
    padding: 0 5px 0 10px;
    background: scale-color($color-blue, $lightness: 85%);
    border: 1px solid $color-8;
    border-radius: $radius;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }
  }
}