.brand {
  &-list {
  }
  &-item {
    &-btn {
      display: grid;
      grid-template-columns: 16px 1fr;
      grid-gap: 15px;
      align-items: center;
      height: 50px;
      width: 100%;
      padding: 0 30px;
    }
    &:hover {
      .brand-name {
        color: $color-orange;
      }
    }
    &.disabled {
      pointer-events: none;
      
      .brand-name,
      .brand-count {
        color: $color-4;
      }
      .brand-input {
        opacity: 0.3;
      }
    }
    &.checked {
      .brand-input {
        border: 2px solid $color-orange;
      }
      .brand-input-icon {
        opacity: 1;
        color: $color-orange;
      }
    }
  }
  &-content {
    display: grid;
    grid-template-columns: 50px minmax(min-content, 1fr) min-content;
    grid-gap: 10px;
    align-items: center;
    text-align: left;
  }
  &-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 1px solid $color-border;
    border-radius: $radius;
  }
  &-name {}
  &-count {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 100;
    color: $color-3;

    &.plus {
      color: $color-green;
      &:before {
        content: '+';
        font-size: 10px;
      }
    }
  }
  &-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid $color-border;
    border-radius: $radius;
    &-icon {
      opacity: 0;
      font-size: 14px;
    }
  }
}