@import './assets/scss/vars';
@import './assets/scss/mixins';

.brand {
  &-list {

  }

  &-item {
    &-btn {
      display: grid;
      grid-template-columns: 16px 1fr;
      grid-gap: 15px;
      align-items: center;
      height: 50px;
      width: 100%;
      padding: 0 30px;
    }

    &:hover {
      background: $color-7;
    }

    &.disabled {
      .brand-name,
      .brand-count {
        color: $color-4;
      }
      .brand-input {
        opacity: 0.3;
      }
    }

    &.checked {
      .brand-input {
        border: 1px solid $color-0;
      }

      .brand-input-icon {
        opacity: 1;
      }
    }
  }

  &-content {
    display: grid;
    grid-template-columns: 40px minmax(min-content, 1fr) min-content;
    grid-gap: 10px;
    align-items: center;
    text-align: left;
  }

  &-image {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border: 1px solid $color-5;
    border-radius: $radius;
  }

  &-name {}

  &-count {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 100;
    color: $color-3;
  }

  &-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid $color-3;
    border-radius: $radius;
    background: $color-8;

    &-icon {
      opacity: 0;
      font-size: 14px;
    }
  }
}
