@import './assets/scss/vars';
@import './assets/scss/mixins';

.amount {
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  height: 40px;
  border-radius: $radius;
  background: $color-8;
  border: 2px solid $color-6;
}

.calc-input {
  text-align: center;
  font-size: 16px;
  width: 100%;
  min-width: 20px;
  text-align: center;
  border: none;
  background-color: transparent;
  pointer-events: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 36px;
  flex-shrink: 0;
  background-color: $color-8;
  transition: background $speed;

  .icon {
    transition: transform $speed;
  }

  &:hover {
    background-color: $color-7;
  }

  &:active {
    transition: none;
    background-color: $color-5;
  }
}
