.amount {
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  height: 40px;
  border-radius: 20px;
  background: $color-bg-2;
  border: 2px solid $color-border;
  &.large {
    @include desktop {
      height: 50px;
      max-width: 180px;
      .btn {
        height: 46px;
        width: 46px;
        .icon {
          font-size: 30px;
        }
      }
    }
  }
}
.calc-input {
  text-align: center;
  font-size: 16px;
  width: 100%;
  min-width: 20px;
  border: none;
  background-color: transparent;
  // pointer-events: none;
    
  -moz-appearance: textfield;
  appearance: none;
  
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 36px;
  flex-shrink: 0;
  background-color: $color-8;
  transition: background $speed;
  &:hover {
    background-color: $color-7;
  }
  &:active {
    transition: none;
    background-color: $color-5;
  }
  &.disabled {
    opacity: 0.5;
  }

  .icon {
    font-size: 20px;
    transition: transform $speed;
  }
}