@import './assets/scss/vars';
@import './assets/scss/mixins';

.block {
  border: 2px solid $color-bg;
  border-radius: 4px;
  background: #F9F9F9;
  transition: background $speed-slow, border $speed-slow;

  &.active {
    border: 2px solid #f5f5f5;
    background: $color-bg;
  }

  &:hover {
    background: $color-bg;
  }
}

:deep(.radio-custom) {
  width: 20px;
  height: 20px;
}

.form-radio {
  padding: 20px;
}