.contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  @include desktop {
    grid-template-columns: 260px 1px 410px;
    grid-gap: 40px;
  }
  &-btn {
    width: 100%;
    margin: 0 0 10px 0;
    &:last-of-type {
      margin: 0;
    }
    .icon {
      font-size: 20px;
    }
    .text {
    }
  }
}
.divide {
  display: none;
  @include desktop {
    display: block;
    width: 1px;
    height: 100%;
    background: $color-6;
  }
}
.map {
  &-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-dark-2;
  }

  &-container {
    border: 10px solid $color-border;
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover;
    height: 340px;
  }

  &-container :deep(iframe) {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    @include desktop {
      width: 100%;
    }
  }
}
.phones {
  margin: 0;
}
.social {
  margin: 0 0 40px 0;
  &-group {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &-group-title {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
    color: $color-dark-2;
    text-transform: uppercase;
  }
  &-group-hint {
    margin-bottom: 12px;
    line-height: 140%;
    color: $color-dark-2;
    font-size: 13px;
  }
}
.email {
  &-btn {
    text-transform: none;
  }
}
