.contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  @include desktop {
    grid-template-columns: 260px 1px 410px;
    grid-gap: 40px;
  }
  &-btn {
    width: 100%;
    margin: 0 0 10px 0;
    &:last-of-type {
      margin: 0;
    }
    .icon {
      font-size: 20px;
    }
    .text {
    }
  }
}
.divide {
  display: none;
  @include desktop {
    display: block;
    width: 1px;
    height: 100%;
    background: $color-6;
  }
}
.map {
  &-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  :deep(iframe) {
    width: 100%;
    height: 340px !important;
    margin-bottom: 40px;
    @include desktop {
      margin-bottom: 0;
      width: 410px;
    }
  }
}
.phones {
  margin: 0 0 40px 0;
}
.email {
  &-btn {
    text-transform: none;
  }
}