.supheader {
  &-btn {
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    column-gap: 5px;
    height: 50px;
    color: $color-0;
    font-weight: 600;
    transition: opacity 0.3s;
    padding: 0 30px;

    @include desktop {
      column-gap: 10px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-delim {
    height: 25px;
    width: 1px;
    background: rgba($color-0, 0.3);
  }
}

.region-block {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, min-content);
}

.region-block {
  grid-template-columns: 1fr min-content 1fr;

  @include desktop {
    grid-template-columns: repeat(3, min-content);
  }
}


.region-unit {
  display: grid;
  grid-template-columns: 28px min-content;
  // padding: 0 20px 0 10px;

  .icon {
    font-size: 28px;
  }
}

.unit-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 4px;

  &-label {
    font-size: 12px;
    color: rgba($color-0,0.5);
    font-weight: 400;
  }

  &-value {
    text-transform: uppercase;
    font-size: 14px;
  }
}