.supheader {
  &-btn {
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    height: 40px;
    color: $color-0;
    font-weight: 600;
    transition: opacity 0.3s;
    margin: 0 30px;
    min-width: 0;

    @include desktop {
      white-space: nowrap;
      column-gap: 10px;
      height: 50px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-delim {
    height: 25px;
    width: 1px;
    background: rgba($color-0, 0.3);
  }
}

.region-block {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 1fr) min-content minmax(0, 1fr);
  width: 100%;
  gap: 0;

  @include desktop {
    grid-template-columns: repeat(3, min-content);
    gap: inherit;
  }
}


.region-unit {
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 0;
  overflow: hidden;

  @include desktop {
    display: grid;
    grid-template-columns: 28px min-content;
    width: auto;
    overflow: visible;
    gap: 10px;
  }

  .icon {
    font-size: 24px;
    flex-shrink: 0;

    @include desktop {
      font-size: 28px;
    }
  }
}

.unit-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0;
  min-width: 0;
  flex: 1;

  @include desktop {
    gap: 4px;
    flex: none;
  }

  &-label {
    font-size: 10px;
    color: rgba($color-0,0.5);
    font-weight: 400;
    white-space: nowrap;

    @include desktop {
      font-size: 12px;
    }
  }

  &-value {
    text-transform: uppercase;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;

    @include desktop {
      font-size: 14px;
      max-width: 80%;
    }
  }
}