@import './assets/scss/vars';

.clicker {
  position: fixed;
  top:100px;
  left: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: $color-green;
  z-index: 1000;
  transform: scale(0);

  &--effect {
    transition: transform .6s, opacity .6s;
    transform: scale(1);
    opacity: 0;
  }
}