@use "sass:color";

.sale-fixed {
  position: fixed;
  left: 5px;
  bottom: 5px;
  display: grid;
  grid-template-columns: 40px 1fr min-content min-content;
  grid-gap: 5px;
  align-items: center;
  width: calc(100vw - 10px);
  height: 50px;
  padding: 5px;
  z-index: 100;
  background: $color-8;
  border-radius: $radius;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);

  // &-btn {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   height: 40px;
  //   width: 40px;
  //   border-radius: $radius;
  //   &.comparison-btn {
  //     color: $color-blue;
  //     background: color.scale($color-blue, $lightness: 80%);
  //     &.active {
  //       color: $color-8;
  //       background: $color-blue;
  //     }
  //   }
  //   &.favorite-btn {
  //     color: $color-red;
  //     background: color.scale($color-red, $lightness: 85%);
  //   }
  // }
  .content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .name {
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
  }

  .modification {
    color: $color-3;

  }

  .buy-btn {
    padding: 0;
    width: 50px;
    font-weight: 700;
    text-transform: uppercase;

    .icon {
      position: relative;
      left: 0;
      font-size: 22px;
    }
  }
  .price-block {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    justify-content: flex-end;
    justify-items: end;
    align-items: center;
    grid-gap: 2px;
    margin: 0 5px 0 0;
    .price {
      &-old {
        color: $color-3;
        font-size: 10px;
        text-decoration: line-through;
        + .price-base {
          color: $color-red;
        }
      }
      &-base {
        font-size: 16px;
      }
    }
  }
}