@import './assets/scss/vars';
@import './assets/scss/mixins';

.sale-fixed {
  position: fixed;
  left: 5px;
  bottom: 5px;
  display: grid;
  grid-template-columns: repeat(2, 40px) 1fr min-content;
  grid-gap: 5px;
  align-items: center;
  width: calc(100vw - 10px);
  height: 50px;
  padding: 5px;
  z-index: 100;
  background: $color-8;
  border-radius: $radius;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: $radius;

    &.comparison-btn {
      color: $color-blue;
      background: scale-color($color-blue, $lightness: 80%);

      &.active {
        color: $color-8;
        background: $color-blue;
      }
    }

    &.favorite-btn {
      color: $color-red;
      background: scale-color($color-red, $lightness: 85%);

      // &.active {
      //   color: $color-8;
      //   background: $color-red;
      // }
    }
  }

  .buy-btn {
    padding: 0 10px;
  }

  .price-block {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    justify-content: flex-end;
    justify-items: end;
    align-items: center;
    grid-gap: 2px;
    margin: 0 5px 0 0;

    .price {
      &-old {
        color: $color-3;
        font-size: 10px;
        text-decoration: line-through;

        + .price-base {
          color: $color-red;
        }
      }

      &-base {
        font-size: 16px;
      }
    }
  }
}