@import './assets/scss/vars';
@import './assets/scss/mixins';

.nav-button {
  padding: 0;
  width: 40px;

  @include _desktop {
    width: 50px;
  }

  .icon {}

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.slider-button {
}

.btns-wrapper {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
  width: calc(100% - 20px);
  margin: 20px auto;

  @include _desktop {
    grid-template-columns: 50px 1fr 50px;
    width: min-content;
    margin: 20px auto;
  }

  &.short {
  }

  &.hide {
    .slider-button {
      visibility: hidden;
    }
  }
}

.dots {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10px;
  grid-gap: 5px;
  width: min-content;

  &-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }

  @include _desktop {
    // display: none;
  }

  &-item {
    width: 10px;
    height: 10px;
    border: 1px solid $color-5;
    background-color: $color-8;
    border-radius: 2px;
    transition: border 0.4s, background-color 0.4s;

    &.active {
      background-color: $color-green;
      border: 1px solid $color-green;
    }
  }

}