@import './assets/scss/vars';
@import './assets/scss/mixins';

.card {
  display: inline-block;
  width: 100%;
  
  &-content {
    display: grid;
    grid-gap: 15px;
    padding: 30px 20px;
    background: $color-7;
    border-radius: $radius;

    @include _desktop {
      padding: 30px 40px;
    }
  }

  &-text {
    line-height: 160%;
  }
}

.author {
  display: grid;
  grid-template-columns: 50px min-content;
  align-items: center;
  grid-gap: 20px;
  margin: 10px 0 0 20px;
  line-height: 160%;

  @include _desktop {
    margin: 20px 40px 0 40px;
  }

  &-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: $radius;
  }

  &-name {
    font-weight: 500;
    white-space: nowrap
  }
}