@import './assets/scss/vars';
@import './assets/scss/mixins';
@import './assets/scss/rich-text';

.review-wrapper {
  margin: 70px 0;
}

.seo-text {
  margin: 70px 0;
}

.faq-section {
  margin: 70px 0 0 0;
}