.payment {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-gap: 10px;
  margin: 0 0 20px 0;
  @include desktop {
    grid-template-columns: initial;
    grid-auto-columns: 60px;
    margin: 0 0 30px 0;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    border-radius: $radius;
    background: $color-bg-3;
  }
  &-image {
    width: 50px;
    height: 30px;
    object-fit: contain;
  }
}
.type {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 10px;

  @include desktop {
    grid-auto-flow: column;
    grid-auto-columns: min-content;
  }
  &-item {
    padding: 6px 10px;
    border: 1px solid $color-border;
    border-radius: $radius;
    white-space: nowrap;
    @include desktop {
      white-space: nowrap;
    }
  }
}