@import './assets/scss/vars';
@import './assets/scss/mixins';

.row {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;

  @include _tablet {
    padding: 20px 0;
    grid-template-columns: 1fr 40px;
    border-bottom: 1px solid $color-6;
  }

  @include _desktop {
  }

  &-wrapper {
    width: 100%;
    padding: 15px;
    margin: 0 0 15px 0;
    background: $color-8;
    border-radius: $radius;

    @include _tablet {
      padding: 0;
      margin: 0;
    }
  }
}

.columns-area {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  grid-gap: 15px;
  width: 100%;

  @include _tablet {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 30px;
  }
}

.details {
  padding: 20px 0;
  border-bottom: 3px solid $color-6;

  @include _tablet {
    padding: 30px 0 10px 0;
  }
}


.action-column {
  width: 100%;

  @include _desktop {
    width: 40px;
  }

  &.empty {
    display: none;

    @include _desktop {
      display: block;
    }
  }
}

.show-more-btn {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 30px;
  width: 100%;
  background: $color-6;
  border-radius: $radius;
  font-size: 12px;

  @include _desktop {
    align-self: center;
    height: 100%;
    width: 40px;
    background: transparent;
  }

  .icon {
    transform: rotate(90deg);
    transition: transform $speed;
    font-size: 16px;

    @include _desktop {
      font-size: 20px;
    }
  }

  .text {
    @include _desktop {
      display: none;
    }
  }

  &.active {
    .icon {
      transform: rotate(-90deg);
    }
  }

  &.disabled {
    pointer-events: none;

    > * {
      pointer-events: none;
    }
  }
}

.button-disabled {
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  background: $color-8;
}