@import './assets/scss/vars';
@import './assets/scss/mixins';

.comparison {
  &-wrapper {
    position: relative;
    display: block;

    @include _desktop {
      position: fixed;
      bottom: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      padding: 0 10px;
    }
  }
}