@import './assets/scss/vars';
@import './assets/scss/mixins';



.catalog-btn {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 24px min-content;
  grid-gap: 6px;
  background: $color-8;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;

  .text {
    white-space: nowrap;
  }
}