.catalog-btn {
  display: none;
  @include tablet {
    padding: 0 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 24px min-content;
    grid-gap: 6px;
    background: $color-primary;
    color: $color-8;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    .text {
      white-space: nowrap;
    }

    &:hover {
      background: rgba($color-primary, 0.8);
    }
  }
}