@import './assets/scss/vars';
@import './assets/scss/mixins';

.show-password {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.4s;

  .icon {
    color: $color-1;
    transition: color $speed;
  }

  &:hover,
  &.active {
    .icon {
      color: $color-3;
    }
  }
}