@import './assets/scss/vars';
@import './assets/scss/mixins';

.loader {
  position: absolute;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: $color-green;
  transform: scale(0);
  animation: pulse .9s ease infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
    opacity: 0;
  }
}