.sub-outer {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr;
  width: 100%;
  width: calc(100% + 40px);
  margin: -20px;

  @include desktop {
    width: calc(100% + 40px);
    margin: -20px;
  }
}
.catalog {
  overflow-y: scroll;
  height: 100%;
}
.sub {
  &-header {
    display: grid;
    grid-template-columns: repeat(2, 40px) 1fr;
    align-items: center;
    padding: 10px 50px 10px 0;
    width: 100%;
    background: $color-bg;
    border-bottom: 1px solid $color-border;
    @include desktop {
      display: none;
    }
  }
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
  }
  &-title {
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
  }
}

.category-image {
  border-radius: $radius;
}