@import './assets/scss/vars';
@import './assets/scss/mixins';

.content {
  width: 100%;
  overflow-x: auto;
  margin: 30px 0 0 0;

  @include _scrollbar;

  &-row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 290px;
    grid-auto-rows: min-content;
    grid-column-gap: 15px;

    &:last-child {
      .content-caption {
        .content-value {
          border-bottom: 0;
        }
      }
    }
  }

  &-value {
    height: 100%;
    padding: 10px 0;
  }

  &-cell {
    position: relative;
    padding: 0 15px 0 0;
    line-height: 135%;
    border-right: 1px solid $color-6;

    .content-value {
      border-bottom: 2px solid $color-6;
    }

  }


  &-caption {
    position: sticky;
    left: 0;
    z-index: 1;
    padding: 0 20px;
    background: scale-color($color-blue, $lightness: 85%);

    .content-value {
      border-bottom: 2px solid $color-8;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 500;

      &.first-cell  {
        font-size: 14px;
        text-transform: none;
        color: $color-3;
        font-weight: 400;
      }
    }
  }
}

.field {
  &-link {
    text-decoration: underline;
    transition: color $speed;

    &:hover {
      color: $color-green;
    }
  }
}

.product-image {
  width: 290px;
  height: 150px;
  object-fit: contain;
  border-radius: $radius;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: $color-3;

  &:hover {
    color: $color-red;
  }
}

.attr-list {
  margin-top: 30px;

  .content-caption {
    background: $color-6;
  }
}