.modal {
  &-affiliate {
    :deep(.modal-slot) {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;

    @include desktop {
      width: 100%;
    }

    &-title {
      font-weight: 900;
      font-size: 28px;
      line-height: 1;
      font-family: var(--font-display);
      color: $color-green;
    }

    &-desc {
      color: $color-3;
    }

  }

  &-subtitle {
    font-weight: 900;
  }

  &-content {
    .modal-subtitle {
      margin: 0 0 10px 0;
    }

    &-ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 0  0 5px;
      margin: 0 0 30px 0;
    }

    &-levels {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
      padding: 0 0  0 5px;

      &-li {
        white-space: nowrap;
      }
    }
  }

  &-form {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  &-button {
    margin-top: 10px;
  }
}
