@import './assets/scss/vars';
@import './assets/scss/mixins';

.category {
  &-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    @include _scrollbar;

    @include _desktop {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 20px 20px 20px;
      width: 375px;
      background: $color-6;
    }

    &.mobile-active {
      display: block;
    }
  }
  
  &-inner {
    @include _desktop {
      position: sticky;
      height: min-content;
      top: 0;
      display: block;
    }
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 15px 0;
    text-align: left;
    line-height: 120%;
    border-radius: $radius;
    transition: background $speed, color $speed;

    @include _desktop {
      margin: 0 0 5px 0;
      padding: 10px 45px 10px 10px;
    }

    &:last-of-type {
      margin: 0;
    }

    &.active {
      color: $color-primary;
      background: $color-5;
    }

    &:hover {
      background: $color-5;
      color: $color-primary;
    }
  }

  &-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 0 15px 0 0;
    border-radius: $radius;
  }

  &-name {
    text-transform: uppercase;
    font-size: 12px;

    @include _desktop {
      font-size: 14px;
    }
  }

  &-icon {
    position: absolute;
    right: 10px;
    font-size: 24px;
  }
}
