@import './assets/scss/vars';
@import './assets/scss/mixins';

.sub {
  &-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    padding: 0;

    @include _scrollbar;

    @include _desktop {
      position: absolute;
      top: 0;
      left: 375px;
      display: block;
      padding: 30px 0;
      overflow-y: scroll;
      width: calc(100vw - 375px - 90px);
    }

    &.mobile-active {
      display: block;
    }
  }

  &-inner {
    display: block;
    padding: 0 0 20px 0;

    @include _desktop {
      columns: 3;
    }
  }

  &-item {
    display: block;
    margin: 0;
    padding: 10px 10px 10px 20px;
    text-transform: uppercase;
    line-height: 130%;
    font-size: 12px;

    @include _desktop {
      margin: 0 0 10px 30px;
      padding: 0;
      font-size: 14px;
    }

    &:first-of-type {
      font-weight: 500;
    }
  }
}

.last {
  margin: 0 0 10px 20px;

  @include _desktop {
    margin: 0 0 20px 30px;
  }

  &-link {
    display: block;
    padding: 10px 0;
    color: $color-3;

    @include _desktop {
      margin: 0 0 10px 0;
      padding: 0;
    }
  }
}