@import './assets/scss/vars';
@import './assets/scss/mixins';

.list {
  display: grid;
  grid-gap: 15px;
  list-style-type: disc;
  padding-left: 15px;

  &-item {
    padding-left: 5px;
    line-height: 145%;
  }
}