@import './assets/scss/vars';
@import './assets/scss/mixins';


.header {
  display: flex;
  align-items: center;
  margin: -20px -20px 0 -20px;
  width: calc(100vw - 25px);
  height: 60px;
  padding: 0 20px;
  background: $color-7;

  @include _desktop {
    display: none;
  }
}

.content {
  display: grid;
  grid-gap: 30px;
  padding: 30px 0;

  @include _desktop {
    padding: 0 0 30px 0;
    margin: -20px 0 0 -20px;
    width: calc(100% + 40px);
  }

  &-catalog {
    display: block;
    position: relative;
    // background: scale-color($color-green, $lightness: 85%);
    background: $color-green;
    color: $color-8;
    border: 2px solid $color-green;

    @include _desktop {
      display: none;
    }

    :deep(.icon) {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
  }
}

.back {
  display: grid;
  grid-template-columns: 40px min-content;
  align-items: center;
  grid-gap: 15px;

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: $radius;
    background: $color-5;
  }

  .icon {
    font-size: 24px;
  }

  &-text {
    text-transform: uppercase;
    font-size: 12px;
  }
}

.menu {
  &-label {
    margin: 0 0 15px 0;
    color: $color-4;
  }

  &-ul {
    display: grid;
    grid-gap: 15px;
  }

  &-link {
    transition: color $speed;
    &:hover {
      color: $color-green;
    }
  }
}
