.four {
  &-wrapper {
    position: relative;
    padding: 100px 0;
    background-color: #f0e0ca;
  }

  &-inner {
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto 100px auto;
    &__title {
      font-weight: 900;
      font-size: 68px;
      line-height: 100%;
      margin: 0 0 30px 0;
    }

    &__description {
      width: 60%;
      font-size: 20px;
      line-height: 130%;
    }
  }

  &-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 50px;
    position: relative;
    z-index: 10;
    max-width: 1500px;
    margin: 0 auto;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &__title {
      margin: 15px 0;
      padding: 0 20px;
      font-size: 24px;
      font-weight: 900;
      line-height: 100%;
      text-transform: uppercase;
    }

    &__description {
      padding: 0 20px;
      font-size: 16px;
      line-height: 140%;
      max-width: 300px;
    }

    &__img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;

      &-wrapper {
        position: relative;
        width: 200px;
        height: 200px;
        // background: rgba($color-8, 0.5);
        // backdrop-filter: blur(12px);
        border-radius: 30px;
        margin: 0 auto 20px auto;
        overflow: hidden;

      }
    }
  }
}