.form-row {
  display: grid;
  gap: 16px;

  @include desktop {
    width: 50%;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.bank-details {
  margin-top: 4px;
}

.title {
  margin: 20px 0 0 0;
  font-weight: 500;
}
