@import './vars';
@import './mixins';

.page-tr-enter-active {
  transition: opacity .3s, filter .3s;
}
.page-tr-leave-active{
  transition: none;
}

.page-tr-enter-from,
.page-tr-leave-to {
  opacity: 0;
  filter: blur(0.1rem);
}

//
.layout-tr-enter-active,
.layout-tr-leave-active {
  transition: opacity .3s;
}
.layout-tr-enter-from,
.layout-tr-leave-to {
  opacity: 0;
}


// zoom
.zoom-enter-active,
.zoom-leave-active {
  transition: all 0.4s;
}
.zoom-enter-from,
.zoom-leave-to {
  opacity: 0;
  filter: blur(0.5rem);
}
.zoom-enter-from {
  transform: scale(3);
}
.zoom-leave-to {
  transform: scale(1);
}

// move-y
.move-y-enter-active,
.move-y-leave-active {
  transition: all 0.4s;
}
.move-y-enter-from,
.move-y-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.move-y-enter-from {
  transform: translateY(100px);
}
.move-y-leave-to {
  transform: translateY(0);
  transition: all 0s;
}

// move-x
.move-x-enter-active,
.move-x-leave-active {
  transition: all 0.4s;
}
.move-x-enter-from,
.move-x-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.move-x-enter-from {
  transform: translateX(-100px);
}
.move-x-leave-to {
  transform: translateX(100px);
}

// move-x-right
.move-x-right-enter-active,
.move-x-right-leave-active {
  transition: all 0.4s;
}
.move-x-right-enter-from,
.move-x-right-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.move-x-right-enter-from {
  transform: translateX(100px);
}
.move-x-right-leave-to {
  transform: translateX(0);
}

// modal-right
.modal-right-enter-active,
.modal-right-leave-active {
  transition: all $speed;
}
.modal-right-enter-from,
.modal-right-leave-to {
  opacity: 0;
}
.modal-right-enter-from {
  .effect-2 {
      filter: blur(1rem);
      transform: translateX(100px) !important;
  }

  
}
.modal-right-leave-to {
  .effect-2 {
      filter: blur(1rem);
      transform: translateX(0) !important;
  }
}

//fade-in
.fade-in-enter-active,
.fade-in-leave-active {
  transition: all 0.3s;
}
.fade-in-enter-from {
  opacity: 0;
  filter: blur(1rem);
}

.fade-in-leave-to {
  transition: all 0s;
}

// Opacity
.opacity-enter-active,
.opacity-leave-active {
  transition: all 1s;
}
.opacity-enter-from {
  opacity: 0;
}

.opacity-leave-to {
  transition: all 0s;
}


//scale-x
.scale-x-enter-active,
.scale-x-leave-active {
  transition: all 0.3s;
}
.scale-x-enter-from,
.scale-x-leave-to {
  opacity: 0;
  transform: scaleX(0);
}


// EFFECTS
.clickable {
  position: relative;
  //transition: filter .5s;
  //transition: transform .6s, filter .6s;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50px;
    background: rgba(255,255,255,0.15);
    transform: translate(-50%, -50%);
    //transition: transform .3s;
    animation-fill-mode: backwards;
  }

  &--effect {
    //transition: filter .1s;
    //filter: drop-shadow(0px 0px 10px white);
    // transform: scale(1.1);
    //transition: transform .3s, filter .3s;

    &:after {
      //transform: translate(-50%, -50%) scale(1);
      //transform: translate(-50%, -50%) scale(0);
      animation: blick .6s;
      //animation: blick .3s;
    }
  }
}

@keyframes blick {
  0% {
    opacity: 1;
    width: 0;
    height: 0;
    // transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 0;
    width: 100px;
    height: 100px;
    // transform: translate(-50%, -50%) scale(1);
  }
}



.can-loading {
  
  
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    padding-bottom: 0;
    border-radius: 100%;
    transition: width $speed, padding $speed;
  }

  &.loading {
    pointer-events: none;

    &:before {
      background: $color-0;
      animation: loading 2s infinite;
    }
  }
}

@keyframes loading {
  0%{
    width: 0;
    padding-bottom: 0;
  }
  50%{
    width: 110%;
    padding-bottom: 110%;
  }
  100%{
    width: 0;
    padding-bottom: 0;
  }
}