@use './vars' as *;
@use 'sass:color';

// MOBILE FIRST
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin ld {
  @media (min-width: 1441px) {
    @content;
  }
}
@mixin xld {
  @media (min-width: 1920px) {
    @content;
  }
}
//
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: color.scale($color-primary, $lightness: 60%);
    &:hover {
      background: $color-primary;
    }
  }
}
@mixin scrollbar-x {
  &::-webkit-scrollbar {
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: color.scale($color-primary, $lightness: 60%);
    &:hover {
      background: $color-primary;
    }
  }
}
@mixin scrollbar-secondary {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-6;
    &:hover {
      background: $color-4;
    }
  }
}