// Loading animation
@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.skeleton-loading {
  background: linear-gradient(90deg, #f2e4d6 25%, #fff7ed 50%, #f2e4d6 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 4px;
  opacity: 0.6;
}
.skeleton-loading-2 {
  @extend .skeleton-loading;
  opacity: 0.4;
}