// COLORS
$color-0: #000000;
$color-1: #333333;
$color-11: #444444;
$color-2: #656565;
$color-3: #999999;
$color-4: #CCCCCC;
$color-5: #EEEEEE;
$color-6: #F5F5F5;
$color-7: #F9F9F9;
$color-8: #FFFFFF;

$color-dark-green: #2CAE21;

$color-green: #A2D242;
$color-red: #ED6663;
$color-violet: #AD41D1;
$color-blue: #56BFD1;
$color-orange: #FFBA35;

$color-green-2: #F1F8E3;
$color-violet-2: #FCE8E8;
$color-red-2: #F3E3F8;
$color-blue-2: #E6F5F8;
$color-orange-2: #FFF5E1;

$color-green-3: #F8FCF2;
$color-violet-3: #FEF4F4;
$color-red-3: #F9F2FC;
$color-blue-3: #F3FBFC;
$color-orange-3: #FFFAF1;

$color-google: #EA4335;
$color-facebook: #1877F2;
$color-instagram: #C13584;
$color-tiktok: #000000;

$color-whatsup: #25D366;
$color-viber: #8F5DB7;
$color-telegram: #0088CC;


// GRADIENTS
$yellow-grad: linear-gradient(128.03deg, #FFE000 0%, #FFF4A3 100%);
$blue-grad: linear-gradient(180deg, #0099D0 0%, #79DCFF 100%);
$blue-grad-bg: linear-gradient(145.79deg, #FBFBFB 0.57%, #ECFAFF 98.26%);

// ANIMATION
$speed-fast: .15s;
$speed: .3s;
$speed-slow: .5s;

//
$radius: 4px;




//
$color-bg: $color-8;
$color-text: $color-1;
$color-primary: $color-green;

//
$radiusBtn: $radius;
//