// COLORS
$color-0: #564a38;
$color-1: #564a38;
$color-11: #444444;
$color-2: #656565;
$color-3: #baad9a;
$color-4: #CCCCCC;
$color-5: #EEEEEE;
$color-6: #F5F5F5;
$color-7: #F9F9F9;
$color-8: #FFFFFF;

$color-green: #73C56F;
$color-violet: #7A3ECC;
// $color-orange: #FFBB72;
$color-orange: #FF8400;

$color-red: #ED6663;

$color-dark-green: #73C56F;
$color-blue: #56BFD1;

$color-green-2: #F1F8E3;
$color-violet-2: #FCE8E8;
$color-red-2: #F3E3F8;
$color-blue-2: #E6F5F8;
$color-orange-2: #FFF5E1;
$color-green-3: #F8FCF2;
$color-violet-3: #FEF4F4;
$color-red-3: #F9F2FC;
$color-blue-3: #F3FBFC;
$color-orange-3: #FFFAF1;

$color-google: #EA4335;
$color-facebook: #1877F2;
$color-instagram: #C13584;
$color-tiktok: #000000;
$color-whatsapp: #25D366;
$color-viber: #8F5DB7;
$color-telegram: #0088CC;

// GRADIENTS
$yellow-grad: linear-gradient(128.03deg, #FFE000 0%, #FFF4A3 100%);
$blue-grad: linear-gradient(180deg, #0099D0 0%, #79DCFF 100%);
$blue-grad-bg: linear-gradient(145.79deg, #FBFBFB 0.57%, #ECFAFF 98.26%);
// ANIMATION
$speed-fast: .15s;
$speed: .3s;
$speed-slow: .5s;
//
$radius: 10px;
//
$color-bg: #fff7ed;
$color-bg-2: #ffecd4;
$color-bg-3: #f9f0e6;
$color-border: #f1e4d5;
$color-dark: #3d3b38;
$color-dark-1: #504c46;
$color-dark-2: #676259;
$color-text: $color-1;
$color-primary: $color-green;
//
$radiusBtn: 25px;
//