.error {
  text-align: center;
}
.status {
  font-weight: 700;
  font-size: 120px;
  line-height: 135%;
  color: $color-border;

  @include desktop {
    font-size: 300px;
    line-height: 135%;
  }
}
.text {
}
.action-btn {
  width: 100%;
  max-width: 260px;
  margin: 30px auto;
  .icon {
    margin-right: 5px;
  }
}