@use '~/assets/scss/skeleton' as *;

.title {
  width: 50%;
  height: 30px;
  @extend .skeleton-loading;
  @include desktop {
    height: 40px;
    margin: 0 0 20px 0;
  }
}
.categories {
  @include desktop {
    margin: 0 0 120px 0;
  }
}
.filter {
  width: 100%;
  height: 300px;
  @extend .skeleton-loading;
  @include desktop {
    margin: 0 0 50px 0;
  }
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  @include desktop {
    grid-template-columns: 20% 80%;
  }
  &.no-filters {
    @include desktop {
      grid-template-columns: 100%;
    }
    .content-grid {
      @include desktop {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
  &-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-row-gap: 30px;
    width: 100%;
    max-width: 100vw;
    @include tablet {
    }
    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
    @include ld {
      grid-template-columns: repeat(5, 1fr);
    }
    @include xld {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
.filters {
  display: none;
  @include desktop {
    display: block;
  }
}