@import './assets/scss/vars';
@import './assets/scss/mixins';

.account {
  display: grid;
  grid-gap: 20px;

  @include _tablet {
    grid-template-columns: 320px minmax(0, 1fr);
  }
}

.sidebar {
  height: fit-content;
  padding: 30px;
  background: $color-0;
  border-radius: $radius;

  @include _tablet {
    position: sticky;
    top: 80px;
  }
}

.menu {
  margin: 40px 0 0 0;
}