@import './reset';
@import './mixins';
@import './vars';
@import './buttons';
@import './animations';

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  // pointer-events: none;
  // touch-action: pan-left, pan-right, pan-up, pan-down, pan-x, pan-y;


  // @include _desktop {
  //   pointer-events: all;
  //   touch-action: auto;
  // }
}

input,
button,
a,
textarea,
label,
*[clickable] { 
  touch-action: manipulation;
  pointer-events: auto; 
}

*[button] {
  transition: transform $speed-fast;

  &:active {
    transition: transform 0s;
    transform: scale(0.95);
  }
}

*[scrollable],
*[pointer] {
  pointer-events: auto;

  * {
    pointer-events: auto;
  }
}

html {
  overflow-x: initial;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 100%;
  color: $color-1;
  scroll-snap-type: y mandatory;
  height: 100%;

  @include _desktop {
    overflow-x: hidden;
    width: 100%;
    font-size: 16px;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $color-7;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($color-green, 0.75);

    &:hover {
      background: rgba($color-green, 1);
    }
  }
}

body {
  @include _tablet {
    scroll-snap-type: none;
    max-height: initial;
  }
}

a {
  color: $color-0;
}

.container {
  padding: 0 15px;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;

  @include _tablet {
    padding: 0 35px;
    overflow-x: initial;
  }

  @include _desktop {
    max-width: 1440px;
  }
}

.pseudo-full {
  margin-left: -35px;
  margin-right: -35px;
  padding: 0 35px;
  width: calc(100% + 70px);
}

.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}


.caption {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

.sticky {
  @include _desktop {
    position: sticky;
    top: 80px; 
  }
}

img {
  &.lazy {
    opacity: 1;
    transition: opacity $speed;

    &.loaded {
      opacity: 1;
    }
  }
}


// COMMON PAGE
.page {
  &-base {
    padding-bottom: 60px;
  }
}

// TITLE
.title {
  &-common {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 115%;

    @include _desktop {
      margin-bottom: 30px;
      line-height: 145%;
      font-size: 24px;
    }
  }

  &-secondary {
    font-size: 24px;
    line-height: 115%;
    text-transform: uppercase;

    @include _desktop {
      line-height: 145%;
    }
  }
}

.section-title {
  padding: 0 20px;
  margin-bottom: 15px;
  color: $color-1;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;

  @include _tablet{
    margin-bottom: 20px;
    font-size: 26px;
  }

  @include _desktop {
    margin-bottom: 30px;
    font-size: 38px;
    text-align: center;
  }
}

.main-section {
  margin-top: 50px;

  @include _tablet {
    margin-top: 65px;
  }
  
  @include _desktop {
    margin-top: 80px;
  }
}

.section-nav {
  margin-top: 30px;
}

// FORM
.label {
  font-size: 12px;
  color: $color-4;

  @include _desktop {
    font-size: 14px;
  }
}

// COLORS
.google-bg {
  background: $color-google;
  color: $color-8;
  transition: background $speed;

  &:hover {
    background: scale-color($color-google, $lightness: 20%);
  }
}
.facebook-bg {
  background: $color-facebook;
  color: $color-8;
  transition: background $speed;

  &:hover {
    background: scale-color($color-facebook, $lightness: 20%);
  }
}
.x-bg {
  background: $color-0;
  color: $color-8;
  transition: background $speed;

  &:hover {
    background: scale-color($color-0, $lightness: 20%);
  }
}
.instagram-bg {
  background: $color-instagram;
  color: $color-8;
  transition: background $speed;

  &:hover {
    background: scale-color($color-instagram, $lightness: 20%);
  }
}
.tiktok-bg {
  background: $color-tiktok;
  color: $color-8;
  transition: background $speed;

  &:hover {
    background: scale-color($color-tiktok, $lightness: 20%);
  }
}


.facebook-text {
  color: $color-facebook;
}

.instagram-text {
  color: $color-instagram;
}


.facebook-link {
  color: $color-facebook;

  &:hover {
    color: scale-color($color-facebook, $lightness: 30%);
  }
}

.instagram-link {
  color: $color-instagram;

  &:hover {
    color: scale-color($color-instagram, $lightness: 30%);
  }
}

//
.violet-text {
  color: $color-violet;
}