.content {
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    width: 100%;
    @include desktop {
      grid-template-columns: 1fr 380px;
      grid-gap: 50px;
    }
  }
  &-aside {
    height: min-content;
    padding: 30px;
    border: 1px solid $color-border;
    border-radius: $radius;
    @include desktop {
      position: sticky;
      top: 110px;
    }
  }
}