@import './assets/scss/vars';
@import './assets/scss/mixins';

.content {

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    width: 100%;

    @include _desktop {
      grid-template-columns: 1fr 380px;
      grid-gap: 50px;
    }
  }

  &-aside {
    height: min-content;
    padding: 30px;
    border: 2px solid $color-5;
    border-radius: $radius;

    @include _desktop {
      position: sticky;
      top: 110px;
    }
  }
}