:deep(.snap-carousel) {
  --arrow-bg: #{$color-8};
  --arrow-border: 2px solid #{$color-bg-2};
  --arrow-border-hover: 2px solid #{$color-orange};
  --arrow-fg: #{$color-orange};
  --arrow-fg-hover: #{$color-orange};
  --dot-bg: #{$color-8};
  --dot-active-bg: #{$color-orange};
  --arrow-size: 50px;
}