@import './assets/scss/vars';
@import './assets/scss/mixins';

.content {
  position: relative;
  max-height: 189px;
  overflow: hidden;

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }

  @include _desktop {
    max-height: initial;
  }
}