.no-medicine-box {
  margin-bottom: 30px;
}
.content {
  position: relative;
  max-height: 189px;
  overflow: hidden;
  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: rgb(255 247 237);
    background: linear-gradient(0deg, rgba(255, 247, 237,1) 0%, rgba(255, 247, 237,1) 50%, rgba(255, 247, 237,0) 100%);
  }
  @include desktop {
    max-height: initial;
  }
}