@import './assets/scss/vars';
@import './assets/scss/mixins';

.input__wrapper-checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
}

.input-checkbox {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;

  &:checked {
    & + .custome-checkbox {
      background: $color-green;
      .icon {
        color: $color-8;
        opacity: 1;
      }
    }
  }
}

.custome-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 5px;
  width: 20px;
  height: 20px;
  color: $color-0;
  // margin-right: 15px;
  // background: $color-6;
  border: 2px solid $color-5;
  border-radius: 4px;
  transition: background 0.3s;
}
.custome-checkbox .icon {
  opacity: 0;
  transition: opacity 0.3s;
}

.input__wrapper-checkbox{
  &:hover {
    .custome-checkbox {
      background: rgba($color-green, 0.55);
    }
  }
}