.block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  grid-gap: 10px;
  width: 100%;
  line-height: 135%;
  @include tablet {
    flex-direction: row;
    grid-gap: 20px;
  }
  .title {
    font-weight: 500;
  }
  .desc {
    font-size: 12px;
    color: $color-gray;    
  }
}
.btn {
  width: 100%;
  @include tablet {
    max-width: 180px;
  }
}