@import './assets/scss/vars';
@import './assets/scss/mixins';


.thumbnail {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  height: 50px;
  grid-gap: 5px;
  padding: 0 15px;
  overflow-x: scroll;
  order: 2;

  &-btn {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid $color-5;
    border-radius: $radius;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 14px;
      border: 2px solid $color-8;
      background: $color-green;
      border-radius: 100%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0;
      transition: opacity $speed, width $speed, height $speed, border $speed;
    }
  }

  &-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $radius;
  }
}

.gallery {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  width: 100vw;
  grid-gap: 10px;

  &.length-1 {
    .thumbnail {
      grid-auto-columns: 100%;
    }
  }
}

.main {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-gap: 5px;
  order: 1;
  padding: 0 15px;
  overflow-y: auto;
  scroll-behavior: smooth;

  &-image {
    // width: 100%;
    // min-width: min-content;
    height: 320px;
    width: auto;
    max-width: 80vw;
    object-fit: contain;
    border-radius: $radius;
  }
}