.review {
  &-grid {
    column-gap: 25px;
    @include desktop {
      columns: 2;
    }
  }
  &-pagination {
    margin-top: 50px;
  }
}
.shop-review-card {
  margin-bottom: 25px;
  @include desktop {
    margin-bottom: 50px;
  }
}