.review {
  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    
    @include desktop {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &-pagination {
    margin-top: 50px;
  }
}
.shop-review-card {
  margin-bottom: 25px;
  @include desktop {
    margin-bottom: 50px;
  }
}