@import './assets/scss/vars';
@import './assets/scss/mixins';

.brand {
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    border: 1px solid $color-6;
    padding: 20px;
    border-radius: $radius;

    @include _desktop {
      grid-template-columns: 260px 1fr;
      padding: 25px;
    }
  }

  &-name {
    margin: 0 0 20px 0;
  }

  &-desc {
    max-height: 0;
    overflow: hidden;
    line-height: 145%;

    @include _desktop {
      max-height: 50px;
    }

    &.active {
      max-height: 100%;
    }

    &.full {
      max-height: 100%;
    }
  }

  &-image {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: $radius;

    @include _desktop {
      width: 260px;
      height: 150px;
    }

    &-wrapper {
      height: fit-content;
    }
  }
}

.more-btn {
  margin: 20px 0 0 0;
}