.brand {
  &-wrapper {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    max-height: 320px;
    grid-gap: 30px;
    border: 1px solid $color-6;
    padding: 20px;
    border-radius: $radius;

    @include desktop {
      grid-template-columns: 260px 1fr;
      padding: 25px;
      max-height: 200px;
    }

    &.active {
      max-height: initial;
    }
  }

  &-content {
    position: relative;
  }

  &-name {
    margin: 0 0 20px 0;
  }

  &-desc {
    overflow: hidden;
    line-height: 145%;
  }

  &-image {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: $radius;
    @include desktop {
      width: 260px;
      height: 150px;
    }
    &-wrapper {
      height: fit-content;
    }
  }
}
.more-btn {
  position: absolute;
  top: 60px;
  height: 40px;
  width: 100%;
  padding-bottom: 30px;
  margin: 20px 0 0 0;
  display: flex;
  background: $color-8;

  @include desktop {
    top: 94px;
    padding-bottom: 0;
    height: 30px;
  }

  &.active {
    position: relative;
    top: 0;  
  }
}