.snap-carousel {
   position: relative; width: 100%; 

   &__viewport {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: var(--gap, 16px);
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    min-width: 0; /* предотвращает перерастяжение */
    height: fit-content;
    overflow-y: hidden;
    contain: layout paint style; /* изоляция для уменьшения перерасчётов/мерцаний */

    @include desktop {
      align-items: center;
    }
    &::-webkit-scrollbar { display: none; }

    &[data-ready="0"] { visibility: hidden; }
  }

  &__controls {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-top: 10px;
    gap: 10px;

    @include desktop {
      margin-top: 30px;
      gap: 20px;
    }
  }

  &__arrow {
    height: var(--arrow-size, 40px);
    width: var(--arrow-size, 40px);
    border-radius: 999px;
    border: var(--arrow-border, none);
    background: var(--arrow-bg, rgba(0,0,0,0.5));
    color: var(--arrow-fg, #fff);
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 2;
    transform: scale(0.8);
    transition: all 0.3s;

    @include desktop {
      transform: scale(1);
    }

    &--prev {
      justify-self: end;
    }

    &:hover {
      color: var(--arrow-fg-hover, #fff);
      border: var(--arrow-border-hover, none);
    }
  }

  &__dots {
    display: flex;
    gap: var(--dot-gap, 8px);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__dot {
    width: var(--dot-size, 8px);
    height: var(--dot-size, 8px);
    border-radius: 999px;
    background: var(--dot-bg, #c9c9c9);
    border: none;
    padding: 0;
    cursor: pointer;
    transform: scale(1);

    &.is-active {
      background: var(--dot-active-bg, #333);
      transform: scale(var(--dot-active-scale, 1.25));
    }
  }
}


.snap-slide {
  flex: 0 0 calc(
    (100% - (var(--items-per-page, 1) - 1) * var(--gap, 16px))
    / var(--items-per-page, 1)
  );
  scroll-snap-align: start;
  scroll-snap-stop: var(--snap-stop, normal);
}