.column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include tablet {
    flex-direction: column;
  }
}
.label{
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: $color-3;
  @include desktop {
    font-size: 10px;
    color: $color-4;
  }
}
.value {
  text-transform: uppercase;
  font-size: 14px;
  @include desktop {
    font-size: 16px;
  }
}