@import './assets/scss/vars';
@import './assets/scss/mixins';


.languages-btn {
  &-item {
    width: 50px;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    color: $color-4;

    &.router-link-exact-active {
      background: $color-11;
    }
  }

}