@use '~/assets/scss/skeleton' as *;

.card {
  position: relative;
  display: grid;
  grid-template-columns: 65px 1fr;
  grid-gap: 5px;
  width: 100%;
  @include tablet {
    grid-gap: 10px;
    grid-template-columns: initial;
    grid-auto-rows: auto;
  }
  @include desktop {
  }
}

@keyframes blick {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: $radius;
  background: $color-bg;

  .image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $radius;
    @extend .skeleton-loading;
  }
}

.reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 10px;
  font-size: 10px;
  height: 14px;

  @include desktop {
    justify-content: center;
    margin: 0;
    font-size: 14px;
  }

  .rating {
    width: 100px;
    height: 14px;
    @extend .skeleton-loading;
  }
}

.name {
  display: inline-block;
  height: 16px;
  @extend .skeleton-loading;
  
  &.name-1 {
    width: 100%;
  }
  
  &.name-2 {
    width: 80%;
  }
  
  @include desktop {
    height: 16px;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
    height: 32px;
  }
}

.sale {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 5px;
  font-size: 10px;
  height: 14px;

  @include desktop {
    justify-content: center;
    font-size: 12px;
  }

  .price {
    @extend .skeleton-loading;
    height: 14px;
    width: 40%;
    
    @include desktop {
      height: 20px;
      width: 50%;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0;
}
