.social-link {
  width: 24px;
  height: 24px;
  display: flex;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  line-height: 14px;
  border-radius: 100% 0 100% 100%;
  &-icon {
    font-size: 20px;
  }
  &-text {
    font-size: 14px;
  }
}
.name-link {
  transition: color $speed;
  &:hover {
    color: $color-green;
  }
  &-text {
    font-weight: 500;
    vertical-align: middle;
  }
  &-icon {
    font-size: 20px;
    margin-right: 6px;
  }
}