@import './assets/scss/vars';
@import './assets/scss/mixins';


.social-link {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  align-items: center;
  white-space: nowrap;
  line-height: 14px;

  &-icon {
    font-size: 20px;
  }

  &-text {
    font-size: 14px;
  }
}

.name-link {
  transition: color $speed;

  &:hover {
    color: $color-green;
  }
  
  &-text {
    font-weight: 500;
    vertical-align: middle;
  }

  &-icon {
    font-size: 20px;
    margin-right: 6px;
  }
}