@use "sass:color";

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  background: $color-8;
  padding: 15px;
  border-radius: $radius $radius 0 0;
  @include desktop {
    padding: 0;
    grid-template-columns: repeat(2, min-content) 1fr;
    grid-gap: 70px;
  }
  &-item {
    .label {
      font-size: 10px;
      text-transform: uppercase;
      white-space: nowrap;
      @include desktop {
        margin: 0 0 10px 0;
      }
    }
    .value {
      display: flex;
      align-items: center;
      height: 40px;
      @include desktop {
        height: 50px;
      }
      &-price,
      &-code {
        font-size: 18px;
        line-height: 130%;
        @include desktop {
          font-size: 24px;
        }
      }
    }
    &-link {
      grid-column-start: 1;
      grid-column-end: 3;
      @include desktop {
        grid-column-start: initial;
        grid-column-end: initial;
      }

      .label {
        margin-bottom: 10px;

        @include desktop {
          margin-bottom: 0;
        }
      }
    }
  }
}
.conds {
  margin: 0 0 20px 0;
  padding: 0 0 0 25px;
  list-style-type: disc;
  background: $color-8;
  padding: 15px 15px 15px 30px;
  border-radius: 0 0 $radius $radius;
  @include desktop {
    padding: 0 0 0 15px;
    margin: 35px 0;
  }
  &-item {
    margin: 0 0 10px 0;
    line-height: 145%;
  }
}
.percent {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  @include desktop {
    grid-template-columns: repeat(3, min-content);
    grid-gap: 25px;
  }
  &-item {
    display: grid;
    grid-template-columns: min-content 180px;
    grid-gap: 15px;
    height: 80px;
    align-items: center;
    padding: 0 20px;
    // border: 3px solid $color-violet;
    border-radius: $radius;
    background: $color-8;
  }
  &-value {
    display: flex;
    align-items: center;
    height: 74px;
    font-size: 44px;
    font-weight: 700;
    // color: color.scale($color-violet, $lightness: 40%);
    color: $color-orange;
    .symbol {
      font-size: 20px;
      font-weight: 200;
    }
  }
  &-text {
    font-weight: 600;
    line-height: 145%;
    .select {
      font-weight: 700;
    }
  }
}