.bonus {
  position: relative;
  background: #fff;
  // background: linear-gradient(180deg, #f7ead6 0%, #fff3df 45%, #ffffff 100%);

  // &::before {
  //   content: '';
  //   position: absolute;
  //   inset: 0;
  //   opacity: 0.08;
  // }

  .container {
    max-width: 1800px;
  }

  &__right {
    position: relative;
    background-color: #000;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-video {
      position: absolute;
      top: 0;
      left: 139px;
      width: 223px;
      height: 206px;
      object-fit: cover;
      z-index: 10;
    }

    &-img {
      object-fit: contain;
    }
  }

  &-top {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    padding: 100px 0;
  }

  &__header {
    position: sticky;
    top: 0;
    left: 0px;
    height: fit-content;
    z-index: 1;
    width: 100%;
    background: $color-8;
  }

  &__title {
    font-weight: 900;
    font-size: 68px;
    line-height: 100%;
    margin: 0 0 30px 0;
    color: $color-text;
  }

  &__lead {
    font-size: 20px;
    line-height: 130%;
    margin: 0 0 30px 0;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 2.5rem;
    margin: 2.5rem 0 0 0;
    max-width: 60%;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
  }

  &__cta-note {
    font-size: 1rem;
    line-height: 140%;
    color: rgba($color-text, 0.65);
    max-width: 500px;
  }


  &__track {
    padding: 0 0 100px 0;
    // background: #fff7ec;

    &-inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
      margin: 0 auto;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      gap: 1rem;
      height: min-content;
      // text-align: center;
      border: 1px solid rgba($color-text, 0.1);
      border-radius: 30px;
      padding: 40px;
    }

    &-title {
      width: 100%;
      font-size: 20px;
      line-height: 1.2;
    }

    &-image {
      object-fit: contain;
      width: 200px;
      height: 200px;
      flex-shrink: 0;
    }
  }
}
