.supheader {
  display: flex;
  align-items: center;
  height: initial;
  // background: linear-gradient(90deg, #427CD2 0%, #C6D242 100%);
  background: linear-gradient(90deg, #ff8400 0%, #73c56f 100%);
  // background: $color-dark-2;
  @include desktop {
    height: 50px;
  }
}
.inner {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #FFFFFF;
  font-size: 14px;

  @include desktop {
    grid-template-columns: min-content min-content 1fr min-content;
  }
}
.content {
  display: none;
  @include desktop {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow-x: auto;
    line-height: 145%;
    font-weight: 600;
    white-space: nowrap;
  }
}
.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: $radius;
  border: 1px solid $color-5;
  .icon {
    color: $color-8;
  }
  &:hover {
    background: rgba($color-8, 0.1);
  }
}

.supheader-btn-borders {
  border-left: 1px solid rgba($color-8, 0.1);
  border-right: 1px solid rgba($color-8, 0.1);
}
.supheader-btn {
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  grid-column-gap: 3px;
  height: 50px;
  color: #FFFFFF;
  font-weight: 600;

  @include desktop {
    grid-column-gap: 10px;
  }
}

.phone-btn {
  display: none;
  @include desktop {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 10px;
    padding: 0 30px 0 20px;
  }
}

.contacts-btn {
  display: none;
  @include desktop {
    display: flex;
    padding: 0 30px 0 30px;
  }
}

.region-btn {
  display: grid;
  grid-template-columns: min-content min-content 1fr;

  @include desktop {
    grid-template-columns: min-content min-content 50px;
  }
  &-locale {
    display: flex;
    text-transform: uppercase;
  }
}

.region-unit {
  display: grid;
  grid-template-columns: 24px min-content;
  padding: 0 20px 0 10px;
}

.region-label {
  display: grid;
  grid-template-columns: 24px min-content;
  padding: 0 10px 0 20px;
}