.supheader {
  display: flex;
  align-items: center;
  height: initial;
  background: linear-gradient(90deg, #ff8400 0%, #73c56f 100%);
  width: 100vw;
  overflow: hidden;
  @include desktop {
    height: 50px;
  }

  &-btn {
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    column-gap: 5px;
    height: 50px;
    color: $color-8;
    font-weight: 600;
    transition: opacity 0.3s;
    padding: 0 30px;

    @include desktop {
      column-gap: 10px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-delim {
    height: 25px;
    width: 1px;
    background: rgba($color-8, 0.3);
  }

  &-region-block {
    :deep(.supheader-delim) {
      background-color: rgba($color-8, 0.5);
    }
    :deep(.unit-info-label) {
      color: rgba($color-8, 0.5);
    }
    :deep(.unit-info-value),
    :deep(.icon) {
      color: $color-8;
    }
  }
}
.inner {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #FFFFFF;
  font-size: 14px;

  @include desktop {
    grid-template-columns: min-content 1fr min-content;
  }
}
.content {
  display: none;
  @include desktop {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow-x: auto;
    line-height: 145%;
    font-weight: 600;
    white-space: nowrap;
  }
}


.phone-btn {
  @include desktop {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 10px;
    padding: 0 30px 0 20px;
  }
}

.contacts-btn {
  @include desktop {
    display: flex;
    padding: 0 30px 0 30px;
  }
}

.contacts-block {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, min-content);
}

.contacts-block {
  display: none;

  @include desktop {
    display: grid;
  }
}