.category {
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
  align-items: center;
  width: 100%;

  @include desktop {
    gap: 30px;
  }
  
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
    gap: 20px;
    overflow: hidden;

    @include desktop {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      gap: 50px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    line-height: normal;
  }

  &-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    object-fit: contain;
    height: 80%;
    width: auto;
    border-radius: 9999px;
    
    @include desktop {
      width: 100%;
      height: auto;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background: $color-bg-2;
      border-radius: 100%;
    }
  }

  &-name {
    font-size: 18px;
    font-weight: 900;
    color: #555555;

    @include desktop {
      font-size: 28px;
    }
  }

  &-desc {
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    color: $color-4;

    @include desktop {
      height: initial;
      font-size: 16px;
    }
  }
}