@import './assets/scss/vars';
@import './assets/scss/mixins';

.category{
  position: relative;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;

  @include _tablet {
    height: 200px;
    padding-bottom: initial;
  }


  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    transition: background .6s;
  }


  &:hover {
    z-index: 10;

    &:after {
      background: rgba(0,0,0,0.35);
    }

    .category-image {
      filter: grayscale(1);
      transform: scale(1.1);
    }
    .category-name {
      line-height: 165%;
      transform: translateY(-10px);
    }
    .category-icon {
      transform: translateX(10px);
    }
  }

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-gap: 2px;
    background: $color-8;

    @include _tablet {
      grid-template-columns: repeat(3, minmax(min-content, 1fr));
    }

    @include _desktop {
      grid-template-columns: repeat(4, minmax(min-content, 1fr));
    }
  }

  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .6s, filter .6s;
  }

  &-content {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
    // text-shadow: 2px 0px 25px rgba(0,0,0,0.5);
    z-index: 1;

    @include _tablet {
      left: 15px;
      bottom: 15px;
      width: calc(100% - 30px);
    }

    @include _desktop {
      left: 30px;
      bottom: 30px;
      width: calc(100% - 60px);
    }
  }

  &-name {
    font-size: 14px;
    font-weight: 900;
    line-height: 135%;
    text-transform: uppercase;
    color: $color-8;
    transition: transform .6s, line-height .6s;

    @include _tablet {
      font-size: 18px;
    }

    @include _desktop {
      font-size: 22px;
    }
  }

  &-children {
    font-size: 12px;
    color: $color-4;

    @include _tablet {
      font-size: 16px;
    }
  }

  &-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: $color-8;
    z-index: 1;
    transition: transform .6s;

    @include _tablet {
      top: 20px;
      right: 20px;
      font-size: 30px;
    }

    @include _desktop {
      top: 30px;
      right: 30px;
    }
  }
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 0 10px;
}