.category {
  display: grid;
  grid-auto-flow: row;
  gap: 0;
  padding-bottom: 20px;
  align-items: center;
  width: 100%;
  justify-content: center;
  background: $color-bg-2;
  border-radius: $radiusBtn;

  @include desktop {
    background: transparent;
    border-radius: 0;
    align-items: flex-start;
    gap: 30px;
    padding-bottom: 0;

    &:hover &-image-wrapper {
      background: $color-green;
    }
    &:hover &-name {
      color: $color-green;
    }
  }

  
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    gap: 10px;
    overflow: hidden;

    @include desktop {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      gap: 30px;
      margin-top: 90px;
    }

    @include ld {
      gap: 50px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    line-height: normal;
  }

  &-image {
    object-fit: contain;
    max-width: initial;
    width: 85%;
    height: 85%;
    
    @include desktop {
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 255px;
      aspect-ratio: 1 / 1;
      margin: 0 auto;
      background: $color-bg-2;
      border-radius: $radiusBtn;
      transition: background 0.3s;

      @include desktop {
        border-radius: 100%;
      }
    }
  }

  &-name {
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s;

    @include desktop {
    }

    @include ld {
      font-size: 22px;
    }

    @include xld {
      font-size: 28px;
    }
  }

  &-desc {
    display: none;

    @include desktop {
      display: block;
      height: 42px;
      font-size: 14px;
      font-weight: 300;
      color: $color-4;
    }

    @include ld {
      font-size: 16px;
    }
  }
}