.header {
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  @include tablet {
    text-align: left;
  }
  @include desktop {
    text-align: center;
  }
}
.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 145%;
}
.link {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    position: absolute;
    right: 0;
    bottom: 7px;
    font-weight: 500;
  }
}