
// :global(.affiliate) {
//   bottom: 70px !important;
//   right: 15px !important;
// }


.name {
  text-transform: uppercase;
  margin-bottom: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  order:2;
  @include desktop {
    grid-column-start: 1;
    grid-column-end: 2;
    order: initial;
  }
}
.code {
  display: none;
  @include desktop {
    display: grid;
    grid-gap: 5px;
    justify-content: flex-end;
    white-space: nowrap;
    grid-column-start: 2;
    grid-auto-flow: column;
  }
  .label {
    font-size: 10px;
    color: $color-3;
    text-transform: uppercase;
    @include desktop {
      font-size: 16px;
      text-transform: none;
    }
  } 
  .value {
    text-transform: uppercase;
  }
}
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
  align-items: center;
  width: 100%;
  @include desktop {
    // grid-template-columns: repeat(3, min-content) 1fr;
    grid-template-columns: 1fr min-content;
    column-gap: 35px;
    row-gap: 15px;
    align-items: baseline;
    margin: 0;
  }
  .right {
    display: none;
    @include desktop {
      display: grid;
      grid-template-columns: repeat(2, min-content);
      grid-gap: 35px;
      align-items: center;
      justify-content: end;
      width: 100%;
    }
  }
  &-reviews {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    grid-column-start: 1;
    grid-row-start: initial;    
    order:1;
    @include desktop {
      grid-template-columns: repeat(3, min-content);
      gap: 30px;
      align-items: center;
      order: initial;
    }
    &-btn {
      &.disable {
        display: none;
        @include desktop {
          display: inline-block;
        }
      }
    }
  }
}
.header-reviews-reward {
  margin-top: 15px;
  grid-column: 1 / -1;
  width: 100%;
  max-width: 420px;

  @include desktop {
    margin-top: 0;
  }
}

.content-store-only {
  margin: 12px 0 18px;

  @include desktop {
    margin: 0 0 18px;
  }
}
.rating-label {
  white-space: nowrap;
  font-size: 12px;
  color: $color-3;
  @include desktop {
    font-size: 16px;
  }
}
.tab {
  &-row {
    position: sticky;
    top: 60px;
    z-index: 12;
    display: flex;
    align-items: stretch;
    width: calc(100% + 30px);
    margin: 0 -15px;
    background-color: $color-0;
    order: 0;

    @include desktop {
      position: sticky;
      top: 80px;
      width: 100%;
      margin: 0;
      background: transparent;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &-back-slot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    z-index: 13;
    background-color: transparent;

    @include desktop {
      display: none;
    }
  }

  &-wrapper {
    padding: 0 0 0 40px;
    // position: static;
    // width: 100%;
    // margin: 0;
    // order: 0;
    // flex: 1;
    // min-width: 0;

    @include desktop {
      padding: 0;
    }
  }

  &-title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;

    @include desktop {
      margin-bottom: 30px;
    }
  }
}
.gallery-wrapper {
  width: 100vw;
  margin: 0 -15px 10px -15px;
  @include desktop {
    width: 100%;
    margin: 0;
  }
}
.content {
  display: grid;
  align-items: stretch;
  grid-template-columns: 100%;
  margin: 0 0 30px 0;

  @include desktop {
    grid-template-columns: 50% calc(50% - 30px);
    margin: 0 0 80px 0;
    grid-gap: 30px;
  }

  &-main {
    margin-top: 20px;
    @include desktop {
      margin-top: 0;
    }
  }

  &-box {
    margin: 0 0 60px 0;
    @include desktop {
      margin: 0 0 80px 0;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
    order: 2;
    @include desktop {
      order: initial;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &-breadcrumbs {
      order: 2;

      @include desktop {
        order: initial;
      }

      :deep(.item) {
        &:last-child {
          display: none;
        }
        &:nth-last-child(2) {
          &:before {
            display: none;
          }
        }
      }
    }
  }

  &-modifications {
    width: 100%;
    margin-left: auto;
    padding: 15px 0;
    order: 3;
    transition: width $speed;
    @include desktop {
      padding: 0;
      order: 0;
    }
    &.mini {
      position: sticky;
      top: 160px;
      width: 92%;
    }
  }
  &-sale {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-rows: min-content;
    order: 2;
    @include desktop {
      order: 1;
      grid-gap: 30px;
    }
  }
  &-buy {
    height: min-content;
    width: 100%;
    margin-left: auto;
    transition: width $speed;
    order: 4;
    padding: 20px 0;
    @include desktop {
      order: 1;
    }
    &.mini {
      position: sticky;
      top: 260px;
      width: 92%;
    }
  }
  &-feature {
    order: 3;
    @include desktop {
      order: 2;
    }
  }
  &-main {
  }
  &-common {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 100%;
    grid-gap: 25px;
    @include desktop {
      grid-gap: 50px;
    }
    .no-medicine {
      order: 6;
    }
  }
  .full-content {
    .no-medicine {
      margin-top: 30px;
    }
  }
  &-params {
    order: 1;
    @include desktop {
      order: 3;
    }
  }
  &-guarantee {
    order: 2;
    @include desktop {
      order: 2;
    }
  }
  &-html {
    order: 5;
    :deep(.more-btn) {
      margin-top: 0 !important;
    }
  }
  &-delivery {
    order: 6;
    :deep(.product-box) {
      border-bottom: 0;
    }
  }
  &-payment {
    order: 7;
  }
  &-reviews {
    order: 8;
  }
}
