@import './assets/scss/vars';
@import './assets/scss/mixins';

// .title {
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-gap: 20px;
//   align-items: baseline;

//   @include _desktop {
//     grid-template-columns: 1fr min-content;
//     grid-gap: 60px;
//   }
// }

.name {
  margin-bottom: 0;
  grid-column-start: 1;
  grid-column-end: 3;

  @include _desktop {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.code {
  display: grid;
  grid-gap: 5px;
  justify-content: flex-end;
  white-space: nowrap;
  grid-column-start: 2;

  @include _desktop {
    grid-auto-flow: column;
  }

  .label {
    font-size: 10px;
    color: $color-3;
    text-transform: uppercase;

    @include _desktop {
      font-size: 16px;
      text-transform: none;
    }
  } 

  .value {
    text-transform: uppercase;
  }
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
  width: 100%;
  margin: 0 0 20px 0;

  @include _desktop {
    // grid-template-columns: repeat(3, min-content) 1fr;
    grid-template-columns: 1fr min-content;
    grid-gap: 35px;
    align-items: baseline;
    margin: 0 0 30px 0;
  }

  .right {
    display: none;

    @include _desktop {
      display: grid;
      grid-template-columns: repeat(2, min-content);
      grid-gap: 35px;
      align-items: center;
      justify-content: end;
      width: 100%;
    }
  }

  &-reviews {
    display: grid;
    grid-template-columns: min-content;
    grid-gap: 5px;
    grid-column-start: 1;
    grid-row-start: 2;    

    @include _desktop {
      grid-template-columns: repeat(3, min-content);
      grid-gap: 30px;
      align-items: center;
    }

    &-btn {
      &.disable {
        display: none;

        @include _desktop {
          display: inline-block;
        }
      }
    }
  }
}

.rating-label {
  white-space: nowrap;
  font-size: 12px;
  color: $color-3;

  @include _desktop {
    font-size: 16px;
  }
}

.tab {
  &-wrapper {
    position: sticky;
    top: 60px;
    left: 0;
    z-index: 90;

    @include _desktop {
      top: 80px;
    }
  }

  &-title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 120%;
    // text-transform: uppercase;
  }
}

.gallery-wrapper {
  width: 100vw;
  margin: 0 -15px;

  @include _desktop {
    width: 100%;
    margin: 0;
  }
}

.content {
  display: grid;
  align-items: stretch;
  grid-template-columns: 100%;
  grid-gap: 30px;
  margin: 30px 0 80px 0;

  @include _desktop {
    grid-template-columns: repeat(2, 1fr);
  }

  &-main {
  }

  &-common {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 25px;

    @include _desktop {
      grid-gap: 50px;
    }
  }

  &-sale {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-rows: min-content;
    grid-gap: 30px;

    &-block {
      height: min-content;
      width: 100%;
      margin-left: auto;
      transition: width $speed;

      &.mini {
        position: sticky;
        top: 160px;
        width: 92%;
      }
    }
  }

  &-grid {
    display: grid;
    grid-gap: 30px;
    grid-auto-columns: 100%;
  }

  &-html {}
}

.params {
  &-mini {
    &-btn {
      margin-top: 20px;
    }
  }
}