@import './assets/scss/vars';

:root {
  --slider-bg: #{$color-bg-4};
  --slider-connect-bg: #{$color-primary};
  --slider-connect-bg-disabled: #9CA3AF;
  --slider-height: 2px;
  --slider-vertical-height: 300px;
  --slider-radius: 9999px;
  
  --slider-handle-bg: #fff;
  --slider-handle-border: 10px solid #{$color-primary};
  --slider-handle-width: 28px;
  --slider-handle-height: 28px;
  --slider-handle-radius: 6px;
  --slider-handle-shadow: none;
  --slider-handle-shadow-active: none;
  --slider-handle-ring-width: 3px;
  --slider-handle-ring-color: #10B98130;
  
  --slider-tooltip-font-size: 0.875rem;
  --slider-tooltip-line-height: 1.25rem;
  --slider-tooltip-font-weight: 600;
  --slider-tooltip-min-width: 20px;
  --slider-tooltip-bg: #{$color-purple-55};
  --slider-tooltip-bg-disabled: #9CA3AF;
  --slider-tooltip-color: #fff;
  --slider-tooltip-radius: 5px;
  --slider-tooltip-py: 2px;
  --slider-tooltip-px: 6px;
  --slider-tooltip-arrow-size: 5px;
  --slider-tooltip-distance: 0px;
}

.slider-horizontal .slider-tooltip-top {
  bottom: calc(var(--slider-handle-height, 16px) + var(--slider-tooltip-distance, 3px)) !important;
}