@import './assets/scss/vars';
@import './assets/scss/mixins';

.comp-btn {
  margin-top: -15px;

  :deep(.comparison-btn) {
    font-size: 14px;
  }

  :deep(.icon) {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
}

.m-wrapper {
  :deep(.close-btn-inner) {
    color: $color-8;
    background: $color-11;
  }
}

.mm {

  &-header {
    margin: -30px -20px 20px -20px;
    width: calc(100vw - 25px);
    padding: 30px 20px;
    background: $color-11;

    @include _desktop {
      display: none;
    }

    &-user {
      display: grid;
      grid-template-columns: 50px max-content;
      grid-gap: 20px;
    }

    &-btn {
      font-weight: 500;
      color: $color-8;
    }

    &-delimiter {
      height: 20px;
      width: 2px;
      background: $color-8;
    }
  }

  &-content {
    display: grid;
    grid-gap: 30px;
    padding: 0 0 30px 0;

    @include _desktop {
      padding: 0;
      width: calc(100% + 30px);
      margin: -15px;
    }

    &-catalog {
      display: block;
      position: relative;
      // background: scale-color($color-green, $lightness: 85%);
      background: $color-green;
      color: $color-8;
      border: 2px solid $color-green;

      @include _desktop {
        display: none;
      }

      :deep(.icon) {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
      }
    }
  }
}

.menu {
  &-label {
    margin: 0 0 15px 0;
    color: $color-4;
  }

  &-ul {
    display: grid;
    grid-gap: 15px;
  }

  &-link {
    transition: color $speed;
    &:hover {
      color: $color-green;
    }
  }
}

.avatar {
  &-image {
    width: 50px;
    height: 50px;
    border-radius: $radius;
  }

  &-faker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: $radius;
    background: $color-1;
    color: $color-8;
  }
}

.langs {
  display: grid;
  grid-template-columns: 50px min-content;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0 0;
  width: min-content;
  grid-gap: 20px;

  &-label {
    color: $color-3;
  }

  &-switcher {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    background-color: $color-1;
    border-radius: $radius;

    :deep(.router-link-active) {
      background-color: $color-2;
    }
  }
}