.desc {
  line-height: 160%;
  text-align: center;
  font-style: italic;
  color: $color-2;
  @include desktop {
    margin: -15px 0 0 0;
    padding: 0 30%;
  }
  .selected {
    color: $color-green;
  }
}
.image {
  &-adv {
    display: none;
    @include desktop {
      display: block;
      position: absolute;
      object-fit: contain;
    }
  }
  &-pineapple {
    bottom: 10px;
    left: 30px;
    width: 319px;
    height: 204px;
  }
  &-apple {
    top: 87px;
    left: -72px;
    width: 155px;
    height: 155px;
  }
  &-banana {
    top: -17px;
    right: -175px;
    z-index: 10;
  }
  &-carrot {
    bottom: 0px;
    right: 55px;
  }
}
.adv {
  &-section {
    position: relative;
    padding: 50px 20px;
    margin: 50px -20px 0 -20px;
    width: calc(100% + 40px);
    background: $color-7;
    @include tablet {
      margin: 80px 0 0 0;
      width: 100%;
      padding: 40px 0 140px 0;
      background: $color-8;
    }
  }
  &-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 80%);
    grid-gap: 15px;
    margin: 40px -15px 40px -15px;
    z-index: 10;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-padding-left: 15px;
    scroll-padding-right: 15px;
    @include tablet {
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      grid-gap: 20px;
      margin: 40px 0 40px 0;
      overflow-x: initial;
      scroll-behavior: initial;
      scroll-snap-type: initial;
    }
    @include desktop {
      grid-template-columns: repeat(4, minmax(min-content, 1fr));
      grid-gap: 30px;
    }
  }
  &-item {
    padding: 20px;
    background: $color-8;
    border-radius: 4px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    &:first-child {
      margin-left: 15px;
    }
    &:last-child {
      margin-right: 15px;
    }
    @include tablet {
      background: transparent;
      padding: 30px;
      scroll-snap-align: initial;
      scroll-snap-stop: initial;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-icon {
    color: $color-green;
  }
  &-title {
    margin: 20px 0 10px 0;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 135%;
  }
  &-desc {
    color: $color-3;
    line-height: 160%;
    :deep(a) {
      color: $color-green;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &-btn {
    margin: 0 auto;
  }
}