@import './assets/scss/vars';
@import './assets/scss/mixins';
@import './assets/scss/rich-text';

.title-search {
  color: $color-green;
}

.simple-search {
  background: $color-7;
  border: 1px solid $color-5;

  :deep(.search-input) {
    background: $color-7;
  }
}