@import './assets/scss/vars';
@import './assets/scss/mixins';

.contacts-box {
  padding: 30px;
  border: 2px solid $color-8;
  border-radius: $radius;
  background: #f5f5f5;
}

.content {
  display: grid;
  grid-gap: 20px;
  margin: 20px 0 0 0;

  @include _desktop {
    grid-template-columns: 1fr minmax(min-content, 380px);
    grid-gap: 30px;
    margin: 30px 0 0 0;
  }

  &-main {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 30px;
  }

  &-sale {
    &-sticky {
      position: sticky;
      top: 110px;
      display: grid;
      grid-auto-rows: min-content;
      grid-gap: 30px;
    }
  }
}

.checkout {
  &-user {
    margin: 0 0 25px 0;
  }

  &-box {
    padding: 30px;
    background: $color-8;
    border-radius: $radius;
  }

  &-product {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid $color-6;

    &:last-child {
      padding: 0;
      margin: 0;
      border-bottom: 0;
    }
  }
}

.title-secondary {
  margin: 0 0 30px 0;
}

.form {
  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;

    @include _desktop {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }

  &-row {
    margin-top: 15px;

    @include _desktop {
      margin-top: 20px;
    }
  }

  &-tabs {
    margin-bottom: 20px;
  }
}