.contacts-box {
  padding: 30px;
  border: 2px solid $color-8;
  border-radius: $radius;
  background: #f5f5f5;
}

.content {
  display: grid;
  gap: 10px;
  margin: 20px -15px 0 -15px;
  @include desktop {
    grid-template-columns: 1fr minmax(min-content, 380px);
    gap: 30px;
    margin: 30px 0 0 0;
  }
  &-main {
    display: grid;
    grid-auto-rows: min-content;
    gap: 10px;

    @include desktop {
      gap: 30px;
    }
  }
  &-sale {
    &-sticky {
      position: sticky;
      top: 110px;
      display: grid;
      grid-auto-rows: min-content;
      gap: 10px;

      @include desktop {
        gap: 30px;
      }
    }
  }
}
.checkout {
  &-user {
    margin: 0 0 25px 0;
  }
  &-box {
    padding: 30px;
    background: $color-bg;
    border-radius: $radius;

    .title-secondary {
      margin: 0 0 10px 0;
      font-size: 16px;
      text-transform: uppercase;

      @include desktop {
        margin: 0 0 30px 0;
      }
    }
  }
  &-extrabox {
    :deep(.list-wrapper) {
      margin: 0 -30px -30px -30px;
      padding: 20px 15px;
      width: 100vw;
      border-top: 1px solid $color-border;
      border-radius: 0 0 $radius $radius;

      @include desktop {
        padding: 30px;
        width: auto;
      }
    }
  }

  &-product {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid $color-border;
    &:last-of-type {
      padding: 0;
      margin: 0;
      border-bottom: 0;
    }
  }
}
.form {
  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }
  &-row {
    margin-top: 15px;
    @include desktop {
      margin-top: 20px;
    }
  }
  &-tabs {
    margin-bottom: 20px;
  }
}