@import './assets/scss/vars';
@import './assets/scss/mixins';

.right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.input__wrapper {
  position: relative;
  display: block;
  width: 100%;

  &.disabled {
    pointer-events: none;

    input {
      pointer-events: none;
    }
  }

  &.error {
    .main-input {
      border: 2px solid rgba($color-red, 0.4);
    }
  }
}

.main-input {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 2px solid $color-5;
  border-radius: $radius;
  outline-color: rgba($color-green, 0.2);
  color: $color-text;
  background-color: $color-8;

  @include _desktop {
    padding: 0 15px;
    height: 50px;
  }

  &::placeholder {
    color: $color-4;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    padding-bottom: 0;
    border-radius: 100%;
    background: $color-8;
    z-index: -1;
    transition: width $speed, padding $speed;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: $color-8;
    z-index: -2;
  }
}

.main-input:-webkit-autofill,
.main-input:-webkit-autofill:hover,
.main-input:-webkit-autofill:focus,
.main-input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #333333 inset;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 2500000s ease-in-out 0s;
}
.main-input:disabled + .custome-placeholder__wrapper {
  opacity: 0.6;
}