.payments {
  margin-bottom: 30px;
  @include tablet {
    margin-bottom: 50px;
  }
  @include desktop {
    margin-bottom: 75px;
  }
}
.payment {
  line-height: 165%;
  :deep(p),
  p {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.subtitle {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
  margin-bottom: 40px;
  background-color: $color-8;
  padding: 30px;
  border-radius: $radius;

  @include desktop {
    grid-template-columns: 50% 50%;
    gap: 50px;
  }

  .country {
    display: inline-flex;
    border-top: 1px solid $color-border;
    padding: 20px 0 0 0;

    @include desktop {
      padding: 0 0 0 30px;
      border-top: 0;
      border-left: 1px solid $color-border;
    }
  }
}

.payment__notice {
  margin: 0;
  padding: 24px;
  border-radius: $radius;
  background-color: $color-bg-2;
  font-size: 16px;
  line-height: 1.6;
  color: $color-1;
}
