.search {
  position: relative;
  background: $color-8;
  border-radius: $radius;
  overflow: hidden;
  z-index: 10;
  @include desktop {
    overflow: initial;
  }
  &.active {
    .search-inner {
      grid-template-columns: 1fr 50px 50px;
      @include tablet {
        grid-template-columns: 1fr min-content;
      }
    }
    .search-close {
      display: flex;
    }
    .search-action {
      display: flex;
    }
  }
  &-inner {
    position: relative;
    display: grid;
    justify-self: flex-end;
    grid-template-columns: 1fr;
    align-items: center;
    height: 50px;
    width: 100%;
    z-index: 100;
    // max-width: 335px;
    @include tablet {
      grid-template-columns: 1fr min-content;
    }
  }
  &.no-close-btn {
    .search-inner  {
      grid-template-columns: 1fr 50px;
      @include tablet {
        grid-template-columns: 1fr min-content;
      }
    }
  }
  &-close {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px; 
    &-icon {
      font-size: 20px;
    }
  }
  &-action {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: $color-green;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: $color-8;
    border-radius: 0 $radius $radius 0;
    @include tablet {
      display: flex;
      padding: 0 30px;
    }
    &-icon {
      font-size: 20px;
    }
    &-text {
      white-space: nowrap;
    }
  }
  &-input {
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 15px;
    border-radius: $radius 0 0 $radius;
    @include desktop {
      padding-left: 55px;
    }
    &-icon {
      position: absolute;
      left: 20px;
      top: 14px;
      margin: 0 0 0 auto;
    }
  }
}