@import './assets/scss/vars';
@import './assets/scss/mixins';

.search {
  position: relative;
  background: $color-8;
  border-radius: $radius;
  overflow: hidden;
  z-index: 10;

  @include _desktop {
    overflow: initial;
  }

  &-wrapper {
    position: relative;
    z-index: 10;

    @include _desktop {
      margin: 0 30px;
    }

    &.active {
      .search {
        position: fixed;
        top: 5px;
        left: 5px;
        width: calc(100vw - 10px); 

        &-inner {
          grid-template-columns: 1fr 50px 50px;;
        }
      }

      .search-close {
        display: flex;
      }

      .search-action {
        display: flex;
      }
    }
  }

  &-inner {
    position: relative;
    display: grid;
    justify-self: flex-end;
    grid-template-columns: 1fr;
    align-items: center;
    height: 50px;
    z-index: 100;
    // max-width: 335px;

    @include _tablet {
      grid-template-columns: 1fr 100px;
    }
  }


  &-close {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px; 
    
    &-icon {
      font-size: 20px;
    }
  }

  &-action {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: $color-green;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: $color-8;
    border-radius: 0 $radius $radius 0;

    @include _tablet {
      display: flex;
    }

    &-icon {
      font-size: 20px;
    }
  }

  &-input {
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 15px;
    border-radius: $radius 0 0 $radius;

    @include _desktop {
      padding-left: 55px;
    }

    &-icon {
      position: absolute;
      left: 20px;
      top: 14px;
      margin: 0 0 0 auto;
    }
  }
}