@import './assets/scss/vars';
@import './assets/scss/mixins';

.settings {
  &-box {
    padding: 15px;
    margin: 0 0 20px 0;
    background: $color-8;
    border-radius: $radius;

    &:last-child {
      margin: 0;
    }

    @include _tablet {
      padding: 0;
      margin: 0 0 40px 0;
    }
  }

  &-label {
    margin-bottom: 15px;
  }

  &-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;

    @include _desktop {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-buttons {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;

    @include _desktop {
      grid-template-columns: repeat(2, min-content);
    }
  }

  &-action-btn {
    margin-top: 20px;
  }
}