.refgrow {
  line-height: normal;
  &__header {
      margin-bottom: 15px;
      
    @include desktop {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-size: 44px;
    color: $color-primary;
    font-weight: 900;

    @include desktop {
      font-size: 64px;
    }
  }

  &__subtitle {
    font-size: 20px;
    color: $color-primary;

    @include desktop {
      font-size: 24px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 30px;

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      gap: 140px;
    }
  }

  &__col {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    gap: 5px;

    @include desktop {
      text-align: left;
      gap: 10px;
    }

    &-title {
      font-size: 32px;
      color: $color-primary;
      font-weight: 900;
    }

    &-kicker {
      color: $color-1;
      font-weight: 600;
    }

    &-text {
      color: $color-4;
    }
  }

  &__icon {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;

    img {
      position: relative;
      z-index: 2;
      max-width: 78%;
      height: auto;
      display: block;
    }
  }

  // круг позади картинки — CSS-блок
  &__circle {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 320px;
    background: $color-bg-2; // тёплый бежевый круг
    border-radius: 9999px;
    z-index: 1;
    filter: none;
  }

  &__cta {
    background: $color-primary; // зелёная карточка
    border-radius: 50px;
    padding: 40px;
    color: $color-8;
    display: grid;
    align-content: start;
    gap: 20px;
    text-align: center;

    @include desktop {
      text-align: left;
    }
  }

  &__cta-title {
    font-size: 36px;
    font-weight: 900;
  }

  &__cta-text {
    font-weight: 500;
  }

  &__avatars {
    display: flex;
    margin: 10px 0 10px 30px;
    justify-content: center;

    @include desktop {
      justify-content: flex-start;
    }

    li {
      list-style: none;
      margin-left: -30px;
      
      @for $i from 1 through 10 { // Предполагаем максимум 10 аватаров
        &:nth-child(#{$i}) {
          z-index: 11 - $i; // Начинаем с 10 и уменьшаем для каждого следующего
        }
      }
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 9999px;
      object-fit: cover;
      display: block;
      border: 2px solid #ffffff;
    }
  }

  &__cta-btn {
    width: 100%;
  }

}
