.refgrow {
  --line-color: #ffd8ae;

  line-height: normal;
  &__header {
    margin-bottom: 15px;
    text-align: center;
      
    @include desktop {
      margin-bottom: 40px;
      text-align: left;
    }
  }

  &__level {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    color: $color-8;
    font-weight: 600;
    padding: 0 10px;
    background: $color-orange;
    border-radius: 11px;
  }
  &__title {
    font-size: 36px;
    color: $color-primary;
    font-weight: 900;
    line-height: 1.1;

    @include desktop {
      font-size: 36px;
    }
    @include ld {
      font-size: 58px;
    }
  }

  &__subtitle {
    font-size: 20px;
    color: $color-primary;

    @include desktop {
      font-size: 16px;
    }
    @include ld {
      font-size: 24px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 30px;

    @include desktop {
      align-items: flex-start;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }

    @include ld {
      grid-template-columns: repeat(4, 1fr);
      gap: 140px;
    }
  }

  &__col {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    text-align: center;
    gap: 5px;
    height: 100%;

    @include desktop {
      text-align: left;
      gap: 10px;
    }

    &-title {
      position: relative;
      font-size: 26px;
      color: $color-primary;
      font-weight: 900;

      @include desktop {
        font-size: 20px;
      }

      @include ld {
        font-size: 32px;
      }
    }

    &-kicker {
      margin: 5px 0 0 0;
      color: $color-1;
      font-weight: 600;

      @include desktop {
        margin: 10px 0 0 0;
      }
    }

    &-text {
      position: relative;
      color: $color-3;
      @include desktop {
        margin-left: 0px;
      }
    }

    &-content {
      @include desktop {
        padding-left: 25px;
      }
    }
  }

  &__icon {
    position: relative;
    width: auto;
    height: 30vh;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    margin: 0 auto;

    @include desktop {
      width: 100%;
      height: auto;
    }
  }

  // круг позади картинки — CSS-блок
  &__circle {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    --text-rotation: -112deg;
    background: $color-bg-2; // тёплый бежевый круг
    border-radius: 9999px;
    z-index: 1;
    filter: none;

    @include desktop {
      width: 160px;
      height: 160px;
    }

    @include ld {
      width: 320px;
      height: 320px;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 100%;
      content: attr(data-percent);
      color: $color-orange;
      font-size: 22px;
      font-weight: 700;
      transform: translateX(25px) translateY(-50%);
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 100%;
      content: '';
      width: 20px;
      height: 2px;
      background: $color-orange;
      border-radius: 1px;
      transform: translateX(-2px) translateY(-50%);

      @include desktop {
        height: 3px;
      }
    }

    & > span {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      padding-top: 0px;
      transform: rotate(calc(var(--text-rotation) + var(--i) * 12deg));
      font-size: 16px;
      font-weight: 300;
      color: $color-8;
      pointer-events: none;

      @include desktop {
        font-size: 20px;
        padding-top: 10px;
      }
    }

    &-slices {
      position: absolute;
      inset: 50% auto auto 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 70%;
      z-index: 2;

      @include desktop {
        width: 160px;
        height: 160px;
      }

      @include ld {
        width: 320px;
        height: 320px;
      }
    }
  }

  &__image {
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
    display: block;

    &-1 {
      transform: translateX(30px);

      @include desktop {
        width: 55%;
      }
    }

    &-2 {
      @include desktop {
        width: 75%;
      }
    }

    &-3 {
      @include desktop {
        width: 90%;
      }
    }
  }

  &__cta {
    background: $color-primary; // зелёная карточка
    border-radius: 50px;
    padding: 40px;
    color: $color-8;
    display: grid;
    align-content: start;
    gap: 10px;
    text-align: center;
    order: 2;

    @include desktop {
      text-align: left;
      gap: 20px;
      order: initial;
    }
    @include ld {
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-self: center;
      gap: 30px;

      @include desktop {
        flex-direction: row;
        grid-column-start: 1;
        grid-column-end: 4;
      }

      @include ld {
        flex-direction: column;
        grid-column-start: initial;
        grid-column-end: initial;
      }
    }

    &-title {
      font-size: 32px;
      font-weight: 900;
    }

    &-text {
      font-weight: 500;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      padding: 40px;
      border-radius: 50px;
      border: 2px solid $color-orange;

      &-text {
        font-size: 32px;
        font-weight: 900;
      }
    }
  }

  &__avatars {
    display: flex;
    margin: 10px 0 10px 30px;
    justify-content: center;

    @include desktop {
      margin: -10px 0 10px 30px;
      justify-content: flex-start;
    }

    li {
      list-style: none;
      margin-left: -30px;
      
      @for $i from 1 through 10 { // Предполагаем максимум 10 аватаров
        &:nth-child(#{$i}) {
          z-index: 11 - $i; // Начинаем с 10 и уменьшаем для каждого следующего
        }
      }
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 9999px;
      object-fit: cover;
      display: block;
      border: 2px solid #ffffff;
    }
  }

  &__cta-btn {
    width: 100%;
  }

}


.icon {
  &-prefix {
    display: none;

    @include desktop {
      // display: flex;
      align-items: flex-end;
      justify-content: center;
      position: absolute;
      height: 60px;
      width: 40px;
      bottom: 0;
      right: -1px;
      transform: translateY(-40px);
      font-size: 32px;
      color: var(--line-color);
    }

    &-inner {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  &-1 {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 2px solid var(--line-color);
  }
  &-3-1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &-3-2 {
    position: absolute;
    transform: translateX(-8px) translateY(8px) rotateY(-180deg);
  }
}