@import './assets/scss/vars';
@import './assets/scss/mixins';

.params {
  display: grid;
  grid-gap: 20px;
}

.list {
  display: grid;
  grid-gap: 20px;

  &-item {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-gap: 30px;
    align-items: center;
  }

  &-label {
    white-space: nowrap;
    color: $color-3;
  }

  &-line {
    width: 100%;
    border-bottom: 1px solid $color-5;
  }

  &-value {
    white-space: nowrap;
    color: $color-0;
  }
}