@use "sass:color";

.params {
  display: grid;
  grid-gap: 20px;
}
.list {
  display: grid;
  grid-gap: 20px;
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-label {
    white-space: nowrap;
    color: $color-3;
  }
  &-line {
    width: 100%;
    margin: 0 15px;
    border-bottom: 1px solid $color-5;
    @include desktop {
      min-width: 40px;
      margin: 0 30px;
    }
  }
  &-value {
    width: initial;
    color: $color-0;
    text-align: right;
    @include desktop {
      max-width: 60%;
      flex-shrink: 0;
    }
    &-link {
      text-decoration: underline;
      color: $color-primary;
      &:hover {
        // color: lighten($color-green, 10%);
        color: color.change($color-green, $lightness: 10%);
      }
    }
  }
}