.items {
  display: grid;
  grid-gap: 30px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  margin-bottom: 10px;
  @include tablet {
    flex-wrap:inherit;
  }
}
.title {
  // text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
}
.line {
  width: 100%;
  height: 1px;
  background: $color-border;
}
.icon {
  flex-shrink: 0;
}
.logo {
  max-width: 105px;
  height: 30px;
  margin-top: 0px;
  flex-shrink: 0;
  @include desktop {
    margin-top: 0;
  }
  .image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
    @include tablet {
      object-position: right;
    }
  }
}
.content {
  @include desktop {
    padding-left: 50px;
  }
}