@import './assets/scss/vars';
@import './assets/scss/mixins';

.items {
  display: grid;
  grid-gap: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  margin-bottom: 10px;

  @include _tablet {
    flex-wrap:inherit;
  }
}

.title {
  // text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}

.line {
  width: 100%;
  height: 1px;
  background: $color-6;
}

.icon {
  flex-shrink: 0;
}

.logo {
  max-width: 105px;
  height: 30px;
  margin-top: 15px;
  flex-shrink: 0;

  @include _desktop {
    margin-top: 0;
  }

  .image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;

    @include _tablet {
      object-position: right;
    }
  }
}

.content {
  @include _desktop {
    padding-left: 50px;
  }
}