@use '~/assets/scss/skeleton' as *;
.category-wrapper {
  display: grid;
  grid-auto-columns: 80px;
  grid-auto-flow: column;
  grid-gap: 10px;
  padding: 20px 0;
  @include tablet {
  }
  @include desktop {
    grid-auto-columns: 100px;
    grid-gap: 20px;
  }
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  &-image {
    width: 80px;
    height: 80px;
    @extend .skeleton-loading;
    border-radius: 4px;
    @include tablet {
      width: 100px;
      height: 100px;
    }
  }
  &-name {
    width: 80px;
    height: 16px;
    @extend .skeleton-loading;
  }
}