@import './assets/scss/vars';
@import './assets/scss/mixins';

.slider {
  width: 100%;
  padding: 0 14px 14px 14px;

  :deep(*) {
    touch-action: auto !important;
    pointer-events: all !important;
  }

  &-wrapper {
    width: 100%;
    padding: 0 30px;
    margin: 10px 0 0 0;
  }

  &-form {
    display: grid;
    // grid-template-columns: 1fr 40px;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    align-items: center;
    margin-bottom: 30px;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid $color-4;
    border-radius: $radius;
  }

}

.input{

  &-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-gap: 5px;
    align-items: center;
    height: 40px;
    border: 1px solid $color-5;
    border-radius: $radius;
  }

  &-line {
    width: 100%;
    height: 1px;
    background: $color-5;
  }

  &-form {
    width: 100%;
    height: 38px;
    flex-shrink: 0;
    padding: 15px 0;
    border-radius: $radius;
    border: 0;
    outline: 0;
    text-align: center;

    -moz-appearance:textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
  }
}

:deep(.slider-touch-area) {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    background: scale-color($color-blue, $lightness: 85%);
    border-radius: 2px;
    transition: background $speed;
  }

  &:hover {

    &:after {
      background: scale-color($color-blue, $lightness: 0%);
    }
  }
}