@import './assets/scss/vars';
@import './assets/scss/mixins';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slot-wrapper {

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 28px;

  @include _tablet {
    width: 50px;
    height: 30px;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-bg-3;
  border-radius: 5px;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: $color-bg;
  border-radius: 5px;
  transition: .3s;
  box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.07);

  @include _tablet {
    height: 26px;
    width: 26px;
  }
}

input {

  &:checked {
    & + .slider {
      background-color: $color-green;

      &:before {
        box-shadow: 0px 4px 20px 0px #9EFF8A;
        transform: translateX(18px);

        @include _tablet {
          transform: translateX(20px);
        }
      }
    }
  }
}