// .left-bg {
//   position: absolute;
//   width: 75%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   background: $color-bg;
// }
// .left-bg-2 {
//   position: absolute;
//   width: 55%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   background: $color-bg-2;
// }
.legal {
  &-wrapper {
    position: relative;
    padding: 100px 0;
    padding-bottom: 150px;
    // background: url('/images/landing/laboratory.png');

    // &:after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: rgba($color-bg, 0.9);
    // }

    .container {
      max-width: 2000px;
    }
  }

  &-flag {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    &__top {
      flex: 1;
      background: #fff;
      position: relative;
    }

    &__bottom {
      flex: 1;
      background: #d7141a;
      position: relative;
    }

    &__triangle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 47%;
      background: #11457e;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      z-index: 2;
    }
  }

  &-inner {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr min-content;
    gap: 100px;
  }

  &-left {
    position: relative;
    z-index: 10;
    &__title {
      font-weight: 900;
      font-size: 68px;
      line-height: 100%;
      margin: 0 0 30px 0;
    }

    &__description {
      width: 60%;
      font-size: 20px;
      line-height: 130%;
      margin: 0 0 30px 0;
    }

    &__button {
      
    }
  }

  &-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 80px;
    row-gap: 30px;
    position: relative;
    z-index: 10;

    &__item {
      &--1,
      &--2 {
        width: 100%;
      }
    }

    &__title {
      margin: 0 0 10px 0;
      padding: 0 20px 0 60px;
      font-size: 20px;
      font-weight: 900;
      line-height: 100%;
    }

    &__description {
      padding: 0 20px 0 60px;
      font-size: 16px;
      line-height: 120%;
    }

    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 30px;
      z-index: 2;

      &-wrapper {
        position: relative;
        width: 300px;
        height: 300px;
        // background: rgba($color-8, 0.5);
        // backdrop-filter: blur(12px);
        border-radius: 30px;
        margin: 0 0 20px 0;
        // overflow: hidden;

      }
    }

    &__stamp {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 130%;
      height: 130%;
      pointer-events: none;
      animation: rotateStamp 20s linear infinite;
      z-index: 1;

      &-text {
        fill: #000;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
      }
    }

    @keyframes rotateStamp {
      from {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      to {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}