.legal {
  &-wrapper {
    position: relative;
    padding: 60px 0 90px;
    overflow: hidden;

    @include desktop {
      padding: 100px 120px 100px 0;
    }

    .container {
      max-width: 2000px;
    }
  }

  &-flag {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40px;
    flex-direction: column;
    margin: 0 0 0 0;
    overflow: hidden;

    @include desktop {
      display: flex;
      position: absolute;
      top: 0;
      bottom: auto;
      width: 120px;
      height: 100%;
      flex-direction: row;
      margin: 0;
    }


    @include xld {
      width: 200px;
    }

    &__top {
      flex: 1;
      background: #fff;
      position: relative;
    }

    &__bottom {
      flex: 1;
      background: #d7141a;
      position: relative;
    }

    &__triangle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 47%;
      background: #11457e;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      z-index: 2;
    }

    @media (max-width: 1023px) {
      &__triangle {
        width: 50%;
        height: 100%;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
      }
    }
  }

  &-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    @include desktop {
      grid-template-columns: 1fr min-content;
      gap: 60px;
    }

    @include xld {
      gap: 100px;
    }
  }

  &-left {
    position: relative;
    z-index: 10;

    &__title {
      font-weight: 900;
      font-size: 68px;
      line-height: 100%;
      margin: 0 0 30px 0;

      @include mobile {
        font-size: 34px;
      }

      @include desktop {
        font-size: 72px;
      }
    }

    &__description {
      width: 100%;
      font-size: 16px;
      line-height: 130%;
      margin: 0 0 30px 0;

      @include tablet {
      }


      @include desktop {
        font-size: 20px;
      }

      @include xld {
        width: 60%;

      }
    }
  }

  &-right {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
    row-gap: 30px;
    position: relative;
    z-index: 10;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include xld {
      column-gap: 80px;
    }

    &__item {
      text-align: center;

      @include tablet {
        text-align: left;
      }
      &--1,
      &--2 {
        width: 100%;
      }
    }

    &__title {
      margin: 0 0 10px 0;
      padding: 0 10px 0 20px;
      font-size: 20px;
      font-weight: 900;
      line-height: 100%;

      @include desktop {
        padding: 0 10px 0 30px;
      }

      @include xld {
        padding: 0 20px 0 60px;
      }
    }

    &__description {
      padding: 0 10px 0 20px;
      font-size: 16px;
      line-height: 120%;

      @include desktop {
        padding: 0 10px 0 30px;
      }

      @include xld {
        padding: 0 20px 0 60px;
      }
    }

    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 30px;
      z-index: 2;

      &-wrapper {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 30px;
        margin: 0 auto 0 auto;

        @include desktop {
          width: 300px;
          height: 300px;
          margin: 0 0 20px 0;
        }
      }
    }

    &__stamp {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 130%;
      height: 130%;
      pointer-events: none;
      animation: rotateStamp 20s linear infinite;
      z-index: 1;

      &-text {
        fill: #000;
        font-size: var(--stamp-font-size, 11px);
        font-weight: 700;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
      }
    }
  }
}

@keyframes rotateStamp {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
