@import './assets/scss/vars';
@import './assets/scss/mixins';

.articles-wrapper {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-gap: 15px;
  width: 100%;

  @include _tablet {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
  }
  
  @include _desktop {
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-gap: 20px;
  }
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}