.articles {
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 80%);
    grid-gap: 15px;
    margin: 0 -15px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-padding-left: 15px;
    scroll-padding-right: 15px;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      margin: 0;
      overflow-x: initial;
      scroll-behavior: initial;
      scroll-snap-type: initial;
    }
    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
    }
    @include ld {
      grid-template-columns: repeat(5, minmax(min-content, 1fr));
    }
    @include xld {
      grid-template-columns: repeat(6, minmax(min-content, 1fr));
    }
  }
  &-item {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    &:first-child {
      margin-left: 15px;
    }
    &:last-child {
      margin-right: 15px;
    }
    &:nth-child(n + 5) {
      display: none;
    }
    @include tablet {
      scroll-snap-align: initial;
      scroll-snap-stop: initial;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    @include ld {
      &:nth-child(n + 5) {
        display: block;
      }
      &:nth-child(n + 6) {
        display: none;
      }
    }
    @include xld {
      &:nth-child(n + 6) {
        display: block;
      }
    }
  }
}
.footer-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}