@import './assets/scss/vars';
@import './assets/scss/mixins';

.guarantee {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 20px 15px;
  margin: 0 -15px;
  background: scale-color($color-green, $lightness: 94%);
  border-top: 1px solid $color-6;
  border-bottom: 1px solid $color-6;

  @include _desktop {
    width: 100%;
    background: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-icon {
    margin-right: 5px;
    font-size: 20px;
    color: #FFBA35;

    @include _desktop {
      margin-right: 10px;
      font-size: 24px;
    }
  }

  &-text {
    margin: -3px 0 0 0;
    font-size: 12px;
    border-bottom: 1px dashed;

    @include _desktop {
      font-size: 16px;
    }
  }
}