.withdrawal {
  width: 100vw;
  max-width: 400px;
}

.form {
  &-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 25px;
  }
  &-label {
    margin-bottom: 10px;
    font-size: 14px;
  }
  &-hint {
    margin-top: 5px;
    font-size: 14px;
    color: $color-3;
    line-height: 135%;
  }
}

.info {
  &-block {
  }

  &-value {
    font-weight: 500;

    &.high {
      color: $color-green;
    }
    &.low {
      color: $color-red;
    }
  }
  &-label {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: $color-4;
  }
}

.amount-block {
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}