@import './assets/scss/vars';
@import './assets/scss/mixins';

.modal-wrapper-auth {
  :deep(.title) {
    text-transform: none;
  }
}

.modal-content-wrapper {
  width: 100%;

  .label {
    margin-bottom: 5px;
  }
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

.registration {
  margin-left: auto;
  text-align: right;
}


.form {
  display: grid;
  grid-gap: 20px;

  &-button {
    width: 100%;
  }
}