.avatar-image {
  border-radius: $radius;
  max-width: initial;
  width: 40px;
  height: auto;

  @include desktop {
    width: 50px;
  }
}

.icon {
  font-size: 26px;

  @include desktop {
    font-size: 34px;
  }
}

.profile-btn {
  &-content {
    width: 100%;
  }
}