.sorting{
  &-wrapper {
    position: relative;
  }
  &-btn {
    height: 40px;
    border: 2px solid $color-border;
    // background: $color-bg-2;
    pointer-events: none;
  }
  &-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}