.sorting{
  &-wrapper {
    position: relative;
  }
  &-btn {
    border: 1px solid $color-5;
    background: $color-8;
    pointer-events: none;
  }
  &-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}