.cart-btn {
  margin: 0 0 0 auto;
  @include desktop {
    margin: 0 auto;
  }
  .budge {
    position: absolute;
    top: 10px;
    right: 3px; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17px;
    width: 17px;
    border-radius: 8px;
    background: $color-green;
    font-size: 13px;
    font-weight: 500;
    color: $color-8;
    border: 2px solid $color-bg;

    @include desktop {
      top: 14px;
      right: -7px;
    }
  }

  .icon {
    font-size: 26px;

    @include desktop {
      font-size: 34px;
    }
  }
}