.cart-btn {
  margin: 0 0 0 auto;
  &.header-btn {
    width: 60px;
    @include tablet {
      width: inherit;
    }
  }
  @include desktop {
    margin: 0 auto;
  }
  .budge {
    position: absolute;
    top: 6px;
    right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: $color-green;
    font-size: 13px;
    font-weight: 500;
    color: $color-8;
    @include desktop {
      top: 14px;
      right: -8px;
    }
  }
}