@import './assets/scss/vars';
@import './assets/scss/mixins';

.cart-btn {
  margin: 0 0 0 auto;

  &.header-btn {
    width: 60px;

    @include _tablet {
      width: inherit;
    }
  }

  @include _desktop {
    margin: 0 auto;
  }

  .budge {
    position: absolute;
    top: 9px;
    right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    border-radius: 3px;
    background: $color-green;
    font-size: 8px;
    font-weight: 700;
    color: $color-8;
  }
}