.product {
  &-card {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    grid-gap: 10px;

    @include desktop {
      padding: 0 0 10px 0;
      grid-template-columns: 1fr;
      // border: 1px solid $color-6;
      // border-radius: $radius;
      &:hover {
        .product-name {
          color: $color-green;
        }
      }
    }
  }
  &-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include desktop {
      grid-row-end: 1;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background: $color-bg-2;
      grid-row-start: 1;
      grid-row-end: 3;
      border-radius: $radius;
      overflow: hidden;
    }
  }
  &-name {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    padding: 0 10px;
    line-height: 132%;
    color: $color-1;
    transition: color $speed;
    @include desktop {
      -webkit-line-clamp: 3;
    }
  }

  &-modification {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    grid-row-start: 2;
    grid-column-start: 2;
    margin: 0 10px;
    padding: 0 10px;
    height: 22px;
    background: $color-orange;
    color: $color-dark;
    font-weight: 600;
    font-size: 0.8em;
    border-radius: 12px;

    @include desktop {
      grid-row-start: initial;
      grid-column-start: initial;
    }
  }
  &-price {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-auto-rows: min-content;
    grid-gap: 10px;
    font-weight: 500;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: end;

    @include desktop {
      grid-column-start: 1;
      grid-row-start: initial;
      justify-self: initial;
    }

    .base-price {
      color: $color-0;
      font-size: 16px;
    }
    .old-price {
      font-size: 14px;
      color: $color-3;
      text-decoration: line-through;
      + .base-price {
        color: $color-red;
      }
    }
  }
}