@import './assets/scss/vars';
@import './assets/scss/mixins';

.product {
  &-card {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    grid-gap: 10px;

    @include _desktop {
      padding: 0 0 10px 0;
      grid-template-columns: 1fr;
      grid-template-rows: 105px 75px 20px;
      border: 1px solid $color-6;
      border-radius: $radius;

      &:hover {
        .product-name {
          color: $color-green;
        }
      }
    }
  }

  &-image {
    width: 100%;
    height: 70px;
    object-fit: contain;
    grid-row-start: 1;
    grid-row-end: 3;
    background: #eee;

    @include _desktop {
      height: 100%;
      grid-row-end: 1;
    }
  }

  &-name {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    padding: 0 10px;
    line-height: 132%;
    color: $color-1;
    transition: color $speed;

    @include _desktop {
      -webkit-line-clamp: 3;
    }
  }

  &-price {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-auto-rows: min-content;
    grid-gap: 10px;
    font-weight: 500;
    grid-column-start: 2;

    @include _desktop {
      grid-column-start: 1;
    }

    .base-price {
      color: $color-0;
      font-size: 16px;
    }

    .old-price {
      font-size: 14px;
      color: $color-3;
      text-decoration: line-through;

      + .base-price {
        color: $color-red;
      }
    }
  }
}