.affiliate {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 50;
  transition: bottom 0.3s;

  @include desktop {
    bottom: 50px;
    right: 50px;
  }

  &.up {
    bottom: 70px;
  }

  &-button {
    height: 50px;
    width: 50px;
    // filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.07));
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop {
      height: 60px;
      width: initial;
      gap: 15px;
      padding: 3px 30px 3px 0;
      border: 3px solid $color-orange;
      background: $color-8;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 27px;
    font-size: 24px;
    background-color: $color-8;
    border: 2px solid $color-orange;
    color: $color-orange;

    @include desktop {
      height: 50px;
      width: 56px;
    }
  }
  // &-img {
  //   object-fit: contain;
  //   width: calc(60px - 6px);
  //   height: calc(60px - 6px);
  // }
  &-img {
    width: 80px;
    height: 80px;
    margin: -10px 0 0 0;
    object-fit: contain;
    max-width: initial;

    @include desktop {
      width: 120px;
      height: 120px;
      margin: -40px -40px 0 -50px;
    }
  }
  &-text {
    display: none;

    @include desktop {
      display: flex;
      flex-direction: column;
      gap: 3px;
      // text-align: center;
      // font-family: 'Alegreya Sans';
    }
  }

  &-title {
    font-size: 18px;
    font-weight: 500;
  }

  &-desc {
    font-size: 15px;
    color: $color-3;
  }
}

.modal {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: calc(100vw - 30px);
  padding: 30px;
  background-color: $color-8;
  border-radius: 50px;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include desktop {
    bottom: 50px;
    right: 50px;
    width: 500px;
    padding: 40px;
  }

  &-backdrop {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    z-index: 999;
  }

  &-header {

    &-title {
      font-weight: 900;
      font-size: 28px;
      font-family: 'Alegreya Sans';
      color: $color-green;
    }

    &-desc {
      color: $color-3;
    }

  }

  &-subtitle {
    font-weight: 900;
  }

  &-content {

    .modal-subtitle {
      margin: 0 0 5px 0;
    }

    &-ul {
      margin: 0 0 20px 0;
      padding: 0 0  0 15px;
    }

    &-levels {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 5px;

      &-li {
        white-space: nowrap;
      }
    }
  }

  &-form {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
}