.affiliate {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 50;
  transition: bottom 0.3s;

  @include desktop {
    bottom: 50px;
    right: 50px;
  }

  &.up {
    bottom: 70px;
  }

  &-button {
    height: 50px;
    width: 50px;
    // filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.07));
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop {
      height: 60px;
      width: initial;
      gap: 15px;
      padding: 3px 30px 3px 0;
      border: 3px solid $color-orange;
      background: $color-8;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 27px;
    font-size: 24px;
    background-color: $color-8;
    border: 2px solid $color-orange;
    color: $color-orange;

    @include desktop {
      height: 50px;
      width: 56px;
    }
  }
  // &-img {
  //   object-fit: contain;
  //   width: calc(60px - 6px);
  //   height: calc(60px - 6px);
  // }
  &-img {
    width: 80px;
    height: 80px;
    margin: -10px 0 0 0;
    object-fit: contain;
    max-width: initial;

    @include desktop {
      width: 120px;
      height: 120px;
      margin: -40px -40px 0 -50px;
    }
  }
  &-text {
    display: none;

    @include desktop {
      display: flex;
      flex-direction: column;
      gap: 3px;
      // text-align: center;
      // font-family: 'Alegreya Sans';
    }
  }

  &-title {
    font-size: 18px;
    font-weight: 500;
  }

  &-desc {
    font-size: 15px;
    color: $color-3;
  }
}
