.m-wrapper {
  :deep(.modal-inner) {
    padding: 0;
  }
  :deep(.modal-slot) {
    overflow: hidden;
  }
}
.catalog {
  position: relative;
  display: grid;
  grid-template-columns: minmax(min-content, 320px) 1fr;
  align-items: start;
  width: 100%;
}
.category {
  &-wrapper {
    display: block;
    width: 100%;
    padding: 0;
    border-right: 2px solid $color-border;
    overflow-y: auto;
    @include scrollbar;
    &.mobile-active {
      display: block;
    }
  }
}

.sub {
  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    overflow-y: scroll;
    @include scrollbar;
    
    &.mobile-active {
      display: block;
    }
  }
}

:deep(.sub-inner) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
}

.last {
  margin: 0 0 10px 20px;
  @include desktop {
    margin: 0 0 20px 30px;
  }
  &-link {
    display: block;
    padding: 10px 0;
    color: $color-3;
    @include desktop {
      margin: 0 0 10px 0;
      padding: 0;
    }
  }
}