@import './assets/scss/vars';
@import './assets/scss/mixins';

.m-wrapper {
  :deep(.modal-inner) {
    padding: 0;
  }

  :deep(.modal-slot) {
    overflow: hidden;
  }
}

.catalog {
  position: relative;
  display: flex;
  height: initial;
  width: 100%;
  overflow-y: scroll;

  @include _desktop {
    width: calc(100vw - 90px);
    height: calc(100vh - 170px);
    overflow-y: initial;
  }
}

.category {
  &-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    padding: 30px 20px 30px 20px;
    overflow-y: auto;

    @include _scrollbar;

    @include _desktop {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 20px 20px 20px;
      width: 375px;
      background: $color-6;
    }

    &.mobile-active {
      display: block;
    }
  }
  
  &-inner {
    @include _desktop {
      position: sticky;
      height: min-content;
      top: 0;
      display: block;
    }
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 15px 0;
    text-align: left;
    line-height: 120%;
    border-radius: $radius;
    transition: background $speed, color $speed;

    @include _desktop {
      margin: 0 0 5px 0;
      padding: 10px 45px 10px 10px;
    }

    &:last-of-type {
      margin: 0;
    }

    &.active {
      color: $color-primary;
      background: $color-5;
    }

    &:hover {
      background: $color-5;
      color: $color-primary;
    }
  }

  &-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 0 15px 0 0;
    border-radius: $radius;
  }

  &-name {
    text-transform: uppercase;
    font-size: 12px;

    @include _desktop {
      font-size: 14px;
    }
  }

  &-icon {
    position: absolute;
    right: 10px;
    font-size: 24px;
  }
}

.sub {
  &-header {
    position: sticky;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 40px) 1fr;
    align-items: center;
    padding: 10px 50px 10px 0;
    margin: 0 0 20px 0;
    width: calc(100% + 5px);
    background: $color-7;

    @include _desktop {
      display: none;
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
  }

  &-title {
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 12px;
  }

  &-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    padding: 0;

    @include _scrollbar;

    @include _desktop {
      position: absolute;
      top: 0;
      left: 375px;
      display: block;
      padding: 30px 0;
      overflow-y: scroll;
      width: calc(100vw - 375px - 90px);
    }

    &.mobile-active {
      display: block;
    }
  }

  &-inner {
    display: block;
    padding: 0 0 20px 0;

    @include _desktop {
      columns: 3;
    }
  }

  &-item {
    display: block;
    margin: 0;
    padding: 10px 10px 10px 20px;
    text-transform: uppercase;
    line-height: 130%;
    font-size: 12px;

    @include _desktop {
      margin: 0 0 10px 30px;
      padding: 0;
      font-size: 14px;
    }

    &:first-of-type {
      font-weight: 500;
    }
  }
}

.last {
  margin: 0 0 10px 20px;

  @include _desktop {
    margin: 0 0 20px 30px;
  }

  &-link {
    display: block;
    padding: 10px 0;
    color: $color-3;

    @include _desktop {
      margin: 0 0 10px 0;
      padding: 0;
    }
  }
}