.m-wrapper {
  :deep(.modal-inner) {
    padding: 0;
  }
  :deep(.modal-slot) {
    overflow: hidden;
  }
}
.catalog {
  position: relative;
  display: flex;
  height: initial;
  width: 100%;
  overflow-y: scroll;
  
  @include desktop {
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 170px);
    overflow-y: initial;
  }
}
.category {
  &-wrapper {
    display: none;
    width: 100%;
    padding: 0;
    @include scrollbar;
    @include desktop {
      display: block;
      background: $color-bg-2;
    }
    &.mobile-active {
      display: block;
    }
  }
}

.sub {
  &-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    padding: 0;
    @include scrollbar;
    @include desktop {
      display: block;
      padding: 30px 0;
      overflow-y: scroll;
    }
    &.mobile-active {
      display: block;
    }
  }
}
.last {
  margin: 0 0 10px 20px;
  @include desktop {
    margin: 0 0 20px 30px;
  }
  &-link {
    display: block;
    padding: 10px 0;
    color: $color-3;
    @include desktop {
      margin: 0 0 10px 0;
      padding: 0;
    }
  }
}