.method {
  display: grid;
  grid-gap: 15px;
  &-item {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    align-items: center;
    @include desktop {
      grid-template-columns: 20px 1fr min-content;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
  }
  &-image {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  &-name {
    line-height: 115%;
    @include desktop {
      line-height: 145%;
    }
  }
  &-desc {
    display: flex;
    gap: 5px;
    grid-column-start: 2;
    white-space: nowrap;
    color: $color-3;
    
    @include desktop {
      grid-column-start: initial;
    }

    &.amount {
      // color: $color-dark;
    }
  }
}

.free-delivery {
  margin-top: 30px;
}

.product-box-label {
  :deep(.country-label) {
    font-weight: 400;
  }

  :deep(.country-value-label) {
    color: $color-dark;
    font-weight: 500;
    white-space: nowrap;
  }
}