@import './assets/scss/vars';
@import './assets/scss/mixins';

.tabs {
  display: flex;
  overflow-x: auto;
  background: $color-7;
  max-width: 100vw;
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 10;

  @include _desktop {
    padding: 0 30px;
    width: calc(100% + 40px);
  }
}

.list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;

  @include _tablet {
    grid-gap: 20px;
    margin-left: 0;
    padding: 0;
    width: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  padding: 0 15px;
  white-space: nowrap;
  cursor: pointer;
  line-height: 120%;
  font-size: 16px;
  color: $color-2;
  border-bottom: 2px solid transparent;
  transition: color $speed, border $speed;

  &:hover {
    color: $color-primary;
  }  

  &:before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    height: 2px;
    background-color: $color-7;
    transition: width 0.4s;
  }

  &.active {
    color: $color-0;
    border-bottom: 2px solid;
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }


  :deep(.budge) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    padding: 0 6px;
    margin-left: 5px;
    font-size: 14px;
    border-radius: $radius;

    &.green {
      color: $color-8;
      background: $color-green;
    }
  }
}