.tabs {
  display: flex;
  overflow-x: auto;
  background: $color-bg;
  max-width: 100vw;
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 10;
  background: $color-0;

  @include desktop {
    padding: 0 15px;
    width: calc(100% + 30px);
    background: $color-bg;
  }
  &-container {
    max-width: 2130px;
    width: 100%;
    margin: 0 auto;
  }
}
.list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  @include tablet {
    grid-gap: 20px;
    margin-left: 0;
    padding: 0;
    width: 100%;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  padding: 0 15px;
  white-space: nowrap;
  cursor: pointer;
  line-height: 120%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: color $speed, border $speed;
  color: $color-bg;

  @include desktop {
    height: 50px;
    font-size: 16px;
    text-transform: none;
    color: initial;
  }

  &:hover {
    color: $color-primary;
  }  
  &:before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    height: 2px;
    background-color: $color-7;
    transition: width 0.4s;
  }
  &.active {
    color: $color-orange;
    border-bottom: 4px solid $color-orange;

    @include desktop {
      color: $color-0;
    }
  }
  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
  :deep(.budge) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    height: 18px;
    margin-left: 5px;
    padding: 0 4px;
    font-size: 12px;
    line-height: 0;
    border-radius: $radius;
    transform: translateY(-1px);
    &.orange {
      color: $color-8;
      background: $color-orange;
    }
  }
}