@import './assets/scss/vars';
@import './assets/scss/mixins';

.footer {
  position: relative;
  background: $color-1;
  padding: 0 20px;

  &-label {
    margin-bottom: 10px;
    font-size: 12px;
    color: $color-3;

    @include _tablet {
      font-size: 14px;
    }
  }

  &-hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid $color-11;

    @include _tablet {
      margin: 40px 0;
    }
  }

  @include _tablet {
    padding: 0 45px;

  }

  @include _desktop {

  }
}

.company {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) min-content;
  grid-gap: 30px;
  width: calc(100% + 40px);
  padding: 30px 20px;
  margin: 0px -20px 30px -20px;
  background: #2C2D2C;

  @include _tablet {
    grid-template-columns: 7fr 4fr 5fr 220px;
    grid-gap: 80px;
    width: calc(100% + 90px);
    margin: 0px -45px 0 -45px;
    padding: 80px 45px;
  }

  @include _desktop {

  }
}

.phone {
  &-item {
    display: block;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    color: $color-green;

    &:first-of-type {
      margin-bottom: 8px;

      @include _tablet {
        margin-bottom: 10px;
      }
    }

    @include _tablet {
      font-size: 18px;
      line-height: 120%;
    }
  }
}

.social {
  &-items {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-gap: 10px;

    @include _tablet {
      grid-template-columns: repeat(3, 40px);
      grid-gap: 15px;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border-radius: $radius;

    @include _tablet {
      height: 40px;
    }

    // &.instagram {
    //   background: $color-instagram;
    // }

    // &.facebook {
    //   background: $color-facebook;
    // }

    // &.tiktok {
    //   background: $color-tiktok;
    // }
  }

  &-icon {
    font-size: 20px;
    color: $color-8;
  }
}

.address {
  grid-column-start: 1;
  grid-column-end: 3;


  @include _tablet {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  @include _desktop {}

  &-item {
    display: flex;
    align-items: flex-start;

    &:first-of-type {
      margin-bottom: 15px;
    }
  }

  &-icon {
    flex-shrink: 0;
    color: $color-3;
    font-size: 20px;
  }

  &-link {
    display: inline-block;
    margin-left: 10px;
    color: $color-8;
    line-height: 130%;
  }
}

.djini {
  display: grid;
  grid-template-columns: 55px minmax(min-content, 1fr);
  grid-gap: 20px;
  grid-column-start: 1;
  grid-column-end: 3;

  @include _tablet {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  @include _desktop {}

  &-logo {
    width: 100%;
    height: 51px;
    object-fit: contain;
  }

  &-desc {
    color: $color-8;
    font-size: 14px;
    line-height: 130%;
  }
}

.nav {
  &-hr {
    @include _tablet {
      display: none;
    }
  }

  @include _tablet {
    display: grid;
    grid-template-columns: 7fr min-content min-content 220px;
    align-items: flex-start;
    grid-gap: 80px;
    padding: 80px 0 40px 0;
  }
}

.sub {
  padding: 20px;
  border: 3px solid #2C2D2C;
  border-radius: $radius;

  @include _tablet {
    padding: 30px;
  }

  &-form {
    display: grid;
    grid-gap: 10px;

    @include _tablet {
      grid-template-columns: 6fr 4fr;
      grid-gap: 20px;
    }
  }

  &-title {
    color: $color-8;
    font-weight: 600;

    @include _tablet {
      font-size: 18px;
    }
  }

  &-input {
    :deep(.main-input) {
      border: 1px solid $color-green;
      background: #3C3C3C;
      text-align: center;
      color: $color-8;
    }
  }

  &-btn {
  }

  .footer-label {
    margin: 10px 0 25px 0;

    @include _tablet {
      margin: 10px 0 40px 0;
    }
  }
}

.menu {
  margin: 30px 0 0 0;

  @include _tablet {
    margin: 0;
    line-height: 120%;
  }

  &-ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 10px 0;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  &-link {
    color: $color-8;
    white-space: nowrap;

    &:hover {
      color: $color-green;
    }
  }

  .footer-label {
    white-space: nowrap;
  }
}

.vendors {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content;
  margin: 30px 0;

  @include _tablet {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 0;  
  }
}

.payment,
.delivery {
  &-inner {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 60px;
    grid-gap: 10px;

    @include _tablet {
      grid-auto-columns: 80px;
      grid-gap: 15px;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 34px;
    border-radius: $radius;
    background: $color-8;


    @include _tablet {
      width: 80px;
      height: 40px;
    }
  }

  &-logo {
    width: 50px;
    height: 26px;
    object-fit: contain;
  }
}


.delivery {
  &-inner {
    grid-auto-columns: 120px;
  }
  &-item {
    width: 120px;
  }
  &-logo {
    width: 100px;
  }
}

.last-section {
  padding: 0 0 30px 0;
  text-align: center;
  color: $color-8;

  @include _tablet {
    padding: 0 0 40px 0;
  }
}