.footer {
  position: relative;
  padding: 0 20px;
  margin-top: 50px;
  background: $color-bg;
  @include tablet {
    padding: 0 45px;
    margin-top: 80px;
  }
  @include desktop {
    margin-top: 160px;
  }

  &-label {
    color: $color-primary;
    margin-bottom: 10px;
    font-size: 14px;
    // color: $color-3;
    // font-family: var(--font-display);
    font-weight: 600;
    white-space: nowrap;
    @include tablet {
      font-size: 16px;
    }
  }
  &-hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid $color-border;
    @include tablet {
      margin: 40px 0;
    }
  }
}
.company {
  width: calc(100% + 40px);
  padding: 30px 20px;
  margin: 0px -20px 30px -20px;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  background-color: $color-green;
  color: rgba(255,255,255,0.9);

  @include tablet {
    width: calc(100% + 90px);
    margin: 0px -45px 0 -45px;
    padding: 60px 45px;
  }
  @include desktop {
  }
  &-container {
    display: grid;
    // grid-template-columns: minmax(min-content, 1fr) min-content;
    grid-gap: 30px;
    padding-top: 20px;
    @include tablet {
      // grid-template-columns: 7fr 4fr 5fr 220px;
      grid-template-columns: 1fr minmax(min-content, 250px) max-content min-content;
      grid-gap: 80px;
      padding-top: 40px;
    }
  }

  &-logo-container {
    display: grid;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    @include tablet {
      grid-template-columns: min-content 1fr;
      gap: 80px;
      padding-bottom: 40px;
    }

    &-categories {
      overflow-x: auto;
      margin: 0 -20px;
      padding: 0 20px;

      @include desktop {
        margin: initial;
        padding: initial;
      }
    }
  }

  a {
    color: rgba(255,255,255,0.85);
  }
  .footer-label {
    color: #3e603c;
  }
}
.phone {
  &-item {
    display: block;
    font-size: 22px;
    font-weight: 600;
    white-space: nowrap;
    // color: rgba(255,255,255,0.9);
    color: $color-8;
    font-family: var(--font-display);
    &:first-of-type {
      margin-bottom: 8px;
      @include tablet {
        margin-bottom: 10px;
      }
    }
    @include tablet {
      font-size: 30px;
      line-height: 120%;
    }
  }
}
.social {
  grid-column-start: 1;
  grid-column-end: 3;

  @include desktop {
    grid-column-start: initial;
    grid-column-end: initial;
  }
  &-items {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-gap: 10px;
    @include tablet {
      grid-template-columns: repeat(4, 40px);
      grid-gap: 15px;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border-radius: $radius;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
    @include tablet {
      height: 40px;
    }
    // &.instagram {
    //   background: $color-instagram;
    // }
    // &.facebook {
    //   background: $color-facebook;
    // }
    // &.tiktok {
    //   background: $color-tiktok;
    // }
  }
  &-icon {
    font-size: 20px;
    color: $color-8;
  }
}
.address {
  grid-column-start: 1;
  grid-column-end: 3;
  @include tablet {
    grid-column-start: 3;
    grid-row-start: 1;
    font-size: 18px;
  }
  @include desktop {}
  &-item {
    display: flex;
    align-items: flex-start;
      margin-bottom: 10px;
  }
  &-icon {
    flex-shrink: 0;
    color: $color-8;
    font-size: 22px;
  }
  &-link {
    display: inline-block;
    margin-left: 10px;
    line-height: 130%;
    font-weight: 600;
  }
}
.brand {
  grid-column-start: 1;
  grid-column-end: 3;
  @include tablet {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  @include desktop {
    align-items: center;
  }
  &-logo {
    width: auto;
    max-width: initial;
    height: 50px;
    object-fit: contain;
  }
  &-desc {
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
  }
}
.nav {
  &-hr {
    @include tablet {
      display: none;
    }
  }
  @include tablet {
    padding: 80px 0 40px 0;
  }
  &-container {
    @include tablet {
      display: grid;
      grid-template-columns: 7fr min-content min-content 260px;
      align-items: flex-start;
      grid-gap: 80px;
    }
  }
}
.sub {
  max-width: 600px;
  border-radius: $radius;
  @include tablet {
    padding: 30px 0;
  }
  &-form {
    display: grid;
    grid-gap: 10px;
    @include tablet {
      grid-template-columns: 6fr 4fr;
      grid-gap: 20px;
    }
  }
  &-title {
    font-weight: 600;
    margin: 25px 0 25px 0;
    @include tablet {
      margin: 30px 0 30px 0;
      font-size: 18px;
    }
  }
  &-input {
    :deep(.main-input) {
      border: 1px solid $color-border;
      background: $color-bg-2;
      text-align: center;
      color: $color-8;
      height: 40px;
      border-radius: 25px;
      @include desktop {
        height: 50px;
      }
    }
  }
  &-btn {
    width: 100%;
  }
}
.menu {
  margin: 30px 0 0 0;
  @include tablet {
    margin: 0;
    line-height: 120%;
  }
  &-ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0 0 10px 0;
      &:last-of-type {
        margin: 0;
      }
    }
  }
  &-link {
    white-space: nowrap;
    &:hover {
      color: $color-green;
    }
  }
  .footer-label {
    white-space: nowrap;
  }
}
.vendors {
  display: grid;
  grid-auto-flow: row;
  margin: 30px 0;
  gap: 30px;
  @include tablet {
    grid-template-columns: 1fr min-content;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 0;  
  }
}
.payment,
.delivery {
  &-inner {
    display: flex;
    flex-wrap: wrap;
    // grid-auto-flow: column;
    // grid-auto-columns: 60px;
    gap: 10px;
    @include tablet {
      // grid-auto-columns: 80px;
      gap: 15px;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 34px;
    border-radius: $radius;
    background: $color-8;
    @include tablet {
      width: 80px;
      height: 40px;
    }
  }
  &-logo {
    width: 50px;
    height: 26px;
    object-fit: contain;
  }
}
.delivery {
  &-inner {
    grid-auto-columns: 120px;
  }
  &-item {
    width: 120px;
  }
  &-logo {
    width: 100px;
  }
}
.last-section {
  padding: 0 0 30px 0;
  text-align: center;
  @include tablet {
    padding: 0 0 40px 0;
  }
}


.category {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr min-content;
  text-align: center;
  padding: 20px 10px;
  gap: 10px;
  background: #6bb967;
  border-radius: $radius;
  transition: background 0.3s;

  &:hover {
    background: #65ac62;
  }

  &-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 130px;
    grid-auto-rows: 150px;
    gap: 10px;
    justify-self: flex-start;

    @include desktop {
      gap: 20px;
    }
  }

  &-image {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    object-fit: contain;
  }

  &-name {
    font-weight: 600;
    font-size: 14px;
    color: #3e613c;
  }
}