.footer {
  position: relative;
  background: $color-dark-1;
  padding: 0 20px;
  
  &-label {
    margin-bottom: 10px;
    font-size: 12px;
    color: $color-3;
    @include tablet {
      font-size: 14px;
    }
  }
  &-hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid $color-11;
    @include tablet {
      margin: 40px 0;
    }
  }
  @include tablet {
    padding: 0 45px;
    margin-top: 80px;
  }
  @include desktop {
    margin-top: 160px;
  }
}
.company {
  width: calc(100% + 40px);
  padding: 30px 20px;
  margin: 0px -20px 30px -20px;
  background: $color-dark-2;
  @include tablet {
    width: calc(100% + 90px);
    margin: 0px -45px 0 -45px;
    padding: 80px 45px;
  }
  @include desktop {
  }
  &-container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) min-content;
    grid-gap: 30px;
    @include tablet {
      grid-template-columns: 7fr 4fr 5fr 220px;
      grid-gap: 80px;
    }
  }
}
.phone {
  &-item {
    display: block;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    color: $color-green;
    &:first-of-type {
      margin-bottom: 8px;
      @include tablet {
        margin-bottom: 10px;
      }
    }
    @include tablet {
      font-size: 18px;
      line-height: 120%;
    }
  }
}
.social {
  &-items {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-gap: 10px;
    @include tablet {
      grid-template-columns: repeat(4, 40px);
      grid-gap: 15px;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border-radius: $radius;
    @include tablet {
      height: 40px;
    }
    // &.instagram {
    //   background: $color-instagram;
    // }
    // &.facebook {
    //   background: $color-facebook;
    // }
    // &.tiktok {
    //   background: $color-tiktok;
    // }
  }
  &-icon {
    font-size: 20px;
    color: $color-8;
  }
}
.address {
  grid-column-start: 1;
  grid-column-end: 3;
  @include tablet {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  @include desktop {}
  &-item {
    display: flex;
    align-items: flex-start;
    &:first-of-type {
      margin-bottom: 15px;
    }
  }
  &-icon {
    flex-shrink: 0;
    color: $color-3;
    font-size: 20px;
  }
  &-link {
    display: inline-block;
    margin-left: 10px;
    color: $color-8;
    line-height: 130%;
  }
}
.brand {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  @include tablet {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  @include desktop {
    grid-template-columns: 200px minmax(min-content, 1fr);
  }
  &-logo {
    width: 100%;
    height: 58px;
    object-fit: contain;
  }
  &-desc {
    color: $color-8;
    font-size: 14px;
    line-height: 130%;
  }
}
.nav {
  &-hr {
    @include tablet {
      display: none;
    }
  }
  @include tablet {
    padding: 80px 0 40px 0;
  }
  &-container {
    @include tablet {
      display: grid;
      grid-template-columns: 7fr min-content min-content 260px;
      align-items: flex-start;
      grid-gap: 80px;
    }
  }
}
.sub {
  max-width: 600px;
  border-radius: $radius;
  @include tablet {
    padding: 30px 0;
  }
  &-form {
    display: grid;
    grid-gap: 10px;
    @include tablet {
      grid-template-columns: 6fr 4fr;
      grid-gap: 20px;
    }
  }
  &-title {
    color: $color-8;
    font-weight: 600;
    @include tablet {
      font-size: 18px;
    }
  }
  &-input {
    :deep(.main-input) {
      border: 1px solid $color-green;
      background: #3C3C3C;
      text-align: center;
      color: $color-8;
      height: 40px;
      border-radius: 25px;
      @include desktop {
        height: 50px;
      }
    }
  }
  &-btn {
    width: 100%;
  }
  .footer-label {
    margin: 10px 0 25px 0;
    @include tablet {
      margin: 10px 0 40px 0;
    }
  }
}
.menu {
  margin: 30px 0 0 0;
  @include tablet {
    margin: 0;
    line-height: 120%;
  }
  &-ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0 0 10px 0;
      &:last-of-type {
        margin: 0;
      }
    }
  }
  &-link {
    color: $color-8;
    white-space: nowrap;
    &:hover {
      color: $color-green;
    }
  }
  .footer-label {
    white-space: nowrap;
  }
}
.vendors {
  display: grid;
  grid-auto-flow: row;
  margin: 30px 0;
  gap: 30px;
  @include tablet {
    grid-template-columns: 1fr min-content;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 0;  
  }
}
.payment,
.delivery {
  &-inner {
    display: flex;
    flex-wrap: wrap;
    // grid-auto-flow: column;
    // grid-auto-columns: 60px;
    gap: 10px;
    @include tablet {
      // grid-auto-columns: 80px;
      gap: 15px;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 34px;
    border-radius: $radius;
    background: $color-8;
    @include tablet {
      width: 80px;
      height: 40px;
    }
  }
  &-logo {
    width: 50px;
    height: 26px;
    object-fit: contain;
  }
}
.delivery {
  &-inner {
    grid-auto-columns: 120px;
  }
  &-item {
    width: 120px;
  }
  &-logo {
    width: 100px;
  }
}
.last-section {
  padding: 0 0 30px 0;
  text-align: center;
  color: $color-8;
  @include tablet {
    padding: 0 0 40px 0;
  }
}