@use '~/assets/scss/skeleton' as *;

.header {
  margin-bottom: 10px;
  display: grid;
  grid-gap: 20px;
  @include desktop {
    grid-template-columns: 1fr min-content;
    grid-gap: 15px;
    align-items: center;
    margin: 0 0 5px 0;
  }
  .name {
    height: 32px;
    width: 70%;
    @extend .skeleton-loading;
    margin-bottom: 15px;
    @include desktop {
      height: 40px;
    }
  }
  .like-comp {
    display: none;
    @extend .skeleton-loading;
    @include desktop {
      display: block;
      height: 24px;
      width: 300px;
      margin-bottom: 20px;
    }
  }
  .code {
    display: none;
    @extend .skeleton-loading;
    @include desktop {
      display: block;
      height: 24px;
      width: 200px;
      margin-bottom: 20px;
      justify-self: end;
    }
  }
  &-reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    .rating {
      height: 24px;
      width: 120px;
      @extend .skeleton-loading;
    }
    .reviews {
      height: 24px;
      width: 180px;
      @extend .skeleton-loading;
    }
  }
}
.tab {
  position: absolute;
  left: 50%;
  top:0;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  @extend .skeleton-loading-2;
  &-wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    @include desktop {
      margin-bottom: 40px;
    }
  }
}
.content {
  display: grid;
  gap: 30px;
  margin-bottom: 40px;
  @include desktop {
    grid-template-columns: 50% calc(50% - 30px);
    gap: 30px;
  }
  &-main {
    .gallery {
      height: 300px;
      @extend .skeleton-loading;
      margin-bottom: 20px;
      @include desktop {
        height: 600px;
        margin-bottom: 30px;
      }
    }
    .description {
      height: 200px;
      @extend .skeleton-loading;
    }
  }
}