@import './assets/scss/vars';
@import './assets/scss/mixins';

.card {
  position: relative;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10px;
  padding: 0 10px;
  width: 100%;
  background: $color-8;

  @include _tablet {
    grid-gap: 15px;
    padding: 0 15px;
  }

  @include _desktop {
    grid-gap: 20px;
    padding: 0 20px;
  }

  &:hover {
    .hover {
      opacity: 1;
      z-index: 10;
    }
  }

  &.not-in-stock {
    filter: grayscale(1);
    opacity: 0.5;

    .buy-btn {
      pointer-events: none;
    }
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-3;
    border-radius: $radius;
    padding: 4px 10px;
    background: $color-8;
    font-size: 12px;
    text-transform: uppercase;
    z-index: 10;

    @include _desktop {
      position: absolute;
      top: 5px;
      left: 5px;
      padding: 5px 20px;
    }

    &.red {
      color: $color-red;
      border: 1px solid $color-red;
    }

    &.orange {
      color: $color-orange;
      border: 1px solid $color-orange;
    }

    &.violet {
      color: $color-blue;
      border: 1px solid $color-blue;
    }
  }

  &-sub {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
  }
}



.name {
  display: block;
  display: -webkit-box;
  width: 100%;
  max-height: 50px;
  height: 100%;
  font-size: 12px;
  text-align: center;
  line-height: 140%;
  background-color: $color-8;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: .3s ease max-height;
  overflow: hidden;
  z-index: 1;

  &:hover {
  }
  
  @include _desktop {
    position: absolute;
    max-height: 45px;
    font-size: 16px;
    overflow: initial;
  }

  &-wrapper {
    @include _desktop {
      position: relative;
      height: 45px;
      font-size: 16px;
      overflow: hidden;

      &:hover {
        overflow: visible;

        .name {
          // color: $color-green;
          text-decoration: underline;
          height: auto;
          max-height: 200px;
          -webkit-line-clamp: 5;
          padding: 0 0 15px 0;
        }
      }
    }
  }
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  object-position: center center;
  border-radius: $radius;

  &-wrapper {
    overflow: hidden;
    display: block;
    width: calc(100% + 10px);
    height: 50vw;
    margin: 0 -5px;
    border-radius: $radius;

    @include _tablet {
      width: calc(100% + 30px);
      margin: 0 -15px;
    }

    @include _desktop {
      width: calc(100% + 40px);
      height: 260px;
      margin: 0 -20px;
    }

  }
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;

  &.between {
    @include _desktop {
      justify-content: space-between;
    }
  }

  &-btn {
    max-width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $color-3;
    font-size: 12px;

    @include _tablet {
      font-size: 14px;
    }

    &:hover {
      text-decoration: underline;
    }

  }
}

.line {
  border: 0;
  border-top: 1px solid $color-6;
}

.amount {
  text-align: center;
  font-size: 12px;

  @include _tablet {
    font-size: 16px;
  }
}


.hover {
  display: grid;
  grid-template-columns: repeat(2, 24px);
  grid-gap: 5px;
  transition: opacity $speed;

  @include _desktop {
    position: absolute;
    grid-template-columns: repeat(2, 40px);
    top: 5px;
    right: 5px;
    opacity: 0;
    z-index: -1;
  }

  &.active {
    opacity: 1;
    z-index: 10;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius;
    height: 24px;
    width: 24px;
    font-size: 18px;

    @include _desktop {
      height: 40px;
      width: 40px;
      font-size: 24px;
    }

    &.comparison-btn {
      // color: $color-8;
      // background: $color-blue;
      color: $color-blue;
      background: scale-color($color-blue, $lightness: 80%);
      // border: 1px solid scale-color($color-blue, $lightness: 20%);

      &.active {
        color: $color-8;
        background: $color-blue;
      }

      &:hover {
        background: scale-color($color-blue, $lightness: 90%);
      }
    }

    &.favorite-btn {
      color: $color-red;
      background: scale-color($color-red, $lightness: 85%);
      // border: 1px solid scale-color($color-red, $lightness: 20%);

      &.active {
        // color: $color-8;
        // background: $color-red;
        background: scale-color($color-red, $lightness: 75%);
        border: 1px solid scale-color($color-red, $lightness: 75%);
      }

      &:hover {
        background: scale-color($color-red, $lightness: 90%);
      }
    }
  }
}

.sale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  @include _tablet {

  }
  @include _desktop {
    flex-direction: row;
  }

  .buy-btn {
    width: 34px;
    height: 34px;
    padding: 0;

    @include _tablet {

    }

    @include _desktop {
      width: 100px;
    }

    &-name {
      display: none;

      @include _desktop {
        display: block;
      }
    }

    &-icon {
      font-size: 20px;

      @include _desktop {
        display: none;
      }
    }
  }

}