.product-box {
  width: 100vw;
  margin: 0 -15px;
  padding: 30px 15px;
  border-top: 1px solid $color-border;
  @include desktop {
    width: 100%;
    margin: 0;
    padding: 30px;
    border: 1px solid $color-border;
    border-radius: $radius;
  }
  &-label {
    margin-bottom: 10px;
    color: $color-3;
  }
  .box {
    &-btn {
      margin-top: 20px;
    }
  }
  .more-btn {
    margin-top: 20px;
    @include desktop {
      display: none;
    }
  }

  .mobile-title {
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    @include desktop {
      display: none;
    }
  }

  &-notice {
    margin-top: 15px;
    padding: 14px;
    border-radius: $radius;
    background-color: $color-bg-2;
    font-size: 14px;
    line-height: 1.5;
    color: $color-1;

    @include desktop {
      font-size: 15px;
      margin-top: 20px;
    }
  }
}
