@import './assets/scss/vars';
@import './assets/scss/mixins';

.product-box {
  width: 100%;
  margin: 0;
  padding: 30px 20px;
  border: 1px solid $color-5;
  border-radius: $radius;

  @include _desktop {
    padding: 30px;
  }

  &-label {
    margin-bottom: 10px;
    color: $color-3;

    @include _desktop {
      margin-bottom: 20px;
    }
  }
}