.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background: $color-bg;
  border-bottom: 1px solid $color-border;
  z-index: 200;
  transition: transform 0.3s ease-in-out;
  
  &--hidden {
    transform: translateY(-60px);
  }

  &-container {
    display: grid;
    grid-template-columns: 60px 1fr min-content;
    align-items: center;
    transition: grid-template-columns 0.3s ease, gap 0.3s ease;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 120px;
  margin: 0 auto 0 15px;
  &-img {
    width: auto;
    height: auto;
  }
}
:deep(.header-btn) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  width: 100%;
  @include desktop {
    height: 80px;
  }
}

.notifications {
}
