.articles-wrapper {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-gap: 15px;
  width: 100%;
  @include tablet {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
  }
  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  @include ld {
    grid-template-columns: repeat(5, 1fr);
  }
  @include xld {
    grid-template-columns: repeat(6, 1fr);
  }
}
.load-more {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
}