@import './assets/scss/vars';
@import './assets/scss/mixins';

.insta-section {
  display: grid;
  background: linear-gradient(105deg, rgba(225, 48, 108, 0.17) 15.02%, rgba(64, 93, 230, 0.17) 78.61%);
  padding: 50px 20px 0 20px;
  overflow: hidden;

  @include _desktop {
    grid-template-columns: 320px minmax(min-content, 1fr);
    padding: 80px 45px;
    width: 100%;
  }
}

.feed {
  display: flex;
  align-items: center;
  margin: 0 -20px;
  width: calc(100% + 40px);

  @include _tablet {
    margin: 0;
    width: 100%;
  }

  &-item {
    position: relative;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    flex-shrink: 0;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.box {
  padding: 0 0 25px 0;

  @include _desktop {
    height: 220px;
    padding: 50px 40px 50px 0;
  }

  &-title {
    margin-bottom: 20px;
    line-height: 160%;
    text-transform: uppercase;
  }

  &-btn {
    width: 100%;
    background: #E1306C;
    box-shadow: 0px 4px 20px 0px rgba(225, 48, 108, 0.45);
  }
}