@import './assets/scss/vars';
@import './assets/scss/mixins';

.wrapper {
  position: relative;
  left: -50%;
  transform: translateX(50%);

  @include _desktop {
    transform: initial;
    left: initial;
  }

  &.full {
    .modal-inner {
      width: 100vw;
      height: 100vh;
      max-height: 100vh;
      margin: 0 -10px;
      padding: 20px 15px;
      border-radius: 0;
    }

    .modal-slot {
      max-height: 100%;
      height: calc(100% - 55px);
    }

    .close-btn {
      right: 0;
    }
  }
}

.modal{
  &-inner {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    padding: 20px 20px;
    background-color: $color-bg;
    border-radius: $radius $radius 0 0;

    @include _desktop {
      padding: 50px 50px;
      border-radius: $radius;
    }

    @include _scrollbar
  }

  &-slot {
    display: flex;
    max-height: calc(100vh - 170px);

    @include _desktop {
    }
  }
}

.close-btn {
  position: absolute;
  width: 40px;
  top: 10px;
  right: 10px;
  z-index: 1;

  @include _desktop {
    display: none;
  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 auto 0 auto;
    border-radius: $radiusBtn;
    background: $color-7;
  }
}

.title {
  margin: 0 0 30px 0;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  text-transform: uppercase;
  
  @include _desktop {
    margin: 0 0 20px 0;
    font-size: 24px;
  }
}

.description {
  margin: 0 0 20px 0;
  font-size: 16px;
  color: $color-3;
  line-height: 135%;
}