.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: calc(100vw - 30px);
  margin: 0 15px 10px 15px;
  background: rgba($color-bg, 0.7);
  border: 1px solid $color-border;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 60px 60px 1fr 60px 60px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  z-index: 300;
  backdrop-filter: blur(10px);
  overflow: hidden;
  // box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transition: grid-template-columns 0.3s;

  &.searchable {
    grid-template-columns: 0 calc(100% + 60px) 0 0 0;
  }

  &-cart {
    :deep(.cart-btn-inner) {
      border-left: 1px solid $color-border;

      @include desktop {
        border-left: 0;
      }
    }
  }
}

.header-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
    width: 100%;
}

.cta {
  position: relative;
  height: 60px;
  width: 60px;
  // border: 1px solid $color-border;

  &-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 35px;
    border-top: 1px solid $color-8;
    border-bottom: 1px solid $color-8;
    margin: -1px 0 0 0;
    // background: linear-gradient(135deg, rgba($color-orange, 0.1), rgba($color-orange, 0.3));
    // animation: coinShine 5.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;

    .icon {
      transform: scale(0.95) translateY(-1px);
      animation: zoom 5.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
      font-size: 28px;
      color: $color-orange;
    }
  }
}

@keyframes zoom {
 0% {
  // transform: scale(1);
  filter: brightness(1);
 }
 15% {
  // transform: scale(1.3);
  filter: brightness(1.1);
 } 
 30% {
  // transform: scale(1);
  filter: brightness(1);
 }
 100% {
  // transform: scale(1);
 }
}

// @keyframes coinShine {

// }