.bonus {
  position: relative;
  background: #071d19;
  padding: 60px 0;

  @include desktop {
    padding: 100px 0;
  }

  .container {
    max-width: 1800px;
  }

  &__right {
    position: relative;
    background: #071d19;

    &-media {
      margin: 0 auto;
      width: 100%;
      height: auto;
      max-width: 800px;
      max-height: 800px;
      z-index: 10;

      @include mobile {
        width: 320px;
        height: 320px;
      }

      &-img {
        width: 100%;
        height: 100%;
        max-width: initial;
        object-fit: contain;
        flex-shrink: 0;
      }
    }
  }

  &-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    align-items: center;

    @include desktop {
      grid-template-columns: 1fr 1fr;
      gap: 100px;
    }
  }

  &__header {
    top: 0;
    left: 0;
    height: fit-content;
    z-index: 1;
    width: 100%;
    background: #071d19;
  }

  &__title {
    font-weight: 900;
    font-size: 68px;
    line-height: 100%;
    margin: 0 0 30px 0;
    color: $color-8;

    @include mobile {
      font-size: 34px;
    }
  }

  &__lead {
    font-size: 16px;
    line-height: 130%;
    color: rgba($color-8, 0.6);

    @include desktop {
      font-size: 20px;
      margin: 0 0 30px 0;
    }
  }

  &__track {
    position: relative;
    background: #071d19;

    &-inner {
      margin: 0 auto;
    }

    &-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @include desktop {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
      }
    }

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      gap: 1rem;
      height: auto;
      border: 1px solid rgba($color-text, 0.1);
      border-radius: 30px;
      padding: 40px;
      overflow: hidden;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.07);

      @include mobile {
        padding: 24px;
      }

      &--large {
        grid-column: span 2;
        height: 100%;
        display: flex;
        justify-content: center;
        background: #206556;

        @include mobile {
          grid-column: span 1;
        }
      }

      &--tall {
        .bonus__track-image {
          width: 120%;
        }
      }
    }

    &-join {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
      color: $color-8;

      &-title {
        font-size: 3rem;
        line-height: 1.2;

        @include mobile {
          font-size: 2rem;
        }
      }

      &-description {
        color: rgba($color-8, 0.6);
        line-height: 1.3;
      }
    }

    &-title {
      position: relative;
      z-index: 2;
      font-weight: 600;
      width: 100%;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 1.2;
    }

    &-description {
      position: relative;
      z-index: 2;
      line-height: 1.3;
      opacity: 0.6;
    }

    &-image {
      position: relative;
      z-index: 2;
      object-fit: contain;
      width: 100%;
      max-width: initial;
      height: 300px;
      flex-shrink: 0;

      @include mobile {
        height: 220px;
      }
    }
  }
}
