.article {
  &-card {
    position: relative;
    overflow: hidden;
    // border: 2px solid $color-bg-2;
    border-radius: $radius;
    background: $color-bg-2;

    // @include tablet {
    //   padding: 30px;
    // }

    &:hover {
      .article-image {
        filter: grayscale(1);
        transform: scale(1.1);
      }
      .article-title {
        color: $color-green;
      }
    }
  }
  &-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .6s, filter .6s;

    @include desktop {}

    &-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      overflow: hidden;
      // border-radius: $radius;

      @include desktop {}
    }
  }

  &-title {
    width: 100%;
    padding: 30px 30px 0 30px;
    margin-bottom: 76px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 20px;
    line-height: 140%;
    font-weight: 900;
    font-family: var(--font-display);
    transition: color .6s;
  }

  &-time {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px 30px 30px;
    color: $color-dark-2;
    .label {
      padding-left: 5px;
      font-size: 14px;
      color: $color-dark-2;
    }
  }
}