@import './assets/scss/vars';
@import './assets/scss/mixins';

.tab-wrapper {
  width: calc(100% + 100px) !important;
  padding: 0 50px !important;
  margin: 0 -50px 25px -50px;
}

.modal-wrapper {
  width: 100%;
}

.product-wrapper {
  margin: 0 0 25px 0;
  padding: 0 0 25px 0;
  border-bottom: 1px solid $color-5;
}

.form {
  &-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 25px;
  }

  &-label {
    margin-bottom: 10px;
    font-size: 14px;
  }

  &-hint {
    margin-top: 15px;
    font-size: 14px;
    color: $color-3;
    line-height: 135%;
  }

  &-list {
    padding: 0 0 0 15px;
    list-style-type: square;

    li {
      padding: 0 0 10px 0;
    }
  }
}

.rate {
  &-wrapper {
  }

  &-forms {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    grid-gap: 30px;
  }
}

.send-btn {
  max-width: 100%;
  width: 100%;
}