@import './assets/scss/vars';
@import './assets/scss/mixins';

.box {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 30px;

  padding: 30px;
  background-color: $color-8;
  border-radius: $radius;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 30px;
  width: 100%;

  @include _desktop {
    grid-template-columns: minmax(0, 1fr) 380px;
    margin: 0;
  }
}

.product{
  &-wrapper {}

  &-grid {
    display: grid;
    grid-auto-columns: 100%;
    grid-gap: 20px;
    width: 100%;

    @include _desktop {
      grid-auto-columns: minmax(400px, 100%);
    }
  }

  &-card {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  height: fit-content;
  order: 2;
  border-radius: $radius;

  @include _desktop {
    order: 1;
    padding: 0;
  }
}

.aside {
  position: sticky;
  top: 110px;
  display: grid;
  grid-gap: 30px;
  height: fit-content;
  border-radius: $radius;
  order: 1;

  @include _desktop {
    order: 2;
  }
}

.grid {
  display: grid;
  grid-template-columns:  minmax(0, 1fr);
  grid-gap: 10px;

  @include _desktop {
    grid-template-columns:  repeat(3, minmax(0, 1fr));
    grid-gap: 30px;
  }

  .full-width {
    @include _desktop {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    @include _desktop {
      margin-top: 0;
      grid-gap: 15px;
      border-right: 1px solid $color-6;

      &:last-child {
        border-right: 0;
      }
    }
  }
}

.cell {
  line-height: 135%;

  .label {
    position: relative;
    margin-right: 10px;

    &:after {
      content: ':';
    }
  }
  .value {
    display: inline-block;
    color: $color-1;

    &.paied,
    &.completed,
    &.pickedup {
      color: $color-green;
    }

    &.failed {
      color: $color-red;
    }
    &.new,
    &.sent {
      color: $color-primary;
    }

    &.waiting {
      color: $color-1;
    }

    &.canceled {
      color: $color-5;
    }
  }

  &-price {
    .value {
      color: $color-0;

      :deep(.value) {
        font-family: inherit;
        font-weight: inherit;
      }
    }
  }
}

