.article {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &-image {
    width: 80px;
    height: 80px;
    border-radius: $radius;
    object-fit: cover;
    flex-shrink: 0;
  }
  &-title {
    font-weight: 600;
    transition: color $speed;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 5px
  }

  &-time {
    width: 100%;
    display: flex;
    align-items: center;
    color: $color-3;
    font-size: 14px;
    .label {
      padding-left: 5px;
    color: $color-3;
    }
  }

  &:hover &-title {
      color: $color-primary;
  }
}