.article {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &-title {
    font-weight: 600;
    transition: color $speed;
  }

  &-time {
    width: 100%;
    display: flex;
    align-items: center;
    color: $color-3;
    font-size: 14px;
    .label {
      padding-left: 5px;
    color: $color-3;
    }
  }

  &:hover &-title {
      color: $color-primary;
  }
}