.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background: $color-1;
  z-index: 100;
  @include tablet {
    padding: 0 15px;
    height: 80px;
  }
  @include desktop {
    padding: 0 35px;
  }
  &-container {
    display: grid;
    grid-template-columns: 60px 1fr 60px 60px;
    align-items: center;
    @include tablet {
      grid-template-columns: 80px 80px 1fr 80px 80px 80px 80px;
    }
    @include desktop {
      grid-template-columns: 80px 80px 230px 230px 1fr 80px 80px 80px;
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  &-img {
    width: 30px;
    height: 28px;
    @include tablet {
      width: 55px;
      height: 51px;
    }
  }
  @include tablet {
    order: 1;
  }
  @include desktop {
    justify-content: flex-start;
  }
}
:deep(.header-btn) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  width: 100%;
  color: $color-8;
  @include tablet {
    height: 80px;
  }
  .hint {
    display: none;
    @include tablet {
      display: block;
      font-size: 12px;
      color: $color-3;
    }
  }
}
.comparison {
  @include desktop {
    display: none;
  }
}
.languages {
  display: none;
  @include tablet {
    display: flex;
    order: 4;
  }
  @include desktop {
    order: 6;
  }
}
.profile {
  display: none;
  @include tablet {
    display: block;
    order: 6;
  }
  @include desktop {
    order: 7;
  }
}
.cart {
  @include tablet {
    order: 7;
  }
  @include desktop {
    order: 8;
  }
}
.menu {
  border-right: 1px solid $color-11;
  @include tablet {
    order: 2;
  }
}
.catalog {
  display: none;
  @include tablet {
    display: flex;
    order: 3;
  }
  @include desktop {
    margin-right: 15px;
  }
}
.search-btn {
  display: none;
  @include tablet {
    display: flex;
    order: 5;
  }
  @include desktop {
    display: none;
  }
}
.contacts {
  display: none;
  order: 4;
  @include desktop {
    display: grid;
    margin-left: 15px;
  }
}
.search {
  display: none;
  @include desktop {
    display: grid;
    order: 5;
  }
}