.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background: $color-bg;
  border-bottom: 1px solid $color-border;
  z-index: 200;
  @include tablet {
    padding: 0 15px;
  }
  @include desktop {
    border-bottom: 0;
    padding: 0 35px;
    height: 80px;
  }
  @include mobile {
    &--hidden {
      transform: translateY(-60px);
    }
  }

  @include tablet {
    &--hidden {
      transform: none;
    }
  }

  &-container {
    display: grid;
    align-items: center;
    transition: grid-template-columns 0.3s ease, gap 0.3s ease;

    @include tablet {
      grid-template-columns: 200px 1fr min-content 80px 80px 50px 50px;
      gap: 15px;
    }
    @include desktop {
      grid-template-columns: 200px min-content min-content 1fr 380px min-content min-content min-content;
      gap: 20px;
    }
  }
}

.header--search-open {
  position: relative;
  z-index: 320;
  background: $color-bg;

  .header-container {
    gap: 0;
    @include tablet {
      grid-template-columns: 1fr;
    }
    @include desktop {
      grid-template-columns: 0 0 0 0 1fr 0 0;
    }

    > :not(.search) {
      opacity: 0;
      pointer-events: none;
      // transform: translateX(-160%);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  }

  .search {
    width: 100%;

    .search-wrapper {
      width: 100%;
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 120px;
  &-img {
    width: auto;
    height: auto;
    @include tablet {
      width: 100%
    }
  }
  
  @include desktop {
    width: 100%;
    justify-content: flex-start;
    justify-self: initial;
  }
}
:deep(.header-btn) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  width: 100%;
  @include desktop {
    height: 80px;
  }
}

// .profile {
//   display: block;
//   @include tablet {
//     order: 6;
//   }
//   @include desktop {
//     order: 7;
//   }
// }
// .cart {
//   @include tablet {
//     order: 7;
//   }
//   @include desktop {
//     order: 8;
//   }
// }
// .menu {
//   @include tablet {
//     order: 3;
//     border-right: 0;
//   }
// }
// .catalog {
//   display: none;
//   @include tablet {
//     display: flex;
//     order: 2;
//   }
// }
// .blank {
//   display: none;
//   order: 4;
//   @include desktop {
//     display: block;
//   }
// }
// .search-btn {
//   @include tablet {
//     display: flex;
//     order: 5;
//   }
//   @include desktop {
//     display: none;
//   }
// }
// .search {
//   display: none;
//   @include desktop {
//     display: grid;
//     order: 5;
//   }
// }
