@import './assets/scss/vars';
@import './assets/scss/mixins';

.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 60px 60px 1fr 60px;
  align-items: center;
  width: 100%;
  height: 60px;
  background: $color-1;
  z-index: 100;

  @include _tablet {
    height: 80px;
    grid-template-columns: 80px 80px 1fr 80px 80px 80px 80px;
  }

  @include _desktop {
    grid-template-columns: 80px 80px 230px 230px 1fr 80px 80px 80px;
    padding: 0 30px;
  }

  @include _large-desktop {
    padding: 0 45px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &-img {
    width: 30px;
    height: 28px;
  
    @include _tablet {
      width: 55px;
      height: 51px;
    }
  }

  @include _tablet {
    order: 1;
  }

  @include _desktop {
    justify-content: flex-start;
  }
}

:deep(.header-btn) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  width: 100%;
  color: $color-8;

  @include _tablet {
    height: 80px;
  }

  .hint {
    display: none;

    @include _tablet {
      display: block;
      font-size: 12px;
      color: $color-3;
    }
  }
}

.languages {
  display: none;

  @include _tablet {
    display: flex;
    order: 4;
  }

  @include _desktop {
    order: 6;
  }
}

.profile {
  display: none;

  @include _tablet {
    display: block;
    order: 6;
  }

  @include _desktop {
    order: 7;
  }
}

.cart {
  @include _tablet {
    order: 7;
  }

  @include _desktop {
    order: 8;
  }
}

.menu {
  border-right: 1px solid $color-11;

  @include _tablet {
    order: 2;
  }
}

.catalog {
  display: none;

  @include _tablet {
    display: flex;
    order: 3;
  }

  @include _desktop {
    margin-right: 15px;
  }
}

.search-btn {
  display: none;

  @include _tablet {
    display: flex;
    order: 5;
  }

  @include _desktop {
    display: none;
  }
}

.contacts {
  display: none;
  order: 4;

  @include _desktop {
    display: grid;
    margin-left: 15px;
  }
}

.search {
  // display: none;
  @include _desktop {
    display: grid;
    order: 5;
  }
}