@import './assets/scss/vars';
@import './assets/scss/mixins';

.available {
  display: inline-block;
  text-align: center;
  color: $color-green;

  .icon {
    margin: -2px 0 0px 0;
    font-size: 1.3em;
  }

  .in_stock {
    // color: #2CAE21;
    color: $color-green;

    & + .running_out {
      color: $color-3;
    }
  }

  .running_out {
    color: $color-red;
  }

  .not_available {
    color: $color-2;
  }

  &-item {
    & + .available-item {
      &:before {
        content: '/';
        padding: 0 5px;
      }
    }
  }
}