@import './assets/scss/vars';
@import './assets/scss/mixins';

.review {
  width: 100%;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 5px 0;

    @include _desktop {
      margin: 0 0 10px 0;
    }
  }

  &-name {
    font-size: 14px;
    font-weight: 500;
  }

  &-date {
    color: $color-4;
    font-size: 12px;

    @include _desktop {
      font-size: 14px;
    }
  }

  &-content {
    line-height: 160%;
    color: $color-2;

    &-wrapper {
      overflow: hidden;
      max-height: 72px;

      @include _desktop {
        max-height: 80px;
      }

      &.active {
        max-height: initial;
      }
    }
  }

  .more-btn {
    margin-top: 5px;
  }
}