@import './assets/scss/vars';
@import './assets/scss/mixins';

.sale {
  &-list {
    display: grid;
    grid-gap: 20px;
  }

  &-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  &-label {
    color: $color-3;
  }

  &-value {
    text-align: right;

    &.large {
      font-size: 20px;
    }
  }

  &-footer {
    padding: 20px 0;
    border-top: 1px solid $color-6;
    border-bottom: 1px solid $color-6;
  }

  &-button {
    width: 100%;
  }
}