@import './assets/scss/vars';
@import './assets/scss/mixins';

.review {
  
  &-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-bottom: 30px;
    padding: 0 0 30px 0;
    border-bottom: 1px solid $color-5;

    @include _desktop {
      grid-template-columns: 1fr min-content;
      padding: 30px 0;
    }

    &-title {
      width: 100%;
      font-size: 24px;
      line-height: 120%;
      text-transform: uppercase;
    }
  }

  &-grid {
    display: grid;
    grid-gap: 30px;
    width: 100%;
  }

  &-card {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid $color-5;

    &:last-child {
      border-bottom: 0;
    }
  }
}