.rating {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 10px;
  width: 100vw;
  padding: 0 15px 15px 15px;
  margin: 0 -15px;
  @include desktop {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  &-amount {
    font-size: 50px;
    line-height: 100%;
  }
  &-desc {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
  }
  &-label {
    color: $color-4;
    white-space: nowrap;
  }
}
.review {
  &-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid $color-border;
    padding: 20px 0 30px 0;

    @include desktop {
      border: 0;
      flex-direction: row;
      padding: 30px 0;
    }
  }
  &-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100vw;
    padding: 0 15px;
    margin: 0 -15px 20px -15px;

    @include desktop {
      // grid-template-columns: 1fr min-content;
      padding: 0;
      width: 100%;
      margin: 0 0 30px 0;
      border: 0;
      gap: 20px;
    }

    &-title {
      width: 100%;
      font-size: 16px;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
    }
    &-reward {
      width: 100%;
    }
  }
  &-grid {
    display: grid;
    gap: 10px;
    width: 100%;
    margin: 30px 0 0 0;

    @include desktop {
      gap: 30px;
    }
  }
  &-card {
    width: 100%;
  }
}
.no-reviews {
  margin-top: 20px;
  color: $color-3;

  @include desktop {
    margin-top: 30px;
  }
}