.category {
  overflow: hidden;
  &:hover {
    .category-name {
      color: $color-green;
    }
  }
  &-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80px;
    grid-gap: 10px;
    padding: 0 15px;
    margin: 0 auto 20px auto;
    overflow-x: scroll;
    overflow-y: hidden;
    @include desktop {
      padding: 0 0;
      grid-auto-columns: 100px;
      grid-gap: 20px;
      margin: 40px auto;
      @include scrollbar-x;
    }
  }
  &-image {
    width: 80px;
    height: 80px;
    border-radius: $radius;
    object-fit: cover;
    @include desktop {
      width: 100px;
      height: 100px;
    }
  }
  &-name {
    margin-top: 10px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    hyphens: auto;
    @include desktop {
      font-size: 14px;
    }
  }
}