@import './assets/scss/vars';
@import './assets/scss/mixins';

.category {
  overflow: hidden;

  &:hover {
    .category-name {
      color: $color-green;
    }
  }

  &-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80px;
    grid-gap: 10px;
    padding: 0 15px;
    margin: 0 0 20px 0;
    overflow-x: scroll;
    overflow-y: hidden;

    @include _desktop {
      padding: 0 35px;
      grid-auto-columns: 100px;
      grid-gap: 20px;
      margin: 40px 0;

      @include _scrollbar-x;
    }
  }

  &-image {
    width: 80px;
    height: 80px;
    border-radius: $radius;
    object-fit: cover;

    @include _desktop {
      width: 100px;
      height: 100px;
    }
  }

  &-name {
    margin-top: 10px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    hyphens: auto;

    @include _desktop {
      font-size: 14px;
    }
  }
}