
.category {
  overflow: hidden;
  width: 120px;
  min-width: 120px;
  // background-color: $color-green;
  background-color: #6bb967;
  border-radius: $radius;
  transition: background-color .3s;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  
  @include desktop {
    background-color: $color-green;
  }

  &.router-link-active {
    background-color: $color-orange;

    .category-name {
      color: $color-8 !important;
    }
  }
  &:hover {
    @include desktop {
      background-color: $color-orange;
    }
  }
  &-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: 10px;
    padding: 15px;
    margin: -20px auto 20px auto;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: padding 0.3s, gap 0.3s, grid-auto-columns 0.3s;

    @include mobile {
      background-color: $color-green;
    }

    @include desktop {
      padding: 0 0;
      grid-auto-columns: max-content;
      gap: 10px;
      margin: 20px auto;
      @include scrollbar-x;
    }

    &.is-stuck {
      @include mobile {
        gap: 5px;
        padding: 5px 5px 5px 0;
        .category {
          width: max-content;
          min-width: initial;
          padding-right: 15px;
          display: flex;
          align-items: center;
          gap: 3px;

          &-image {
            // width: 50px;
            // height: 50px;
            transform: scale(0.4);
            animation: nameBlick 0.3s;

            &-wrapper {
              width: 50px;
              height: 50px;
            }
          }

          &-name {
            text-align: left;
            padding: 0;
            font-size: 12px;
            animation: nameBlick 0.3s;
          }

          &.category--back {
            position: sticky;
            left: 0;
            padding-right: 0;
            width: 50px;
            min-width: 50px;
            min-height: 50px;
            justify-content: center;
            z-index: 1;
            background-color: transparent;
            backdrop-filter: blur(10px);
          }
        }
      }
    }
  }
  &-image {
    position: absolute;
    width: 120px;
    height: 120px;
    max-width: initial;
    max-height: initial;
    object-fit: contain;
    padding: 5px;
    transform-origin: top left;
    transition: transform 0.3s;

    @include desktop {
      width: 120px;
      height: 120px;
    }

    &-wrapper {
      position: relative;
      width: 120px;
      height: 120px;
      flex-shrink: 0;
      // transition: width 0.3s, height 0.3s;

      @include desktop {
        width: 120px;
        height: 120px;
      }
    }
  }
  &-name {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    hyphens: auto;
    padding: 7px 3px 7px 3px;
    color: $color-8;
    @include desktop {
      font-size: 12px;
    }
  }

  &--back {
    width: 80px;
    min-width: 80px;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  &-back-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $color-8;
  }
}

@keyframes nameBlick {
  0% {
    // opacity: 0;
    filter: blur(5px);
  }
  100% {
    // opacity: 1;
    filter: blur(0);
  }
}
