@import './assets/scss/vars';
@import './assets/scss/mixins';


.zoom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 300px;
  background: $color-8;
  border: 3px solid $color-green;
  border-radius: $radius;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0 0 25px rgba(0,0,0,0.15);

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 1200px;
    object-fit: cover;
    object-position: left top;
    overflow: visible;
  }
}

.thumbnail {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  height: 230px;
  grid-gap: 5px;
  padding: 0 15px;
  overflow-x: scroll;

  @include _desktop {
    grid-auto-flow: row;
    grid-auto-columns: 85px;
    grid-auto-rows: 85px;
    grid-gap: 3px;
    height: 530px;
    padding: 0 3px 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    @include _scrollbar;
  }

  &-btn {
    position: relative;
    width: auto;
    height: 230px;
    border: 1px solid $color-5;
    border-radius: $radius;

    @include _desktop {
      width: 85px;
      height: 85px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 14px;
      border: 2px solid $color-8;
      background: $color-green;
      border-radius: 100%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0;
      transition: opacity $speed, width $speed, height $speed, border $speed;
    }

    @include _desktop {
      &.active {
        border: 1px solid $color-green;

        &:after {
          opacity: 1;
        }
      }

      &:hover {
        &:after {
          width: 20px;
          height: 20px;
          border: 8px solid $color-8;
          opacity: 1;
        }
      }
    }
  }

  &-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 228px;
    object-fit: contain;
    border-radius: $radius;

    @include _desktop {
      position: absolute;
      height: 100%;
      object-fit: cover;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  @include _desktop {
    grid-template-columns: 93px 1fr;
    grid-gap: 20px;
    height: 530px;
  }

  &.length-1 {
    .thumbnail {
      grid-auto-columns: 100%;
    }

    @include _desktop {
      grid-template-columns: 1fr;
      
      .thumbnail {
        display: none;
      }
    }
  }
}

.main {
  display: none;

  @include _desktop {
    display: block;
    position: relative;
    width: 100%;
    height: 530px;
    border-radius: $radius;
    overflow: hidden;
  
    &-image {
      max-width: 100%;
      max-height: 100%;
      height: 100%;
      margin: auto;
      object-fit: contain;
    }
  }


  @include _desktop {
    .cursor {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 120;
      border: 2px solid rgba($color-green, 0.6);
      background: rgba($color-8, 0.3);
      pointer-events: none;
    }
  }
}