.category {
  // &-wrapper {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   overflow-y: auto;
  //   @include scrollbar;
  //   @include desktop {
  //     display: block;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     padding: 20px 20px 20px 20px;
  //     width: 375px;
  //     background: $color-6;
  //   }
  // }
  &-inner {
    display: grid;
    grid-auto-flow: row;

    @include desktop {
      grid-auto-columns: 1fr;
      padding: 20px;
    }
  }
  &-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
    text-align: left;
    line-height: 120%;
    padding: 5px 0;
    border-radius: $radius;
    transition: background $speed, color $speed;

    @include desktop {
    }
    &:last-of-type {
      margin: 0;
    }
    &.active, &:hover {
      color: $color-primary;

      .category-name {
        color: $color-primary;
      }
      // background: $color-border;
    }
    &:hover {
      // background: $color-bg;
      color: $color-primary;
    }
  }
  &-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: $radius;
    background-color: $color-bg-2;
  }
  &-name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: $color-0;
    @include desktop {
      font-size: 14px;
    }
  }
  &-icon {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
  }
}