.category {
  // &-wrapper {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   overflow-y: auto;
  //   @include scrollbar;
  //   @include desktop {
  //     display: block;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     padding: 20px 20px 20px 20px;
  //     width: 375px;
  //     background: $color-6;
  //   }
  // }
  &-inner {
    display: grid;
    grid-auto-flow: row;

    @include desktop {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }
  &-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
    text-align: left;
    line-height: 120%;
    padding: 5px 0;
    border-radius: $radius;
    transition: background $speed, color $speed;

    @include desktop {
      flex-direction: column;
      justify-content: center;
      padding: 60px 20px;
    }
    &:last-of-type {
      margin: 0;
    }
    &.active {
      color: $color-primary;
      background: $color-5;
    }
    &:hover {
      background: $color-bg;
      color: $color-primary;
    }
  }
  &-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: $radius;
    background-color: $color-bg-2;

    @include desktop {
      width: 100px;
      height: 100px;
      background: none;
    }
  }
  &-name {
    text-transform: uppercase;
    font-size: 12px;
    @include desktop {
      font-size: 16px;
      font-weight: 500;
    }
  }
  &-icon {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 24px;
  }
}