@import './assets/scss/vars';
@import './assets/scss/mixins';

.promocode{
  &-wrapper {
    text-align: right;
  }

  &-action {
    margin: 0 auto 0 0;
    color: $color-violet;
  }

  &-form {

  }

  &-sale {
    color: $color-red;
  }

  &-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 15px 0 0 0;
  }

  &-card {
    text-align: left;
    width: calc(100% + 20px);
    padding: 10px;
    margin: 0 -10px;
    border-radius: $radius;
    background: rgba($color-violet, 0.07);
  }

  &-header {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-gap: 15px;
    margin: 0 0 15px 0;
  }

  &-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-name {
    font-size: 14px;
    line-height: 135%;
  }

  &-remove-btn {
    width: 30px;
    height: 30px;
    background: $color-8;
    border-radius: $radius;
    border: 1px solid $color-6;
    transition: color .3s, border .3s;

    &:hover {
      color: $color-red;
      border: 1px solid rgba($color-red, 0.3);
    }
  }
}