@import './assets/scss/vars';
@import './assets/scss/mixins';

.params {
  position: relative;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  background: rgb(255,255,255);


  .icon {
    font-size: 30px;
    color: $color-green;
  }
}

.left-btn {
  left: -15px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);


  .icon {
    margin-right: 15px;
  }
}

.right-btn {
  right: -15px;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);

  .icon {
    margin-left: 15px;
  }
}

.list {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 25px;
  overflow-y: auto;
  width: 100vw;
  margin: 0 -15px;
  padding: 20px 50px 20px 15px;
  scroll-behavior: smooth;

  &-item {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
  }

  &-label {
    min-width: 50px;
    width: 100%;
    white-space: nowrap;
    color: $color-4;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
  }

  &-value {
    white-space: nowrap;
  }
}