.vp {
  position: relative;
  display: grid;
  align-items: center;
  line-height: normal;
  grid-template-columns: 1fr;
  gap: 30px;
  overflow: hidden;
  margin: 0 -15px 50px -15px;

  @include desktop {
    margin: initial;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    border-radius: 0;
  }

  @include ld {
    gap: 40px;
  }

  &__intro {
    position: relative;
    display: grid;
    // grid-template-columns: 80px 1fr;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    gap: 15px;
    z-index: 10;
    padding: 40px;
    background-color: $color-orange;
    border-radius: 50px;
    margin: 0 15px;

    @include desktop {
      grid-template-columns: initial;
      padding: 20px 20px;
      gap: 30px;
      height: 100%;
      text-align: center;
      margin: 0;
    }

    @include ld {
      padding: 40px 70px;
      margin: 0 15px;
    }

    &-btn {
      flex-direction: column;
      padding: 0;
      color: $color-8;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      border: 2px solid $color-8;
      background-color: rgba($color-8, 0.15);
      transition: background 0.3s;
      aspect-ratio: 1/1;
      height: initial;
      white-space: normal;
      border-radius: 50px;
      cursor: pointer;

      @include desktop {
        flex-direction: row;
        font-size: 16px;
        aspect-ratio: initial;
        padding: 10px;
      }

      @include ld {
        flex-direction: column;
        aspect-ratio: 1/1;
        padding: 0;
      }

      &:hover {
        background-color: rgba($color-8, 0.3);
      }
      .icon {
        position: relative;
        left: 0;
        font-size: 30px;
      }
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      background-size: cover;
      background-blend-mode: luminosity;
      background-color: $color-orange;
      opacity: 0.7;
    }
  }

  &__box {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 50%);

    @include desktop {
      grid-template-columns: 1fr;
    }

    @include ld {
      grid-template-columns: repeat(2, 50%);
    }
  }
  &__sub {
    position: relative;
    z-index: 1;
    text-align: center;
  }

  &__coin {
    position: relative;
    height: 220px;
    z-index: 1;
    display: grid;
    place-items: center;
    align-self: flex-start;

    @include desktop {
      align-self: initial;
      height: 150px;
    }
    @include ld {
      height: 220px;
    }

    &-img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50vw;
      height: auto;
      object-fit: contain;
      transform: translateX(-50%);

      @include desktop {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__title {
    font-size: 36px;
    color: $color-8;
    font-weight: 900;

    @include desktop {
      font-size: 42px;
    }

    @include ld {
      font-size: 64px;
    }
  }

  &__desc {
    font-size: 15px;
    color: rgba($color-8, 0.85);

    @include desktop {
      margin: 10px 0 0 0;
    }
  }

  &__rate {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 10px;
    width: 100%;
    padding: 0 40px;
    background: $color-bg-2;
    border-radius: 50px;
    color: $color-orange;
    aspect-ratio: 1/1;
    // grid-column-start: 1;
    // grid-column-end: 3;

    @include desktop {
      grid-column-start: initial;
      grid-column-end: initial;
      gap: 10px;
      padding: 0 15px;
      aspect-ratio: initial;
    }

    @include ld {
      aspect-ratio: 1/1;
      gap: 20px;
      padding: 0 40px;
    }

    &-img {
      position: absolute;

      @include desktop {
        position: relative;
      }

      @include ld {
        position: absolute;
      }

      &--1 {
        top: 15px;
        left: 15px;

        @include desktop {
          top: 0;
          left: 0;
        }

        @include ld {
          top: 15px;
          left: 15px;
        }
      }
      &--2 {
        bottom: 15px;
        right: 15px;

        @include desktop {
          bottom: 0;
          right: 0;
        }

        @include ld {
          bottom: 15px;
          right: 15px;
        }
      }
    }
    &-num {
      position: absolute;
      max-width: 30%;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;

      @include desktop {
        position: relative;
        font-size: 10px;
      }

      @include ld {
        position: absolute;
        font-size: 14px;
      }

      &--1 {
        top: 35px;
        right: 20px;
        transform: translateY(-50%);
        text-align: right;

        @include desktop {
          top: 0;
          right: 0;
          transform: translateY(0);
        }

        @include ld {
          top: 40px;
          right: 25px;
          transform: translateY(-50%);
        }
      }

      &--2 {
        bottom: 35px;
        left: 20px;
        transform: translateY(50%);
        text-align: left;

        @include desktop {
          bottom: 0;
          left: 0;
          transform: translateY(0);
        }
        @include ld {
          bottom: 40px;
          left: 25px;
          transform: translateY(50%);
        }
      }
    }

    &-swap {
      font-size: 40px;
    }

    img {
      width: 40px;
      height: 40px;

      @include desktop {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__grid {
    position: relative;
    max-width: 1600px;
    margin: 12px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    padding: 0 15px;
    overflow-y: auto;
    z-index: 10;

    @include desktop {
      column-gap: 15px;
      row-gap: 30px;
      grid-template-columns: repeat(4, 1fr);
      overflow-y: initial;
      width: initial;
      padding: 0;
    }

    @include ld {
      column-gap: 40px;
    }
  }

  &__h {
    grid-column: span 2;
    font-size: 18px;
    color: $color-green;
    font-weight: 600;
    margin:0;
    text-align: left;

    @include desktop {
      font-size: 24px;
      text-align: center;
    }

    &--left { order: -2; }
    &--right {
      color: $color-orange;
      order: 3;

        order: -1;
      // @include desktop {
      //   order: -1;
      // }
    }
  }

  &__card {
    position: relative;
    border-radius: 50px;
    padding: 10px 0 10px 0;
    overflow: hidden;
    display: grid;
    grid-template-rows:  1fr min-content;
    align-content: end;
    min-height: 440px;
    width: 60vw;
    background-color: $color-bg-2;

    @include desktop {
      order:initial;
      min-height: 480px;
      grid-template-rows:  initial;
      padding: 40px 15px;
      width: initial;
    }

    @include ld {
      padding: 40px;
      min-height: 640px;
    }

    &--green { 
      // background: $color-green; 
      // border: 5px solid $color-green;
      color: $color-green;
      &::before {
        color: $color-green !important;
      }
    }
    &--orange { 
      // background: $color-orange; 
      // border: 5px solid $color-orange;
      color: $color-orange;
      &::before {
        color: $color-orange !important;
      }
    }

    // большое число на фоне
    &::before {
      content: attr(data-step);
      position: absolute;
      top: 0;
      left: 0;
      font-size: 450px;
      line-height: 0.8;
      font-weight: 700;
      color: $color-bg;
      transform: translateX(-90px) translateY(-13px);
      pointer-events: none;
      mix-blend-mode: normal;

      @include desktop {
        font-size: 500px;
      }
    }

    &[data-step="1"] {
      order:1;
      &::before {
        left: 50px;
      }
    }
    &[data-step="2"] {
      order:2;
    }
    &[data-step="3"] {
      order:4;
      &::before {
        left: -15px;
      }
    }
    &[data-step="4"] {
      order:5;
    }
  }

  &__person {
    position: relative;
    display: grid;
    place-items: center;
    pointer-events: none;
    object-fit: contain;
    z-index: 2;

    @include desktop {
      position: absolute;
      inset: auto 0 110px 0;
    }
    
    img {
      height: auto;
      display: block;
    }
  }

  &__text {
    position: relative;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;

    @include desktop {
      height: 45px;
      padding: 0;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

// .rain-img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 1000px;
//   height: 1000px;
// }
