.vp {
  display: grid;
  align-items: center;
  line-height: normal;
  grid-template-columns: 1fr;
  gap: 40px;

  @include desktop {
    grid-template-columns: 1fr 4fr;
    gap: 180px;
  }

  &__intro {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    gap: 30px;
    text-align: center;
  }

  &__coin {
    display: grid;
    place-items: center;
  }

  &__title {
    font-size: 64px;
    color: $color-primary;
    font-weight: 900;
  }

  &__desc {
    margin: 10px 0 0 0;

    @media (max-width: 900px) { max-width: 680px; }
  }

  &__rate {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 20px;
    height: 100px;
    padding: 0 40px;
    background: $color-bg-2;
    border-radius: 50px;
    color: $color-orange;

    &-num {
      font-size: 40px;
      font-weight: 600;
    }

    &-swap {
      font-size: 40px;
    }
  }

  &__grid {
    max-width: 1600px;
    margin: 12px auto 0;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 65px;
    row-gap: 30px;

    // @media (max-width: 1200px) { grid-template-columns: repeat(2, 1fr); }
    // @media (max-width: 640px) { grid-template-columns: 1fr; }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__h {
    text-align: center;
    font-size: 24px;
    color: $color-green;
    margin:0;

    @include desktop {
      grid-column: span 2;
    }

    &--left { order: -2; }
    &--right {
      color: $color-orange;
      order: 3;

      @include desktop {
        order: -1;
      }
    }
  }

  &__card {
    position: relative;
    border-radius: 50px;
    padding: 40px;
    padding: 10px 0 40px 0;
    overflow: hidden;
    display: grid;
    grid-template-rows:  1fr min-content;
    align-content: end;
    min-height: 440px;

    @include desktop {
      order:initial;
      min-height: 640px;
      grid-template-rows:  initial;
      padding: 40px;
    }
    &--green { background: $color-green; }
    &--orange { background: $color-orange; }

    // большое число на фоне
    &::before {
      content: attr(data-step);
      position: absolute;
      top: 0;
      left: 0;
      font-size: 500px;
      line-height: 0.8;
      font-weight: 700;
      color: $color-bg;
      transform: translateX(-90px) translateY(-13px);
      pointer-events: none;
      mix-blend-mode: normal;
    }

    &[data-step="1"] {
      order:1;
      &::before {
        left: 50px;
      }
    }
    &[data-step="2"] {
      order:2;
    }
    &[data-step="3"] {
      order:4;
    }
    &[data-step="4"] {
      order:5;
    }
  }

  &__person {
    position: relative;
    display: grid;
    place-items: center;
    pointer-events: none;
    object-fit: contain;
    z-index: 2;

    @include desktop {
      position: absolute;
      inset: auto 0 110px 0;
    }
    
    img {
      height: auto;
      display: block;
    }
  }

  &__text {
    position: relative;
    margin: 0;
    height: 45px;
    text-align: center;
    color: $color-8;
    font-weight: 700;
    font-size: 20px;

    @include desktop {
      font-size: 16px;
    }
  }
}
