@import './assets/scss/vars';
@import './assets/scss/mixins';

.select-wrapper {
  position: relative;
  display: block;
  width: 100%;

  &.disabled {
    pointer-events: none;
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &.active {
    .dropdown {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
      transition: visibility 0s 0s, opacity 0.3s, transform .3s;
    }
  }

}

.main-input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  border: none;
  background-color: $color-6;
  border-radius: $radius;
  cursor: pointer;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #333333 inset;
      -webkit-text-fill-color: #ffffff !important;
      transition: background-color 2500000s ease-in-out 0s;
  }

  &:disabled { 
    & + .custome-placeholder__wrapper {
      opacity: 0.6;
    }
  }
}

.dropdown {
  display: none;
  position: absolute;
  left: 0px;
  top: calc(100% + 5px);
  width: 100%;
  max-height: 280px;
  background-color: $color-7;
  border-radius: 14px;
  z-index: 4;
  overflow: auto;
  padding: 10px 0px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-25px);
  transition: visibility 0s .3s, opacity .3s, transform 0;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  // scroll
  scrollbar-color: rgba(79, 79, 79, 0.5) white;
  scrollbar-width: 5px;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
      width: 5px;
  }

  &::-webkit-scrollbar-thumb {
      background: rgba(79, 79, 79, 0.5);
      border-radius: 2px;
  } 

  @include _tablet {
    display: block;
  }

  &-mobile {

    @include _tablet {
      display: none;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  padding: 17px 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-7;
  }
}
