.video {
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
    line-height: normal;

    @include desktop {
      grid-template-columns: 1fr 2fr;
      gap: 40px;
    }

    @include ld {
      grid-template-columns: 2fr 5fr;
      gap: 120px;
    }
  }

  &-info {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    padding-bottom: 0;
    gap: 20px;

    @include desktop {
      padding-bottom: 20px;
      gap: 20px;
    }
    @include ld {
      gap: 40px;
    }

    &-title {
      font-size: 36px;
      color: $color-primary;
      font-weight: 900;

      @include desktop {
        font-size: 36px;
      }
      @include ld {
        font-size: 64px;
      }
    }

    &-desc {

    }

    &-buttons {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;

      @include desktop  {
        grid-template-columns: repeat(2, min-content);
      }

      @include ld  {
        gap: 20px;
      }
    }
  }

  &-items {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80vw;
    gap: 15px;
    overflow-x: auto;
    margin: 0 -15px;
    padding: 0 15px;


    @include desktop {
      grid-auto-columns: minmax(min-content, 350px);
      overflow-x: initial;
      gap: 15px;
    }

    @include ld {
      gap: 40px;
    }
  }

  &-item {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;


    @include desktop {

    }
  }
}

