.video {
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
    line-height: normal;

    @include desktop {
      grid-template-columns: 1fr 3fr;
      gap: 120px;
    }
  }

  &-info {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    padding-bottom: 0;
    gap: 20px;

    @include desktop {
      padding-bottom: 130px;
      gap: 40px;
    }

    &-title {
      font-size: 44px;
      color: $color-primary;
      font-weight: 900;

      @include desktop {
        font-size: 64px;
      }
    }

    &-desc {

    }

    &-buttons {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      @include desktop {
        grid-template-columns: repeat(2, min-content);
        gap: 30px;
      }
    }
  }

  &-items {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80vw;
    gap: 40px;
    overflow-x: auto;


    @include desktop {
      grid-auto-columns: 1fr;
      overflow-x: initial;
    }
  }

  &-item {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;


    @include desktop {

    }
  }
}

