@import './assets/scss/vars';
@import './assets/scss/mixins';

.product-static-wrapper {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 20px;
  width: 100%;

  @include _desktop {
    grid-template-columns: 100px 1fr;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: $radius;

  &-wrapper {
    width: 50px;
    height: 80px;
    flex-shrink: 0;
    border: 1px solid $color-6;
    border-radius: $radius;

    @include _desktop {
      width: 100px;
      height: 100px;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}

.body {
  position: relative;
  display: grid;
  grid-template-rows: 12px 1fr;
  grid-gap: 5px;
  width: 100%;

  @include _desktop {
    grid-template-rows: min-content min-content;
  }

  .code {
    font-size: 10px;
    text-transform: uppercase;

    @include _desktop {
      font-size: 12px;
    }

    .value {
      color: $color-3;
      // font-weight: 500;
      // font-size: 14px;
    }
  }

  .name {
    display: -webkit-box;
    overflow: hidden;
    height: 65px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 12px;
    line-height: 140%;


    @include _desktop {
      height: 44px;
      font-size: 16px;
      -webkit-line-clamp: 2;
    }
  }
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 14px;

  @include _desktop {
    grid-column-start: initial;
    grid-column-end: initial;
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .price {
    :deep(.value) {
      font-weight: 400;
    }

    &-ditails {
      display: grid;
      grid-template-columns: repeat(3, min-content);
      grid-gap: 10px;
    }

    &-delimiter {
      color: $color-4;
    }
    
  }
  
}