.product {
  width: 100%;
  &-inner {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 15px;
  }
}
.image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  flex-shrink: 0;
  border-radius: $radius;
  background-color: $color-bg-2;
}
.body {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-gap: 5px;
  width: 100%;
  padding: 2px 0;
  min-height: 60px;

  .code {
    font-size: 10px;
    text-transform: uppercase;
    @include desktop {
      font-size: 12px;
    }
    .value {
      color: $color-3;
      // font-weight: 500;
      // font-size: 14px;
    }
  }
  .name {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 12px;
    line-height: 140%;
    @include desktop {
      font-size: 16px;
      -webkit-line-clamp: 2;
    }
  }
}
.price-block{
  grid-gap: 5px;
  font-size: 12px;
  font-weight: 500;
  flex-direction: row;
  align-items: flex-end;
}