@import './assets/scss/vars';
@import './assets/scss/mixins';

.copy-referral-link {
  position: absolute;
  right: 10px;
  top: 50%;
  padding: 10px;
  transform: translateY(-50%);
  transition: color 0.4s;

  .icon{
    font-size: 20px;

    &:hover {
      color: $color-primary;
    }
  }
}