@import './assets/scss/vars';
@import './assets/scss/mixins';

.contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;

  @include _desktop {
    grid-template-columns: 4fr 5fr 4fr;

  }

  &-block {
    display: grid;
    grid-gap: 10px;
  }

  &-wrapper {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 30px;
  }

  &-label {
    font-size: 14px;
    font-weight: 400;
    color: $color-4;
  }

  &-value {
    display: block;
    font-size: 16px;
    line-height: 140%;

    &:hover {
      color: $color-green;
    }

    @include _desktop {
      font-size: 20px;
    }
  }
}

.phone {
  display: grid;
  grid-gap: 15px;
}

.map {
  &-wrapper {
    border-radius: $radius;
    border: 3px solid $color-6;
  }

  &-iframe {
    width: 100%;
    height: 320px;

    @include _desktop {
      height: 100%;
    }
  }
}
.form {
  &-wrapper {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 20px;
    padding: 40px 20px;
    height: min-content;
    border: 3px solid $color-6;
    border-radius: $radius;
    background: $color-7;

    @include _desktop {
      padding: 40px;

    }
  }

  &-label {
    margin-bottom: 10px;
    font-size: 20px;
    color: $color-green;
  }

  &-button {
    width: 100%;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;

  &-item  {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-gap: 7px;
    align-items: center;
    height: 40px;
    width: min-content;
    padding: 0 15px;
    margin: 0 15px 15px 0;
    border-radius: $radius;

    &:last-child {
      margin: 0;
    }
  }

  &-icon {
    font-size: 20px;
  }

  &-text {
    font-weight: 500;  
  }
}