.icon {
  font-size: 26px;

  @include desktop {
    font-size: 34px;
  }
}

.search {
  &-field {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  &-input {
    height: 60px;
    width: 100%;
    outline: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding-right: 40px;
  }
  &-close-btn {
    position: absolute;
    right: 0;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.7;
    }

    .icon {
      font-size: 20px;

      @include desktop {
        font-size: 24px;
      }
    }
  }
  &-wrapper {
    display: flex;
    position: relative;
    z-index: 10;
    height: 60px;
    gap: 10px;
    transition: width 0.3s, padding 0.3s;
    
    &.active {
      position: relative;
      left: 0;
      padding: 0 20px;
      width: calc(100vw - 30px);
    }
  }
}