.comp-btn {
  position: relative;
  
  .budge {
    position: absolute;
    top: -2px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background: $color-blue;
    font-size: 8px;
    font-weight: 700;
    color: $color-8;
  }
}